{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Nablas forslagskasse{% endblock %}

{% block content %}

<h1>Kontakt</h1>

<div>
    <h3>For bedriftshenvendelser</h3>
    <p>
    Kontakt bedriftskontakten på <a href="mailto:bedkom@nabla.no">bedkom@nabla.no</a>.
    <br>
    Ev. <a href="mailto:eureka@nabla.no">eureka@nabla.no</a> for henvendelser vedrørende <b>karrieredagen Eureka.</b>
    </p>
</div>


<h3>Kontaktinfo til styret</h3>

<table class="table table-striped table-bordered" style="width:100%">
    {% for element in board_emails %}
        <tr>
            <th>{{ element.0 }}</th>
            <td><a href="mailto:{{ element.1 }}@nabla.no">{{ element.1 }}@nabla.no</a></td>
        </tr>
    {% endfor %}
</table>

<h3>Øvrige gruppeleder- og stillings-epost</h3>

<table class="table table-striped table-bordered" style="width:100%">
    {% for element in nabla_pos_emails %}
        <tr>
            <th>{{ element.0 }}</th>
            <td><a href="mailto:{{ element.1 }}@nabla.no">{{ element.1 }}@nabla.no</a></td>
        </tr>
    {% endfor %}
</table>

<h3>Epost til undergruppene</h3>

<table class="table table-striped table-bordered" style="width:100%">
    {% for element in group_emails %}
        <tr>
            <th>{{ element.0 }}</th>
            <td><a href="mailto:{{ element.1 }}@nabla.no">{{ element.1 }}@nabla.no</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block sidebar %}
<h1>Nabla - kontakt</h1>
<p>
Har du en superkul idé til noe nytt vi kan gjøre i Nabla? Savner du noe, eller har du en tilbakemelding til oss som drifter linjeforeningen?
Styret ønsker gjerne hjelp fra dere alle til å gjøre Nabla til en best mulig linjeforening. Vi ønsker derfor alle mulige tilbakemeldinger dersom du har noe på hjertet, enten det er ris eller ros. Det kan være alt fra et ønskearrangement for Arrkom til eventuelle problem eller forbedringer i Nabla.  Du velger selv om du ønsker å være anonym eller gi oss ditt navn. Alle tilbakemeldinger og forslag vil gjennomgås på styremøter og behandles av Styret.  Dersom saken angår noen i Styret, kan du gjerne benytte deg av PostKom som et mellomledd for klager til Styret.
</p>
<p>
Du kan også bruke skjemaet til å sende en melding til de tillitsvalgte ved instituttene. ITV-ene tar imot blant annet  forslag til faglige eller studierelaterte endringer. De vil bringe forslagene dine videre til ledelsen. Husk at du også kan kontakte ITV-ene ved utfordringer med emner og undervisere.
<br>
Velg mottaker ITV ved IFY for fysikk eller ITV ved IMF for matte
</p>

<p>
<b>For å være anonym lar du feltene "Ditt navn" og "Din e-post" stå tomme.</b>
</p>


{% if spam_check == True %}
    {% bootstrap_alert "Forsøk å regne kontrollspørsmål på nytt" alert_type="danger" %}
{% endif %}
<br>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form contact_form exclude="spam_check" %}
    {% bootstrap_field contact_form.spam_check placeholder="Svar" %}
    {% bootstrap_button "Send" button_type="submit" %}
</form>

{% endblock %}
