{% extends "base.html" %}

{% block title %}Tilbakemelding{% endblock %}

{% block content %}

<h1>Tilbakemelding</h1>

<p>Dette er Webkoms tilbakemeldingsskjema. Hvis du har funnet en feil på siden, eller har forslag til ny funksjonalitet eller andre forbedringer av nettsiden, er det bare å sende inn en tilbakemelding via skjemaet, så skal Webkom se på det så fort som mulig.</p>



{% if spam_check == True %}
    <p style="color:red;"> Forsøk å regne kontrollspørsmål på nytt</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% for field in feedback_form %}
        {% if forloop.counter <= 4 %}
            <p style="width: 100px;" >{{field.label}} {{field}}</p>
        {% endif %}
    {% endfor %}
    
    <p>Hva er kvadratroten av {{ test_val }} ganget med kvadratroten av {{ test_val }}?</p>
    <p>{{ feedback_form.spam_check }}</p>

    <button type="submit">Send</button>

{{ feedback_form.right_answer }}
</form>
{% endblock %}
