{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Tilbakemelding{% endblock %}

{% block content %}

<h1>Tilbakemelding</h1>

<p>Dette er Webkoms tilbakemeldingsskjema. Hvis du har funnet en feil på siden, eller har forslag til ny funksjonalitet eller andre forbedringer av nettsiden, er det bare å sende inn en tilbakemelding via skjemaet, så skal Webkom se på det så fort som mulig.</p>



{% if spam_check == True %}
    {% bootstrap_alert "Forsøk å regne kontrollspørsmål på nytt" alert_type="danger" %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% bootstrap_form feedback_form exclude="spam_check" %}
    {% bootstrap_field feedback_form.spam_check placeholder="Svar" %}
    {% bootstrap_button "Send" button_type="submit" %}
</form>
{% endblock %}
