{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}For bedrifter{% endblock %}

{% block main %}

<h1 style="color: black;">For bedrifter</h1>

<div >
    <h2 style="text-align:center; color:black" >Vi tilbyr</h2>
</div>

<div class="container">
    <div class="row pb-4">

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Bedriftspresentasjon</strong>
            <p>En bedriftspresentasjon går ut på at bedriften presenterer seg selv for Nablas studenter. Dette er en gyllen mulighet til å gjøre studentene bevisst på hvem dere er, hva dere tilbyr, og hvordan dere jobber. En bedriftspresentasjon er gjerne etterfulgt av en bespisning i en av Gløshaugens kantiner eller en restaurant i Trondheim sentrum. Bespisning er ikke nødvendig,
                men trekker erfaringsmessig 
                fere studenter til presentasjonen, og gir dessuten mulighet for ytterligere kontakt og dialog mellom bedriften og studentene. Bedriftskontakten Nabla planlegger og gjennomfører alt av booking av rom, bespisning, transport
                og andre behov. Vi kan dessuten åpne bedriftspresentasjonen for studenter fra andre studier. Reklame og informasjon for bedriftspresentasjonen blir publisert i forkant på studiet sine grupper på Facebook, BN sin Facebookside, Nablas
                egne nettsider og eventuelt plakater på Gløshaugen om ønskelig. </p>
        </div>

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Kurs/Casework</strong>
            <p>Et kurs er et faglig arrangement hvor fokuset skal være på å introdusere studentene for faglige erfaringer som de kan få bruk for i arbeidslivet. Det kan også være
                kurs i noe bedriften gjerne ønsker bredere kompetanse i; kurs i ledelse, bruk
                av excel, engelsk forretningsspråk for å nevne noe. Et kurs kan gjerne etterfølges av Casework. Bedriften kan
                for eksempel gi ut en problemstilling som de ønsker å høre tanker om som
                studentene så kan jobbe i team for å løse. Et annet alternativ kan være "en
                arbeidsdag i bedriften" hvor studentene går fra post til post og får en dypere
                forståaelse for hva det vil si å jobbe hos akkurat dere.</p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row pb-4">

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Bedriftsbesøk</strong>
            <p>Bedriften har mulighet til å presentere seg for studentene i egne omgivelser.
                BN vil ordne med transport og profilering. Bedriftsbesøk kan gi studentene
                god innsikt i hva deres bedrift gjør, noe som vil gi et sterkt inntrykk hos
                studentene.</p>
        </div>
        
        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Annonse</strong>
            <p>Vi tilbyr også bedrifter å legge ut stillingsannonser for sommerjobber, internships og heltidsjobber på Nabla sin hjemmeside, www.nabla.no. Denne
                siden brukes til alle arrangementer i regi av Nabla, og er derfor mye brukt. Vi tilbyr også annonse i form av plakater vi kan henge opp på kontoret vårt, 
                samt tavler linjeforeningen har fått utdelt på campus Gløshaugen.</p>
        </div>

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Screeningintervjuer</strong>
            <p>Muligheter til å foreta intervjuer med påmeldte studenter. Her kan bedriften
                selv spesifisere hvilke årskull de er interessert i. Særlig i forbindelse med sommerjobb, masteroppgave og fast jobb etter studiet, er det mange studenter
                som ønsker å gå på intervjuer.
                Reklame og informasjon rundt screeningintervjuer vil bli gjort på samme
                måte som med bedriftspresentasjoner.</p>
        </div>

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Eurêka</strong>
            <p>Karrieredagen Eurêka arrangeres en
                gang årlig i regi av BN. Her får bedrifter fra hele landet muligheten
                til å presentere seg for studentene
                gjennom stands, presentasjoner, intervju, case, konkurranser, middag m.m.
                Eurêka har blitt arrangert i 
                flere år, og har utviklet seg til å bli en populær
                karrieredag på NTNU.</p>
        </div>

    </div>
</div>

<!-- Kommenter ut denne når teksten er klar -->
<!-- <div class="container">
    <div class="row pb-4">

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">???Insta-takeover???</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>
</div> -->

<div >
    <h2 style="text-align:center; color:black">Studier</h2>
</div>

<div class="container">
    <div class="row pb-4">

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Industriell matematikk</strong>
            <p>Studieretningen for Industriell matematikk gir deg stor bredde og solid bakgrunn i matematikk, matematisk modellering, numerisk analyse, samt sannsynlighetsregning og statistikk. Videre vektlegges bruk av moderne informasjonsteknologi. Fokus settes på fagenes anvendelsespotensiale, men fordypning i teoretiske aspekter er også mulig. Mulige anvendelser finnes i et bredt spekter av disipliner, blant annet biologi og medisin, naturressurser og miljø, teknologi og produktutvikling samt økonomi og finans. Du kan lese mer om fag <a href="https://nabla.no/wiki/studie/indmat/">her</a></p>
        </div>

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Biofysikk og medisinsk teknologi</strong>
            <p>Biofysikk ser på biologiske systemer, studert ved hjelp av fysiske prinsipper. Medisinsk teknologi utvikler metoder til blant annet behandling av kreft og medisinsk avbildning ved hjelp av ioniserende stråling, ultralyd og MR. Biofysikk er en smeltedigel av flere tradisjonelle fagfelt. Her anvendes teknikker fra fysikken på biologiske problemstillinger. Du kan lese mer om fag <a href="https://nabla.no/wiki/studie/bio/">her</a></p>
        </div>

        <div class="flex-grow-1 card card-body card-body-overline">
            <strong style="text-align:center">Teknisk fysikk</strong>
            <p>Fysikk er læren om naturlovene, og om hvordan disse beskriver verden omkring oss - fra atomenes
                indre til verdensrommets galakser. Fysikk er et nødvendig fundament både for vår forståelse av
                naturen, og for moderne teknologi. I en teknologisk verden der omstillinger og ny teknologi hører til
                dagens orden og der omstillingstakten stadig øker, vil det trenges sivilingeniører med utstrakte
                kunnskaper i basisfag som fysikk og mekanikk. Du kan lese mer om fag <a href="https://nabla.no/wiki/studie/tekfys/">her</a></p>
        </div>

    </div>
</div>

<div >
    <h2 style="text-align:center; color:black">Meld interesse</h2>
</div>

<div class="container">
    <div class="row pb-4">

        <div class="flex-grow-1 card card-body card-body-overline">
            <p>Ønsker bedriften din å legge ut en stillingsannonse på denne siden, ta kontakt med Bedriftskontakten Nabla på <a href="mailto:bedkom@nabla.no">
                bedkom@nabla.no</a>. Les mer om bedriftskontakten <a href="https://nabla.no/komite/bedriftskontakten-nabla/">her</a>.</p>    
        </div>

    </div>
</div>

{% endblock %}
