{% extends "base.html" %}

{% block title %}Gullkorn{% endblock %}

{% block content %}

<h1>Gullkorn</h1>

<p>Har du hørt noe morsom på gløs? Meld det inn her, så kommer det kanskje i Nabladet!</p>

{% if spam_check == True %}
<p style="color:red;"> Forsøk å regne kontrollspørsmål på nytt</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    {{ feedback_form.message }}

    <br />
    {# Hacky løsning, men bruker subject for å få hvem som sa gullkornet #}
    <label>Hvem sa dette?</label> {{ feedback_form.subject }}
    <p>Hva er kvadratroten av {{ test_val }} ganget med kvadratroten av {{ test_val }}?</p>
    <p>{{ feedback_form.spam_check }}</p>

    <button type="submit">Send</button>

{{ feedback_form.right_answer }}
</form>

{% endblock %}
