{% extends "base.html" %}
{% load bootstrap4  %}
{% block title %}Gullkorn{% endblock %}

{% block content %}

<h1>Gullkorn</h1>

<p>Har du hørt noe morsom på gløs? Meld det inn her, så kommer det kanskje i Nabladet!</p>

{% if spam_check == True %}
    {% bootstrap_alert "Forsøk å regne kontrollspørsmål på nytt" alert_type="danger" %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {# Hacky løsning, men bruker subject for å få hvem som sa gullkornet #}
    {% bootstrap_field feedback_form.message show_label=False placeholder="Skriv gullkornet her" %}
    {% bootstrap_label "Hvem sa dette?" label_for="id_subject"%}
    {% bootstrap_field feedback_form.subject show_label=False %}
    {% bootstrap_field feedback_form.spam_check placeholder="Svar" %}
    {% bootstrap_field feedback_form.right_answer %}
    {% bootstrap_button "Send" button_type="submit" %}

</form>

{% endblock %}
