{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Utstyrbooking{% endblock %}

{% block content %}

<h1>Utstyrbooking</h1>

<p>Book utstyr ved å sende inn :)</p>



{% if spam_check == True %}
    {% bootstrap_alert "Forsøk å regne kontrollspørsmål på nytt" alert_type="danger" %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% bootstrap_form utstyr_form exclude="spam_check" %}
    {% bootstrap_field utstyr_form.spam_check placeholder="Svar" %}
    {% bootstrap_button "Send" button_type="submit" %}
</form>
{% endblock %}
