{% load easy_thumbnails %}
{% load static %}

{% with result.object as user %}

{% if request.user.is_authenticated %}
<div class="result account_user"> <a href="{{ user.get_absolute_url }}">
    <h3>{{ user.get_full_name }}</h3>
    <p class="meta">{{ user.email }}</p>

  {% if user.avatar %}
  <img src="{% thumbnail user.avatar 140x170 crop='smart' box=user.cropping %}"></img>
  {% else %}
  <img src="{% static 'img/default_avatar.png' %}"></img>
  {% endif %}
  <p class="description">{{ user.about }}</p>
  </a>
</div>

{% else %}
<div class="result account_user"> <a href="#">
    <h3>Nablakomponent</h3>

    <img src="{% static 'img/default_avatar.png' %}"></img>
    <p class="description">Du må være logget inn for å se navn og informasjon om brukere</p>
  </a>
</div>
{% endif %}
{% endwith %}
