{% load cache %}
{% load sekizai_tags i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% render_block "css" %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% addtoblock "js" %}
    <script type="text/javascript">
      URL_NOTIFY_GET_NEW = "{% url "nyt:json_get" %}";
      URL_NOTIFY_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
      URL_NOTIFY_GOTO = "{% url "nyt:goto_base" %}";
    </script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script src="/static/core.js"></script>
        <script type="text/javascript" src="/static/ui.js"></script>
    {% endaddtoblock %}
</head>

<body>

<header>
    <a class="pull-left" href="/">
        {% block header_logo %}
        {% endblock header_logo %}
    </a>

    <form id="searchtop" class="pull-right" method="get" action="/search/">
        <div class="input-group">
            <input name="q" placeholder="Søk..." type="text" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>

<nav class="navbar navbar-default">
<div class="container" style="width: auto;">
    <ul class="nav navbar-nav">
        <li><a href="{% url "news_list" %}">News</a></li>
        <li><a href="{% url "event_list" %}">Events</a></li>
        <li><a href="{% url "albums" %}">Albums</a></li>
        <li><a href="{% url "blog" %}">Blog</a></li>
    </ul>

</div>
</nav>

<h2>Notifications:</h2>
    <ul>
      <li class="notifications-empty"><a href="#"><em>{% trans "No notifications" %}</em></a></li>
      <li class="divider"></li>
      <li>
        <a href="#" onclick="notify_mark_read()">
          <i class="icon-check"></i>
            Empty
        </a>
      </li>
    </ul>
</header>


<div class="container" style="width: auto;">
{% block main %}

<div class="row"><!-- main row -->

    {# content #}
    <div class="col-md-8">
        {% block content %}
        {% endblock content %}
    </div>
    {# end content container #}

    <aside class="col-md-4">{# sidebar #}

        {% block sidebar %}
        {% endblock sidebar %}


    </aside>{# end sidebar #}
</div>{# end main row #}

{% endblock main %}
</div>{# end main container  #}

<footer>
    <div class="container">
    <div class="row">


    </div>{# end row #}
</div>{# end container #}
</footer>
{% render_block "js" %}
</body>
</html>
