{% load i18n %}
{% load static %}
{% load sekizai_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% render_block "css" %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% addtoblock "js" %}
        <script type="text/javascript">
          URL_NYT_GET_NEW = "{% url "nyt:json_get" %}";
          URL_NYT_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
          URL_NYT_GOTO = "{% url "nyt:goto_base" %}";
        </script>
        <script src="{% static 'core.js' %}"></script>
        <script type="text/javascript" src="{% static 'ui.js' %}"></script>
    {% endaddtoblock %}
</head>

<body>

<header>
    <a class="pull-left" href="/">
        {% block header_logo %}
        {% endblock header_logo %}
    </a>

    <form id="searchtop" class="pull-right" method="get" action="/search/">
        <div class="input-group">
            <input name="q" placeholder="Søk..." type="text" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>

<nav class="navbar navbar-default">
<div class="container" style="width: auto;">
    <ul class="nav navbar-nav">
        <li><a href="{% url "news_list" %}">News</a></li>
        <li><a href="{% url "event_list" %}">Events</a></li>
        <li><a href="{% url "albums" %}">Albums</a></li>
        <li><a href="{% url "blog" %}">Blog</a></li>
    </ul>

</div>
</nav>


<h2>Notifications:</h2>
<ul>
  <li class="notification-before-list">Notifications (<span class="badge notification-cnt">0</span>):</li>
  <li class="notifications-empty"><a href="#"><em>{% trans "No notifications" %}</em></a></li>
</ul>

<a href="#" onclick="nyt_mark_read()">
  <i class="icon-check"></i>
  {% trans "Clear notifications list" %}
</a>

</header>


<div class="container" style="width: auto;">
{% block main %}

<div class="row">

    <div class="col-md-8">
        {% block content %}
        {% endblock content %}
    </div>

    <aside class="col-md-4">
        {% block sidebar %}
        {% endblock sidebar %}
    </aside>
</div>

{% endblock main %}
</div>

{% render_block "js" %}
</body>
</html>
