{% extends "base.html" %}


{% block title %}{{ bedpres.headline }}{% endblock %}


{% block content %}

{% include "content/news/includes/text_content.html" with news=bedpres%}

{# Vis påmeldte #}
{% if user.is_authenticated and bedpres.users_attending > 0 %}
    <h3>Påmeldte</h3>
    <div class="registrations">
        {% for user in bedpres.get_attendance_list %}
        <span class="label label-default" style="display: inline-block;">
            {% firstof user.get_full_name user.username %}
        </span>
        {% endfor %}
    </div>
{% endif %}

{% include "content/includes/comments.html" with content=bedpres %}
{% endblock %}


{% block sidebar %}

{% include "bedpres/includes/info.html" with event=bedpres %}
{% include "content/includes/meta.html" with content=bedpres %}
{% include "content/includes/sidebar-admin.html" %}

{% endblock %}
