{% extends "base.html" %}

{% block morehead %}

<meta property="og:image" content="{{ news.get_picture_url }}" />
<meta property="og:title" content="{{ news.headline|striptags }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{% spaceless %}{{ news.lead_paragraph|striptags }}{% endspaceless %}" />

{% endblock %}


{% block title %}{{ news.headline }}{% endblock %}


{% block content %}
{% include "news/includes/text_content.html" with news=news %}
{% include "content/includes/comments.html" with content=news %}
{% endblock %}


{% block sidebar %}

{% include "content/includes/meta.html" with content=news %}
{% include "content/includes/sidebar-admin.html" %}

{% endblock %}
