{% extends "base.html" %}
{% load markdown %}
{% load listutil %}
{% load easy_thumbnails %}
{% load sekizai_tags %}

{% block title %}Nyheter{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block main %}
{% addtoblock "css" %}
<!-- Style for news list -->
<style>
 .news-list {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(4, 15px auto);
     grid-column-gap: 15px;
     grid-template-areas:
         "more-news-1 more-news-2"
         "more-news-1 more-news-2";
 }

 .news {
     grid-row: span 2;
 }

 .more-news-1 {
     grid-area: more-news-1;
 }

 .more-news-2 {
     grid-area: more-news-2;
 }

 @media(max-width: 992px) {
     .news-list {
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         grid-template-areas: unset;
     }

     .more-news-1, .more-news-2 {
         grid-area: unset;
     }
 }
</style>
{% endaddtoblock %}

<div class="news-list">
{% for news in news_list %}
{% include "includes/article_widget.html" with number=forloop.counter margin="mb-3"%}
{% endfor %}
</div>
{% include "includes/pagination.html" %}
{% endblock main %}
