
.com-member {
    display: inline-table;
    min-height: 170px;
    width: 170px;
    color: black;
    padding: 10px;
}

.com-member:hover {
    background-color: #f6f6f6;
    text-decoration: none;
}

.com-member .name {
    color: black;
}

.com-member:hover .name {
   text-decoration: underline;
}

.com-member .avatar {
    position: relative;
    width: 150px;
}

.com-member .info {
    padding: 5px;
}

.com-tile{
    width: 33%;
    text-align: center;
}

.com-link{
    color: black;
}

.headline{
    text-align: center;
}

.com-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
