{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ album.title }}{% endblock %}

{% block more_head %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page">
                <a href="{{ overview_url }}">Albumoversikt</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ page_obj.number }}
            </li>
            </li>
        </ol>
    </nav>
    <figure>
        <img src="{{ image.file.url }}" class="figure-img img-fluid" style="image-orientation: from-image"/>
        <figcaption class="figure-caption"> {{ image.description }} </figcaption>
    </figure>

    <nav class="d-flex justify-content-center">
        {% bootstrap_pagination page_obj parameter_name="page" %}
    </nav>
{% endblock content %}

{% block sidebar %}
    {% include "content/includes/sidebar-admin.html" %}
{% endblock %}
