{% extends "base.html" %}
{% load bootstrap4 %}
{% load easy_thumbnails %}
{% block title %}Bilder{% endblock %}
{% block more_head %}
{% endblock %}

{% block main-blank %}
    <h1 style="color: black;">Bildealbum</h1>
    <div class="row">
        {% for album in albums %}
            <div class="col-xs-6 col-md-3 pb-3">
                {% include "includes/info_card.html" with content=album  img_file=album.first.file header_size="h4" class="h-100" %}
            </div>
        {% endfor %}
    </div>
    <nav class="d-flex justify-content-center">
        {% if is_paginated %}
            {% bootstrap_pagination page_obj %}
        {% endif %}
    </nav>

{% endblock main-blank %}
