{% extends "base.html" %}
{% load listutil %}
{% load easy_thumbnails %}
{% block title %}Bilder{% endblock %}

{% block more_head %}
{% endblock %}

{% block main-blank %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page">
                <a href="{{ overview_url }}">Albumoversikt</a>
            </li>
            {% for  ancestor in ancestors %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ ancestor.title }}
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.title }}</a>
                    </li>
                {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
    {% if children %}
        <h5 class="h5">Album:</h5>
        <div class="row" >
            {% for album in children %}
                <div class="col-xs-4 col-md-3 pb-2">
                    {% include "includes/info_card.html" with content=album  img_file=album.first.file header_size="h5" class=" h-100" %}
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
    <h5 class="h5">Bilder:</h5>
    <div class="row">
        {% for image in album.images.all %}
            <div class="col-xs-4 col-md-3 mb-2">
                <a href="{{ image.get_absolute_url }}">
                    <img class="w-100 rounded" src="{% thumbnail image.file 350x350 crop="smart" %}"/>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock main-blank %}
