.list-group-item p {
    overflow-wrap: break-word;
}

.blog-floating-image {
    max-width: 100%;
    float: right;
}

.blog-move-right {
    float: right;
}

.list-without-bullets {
    list-style: none;
}