{% load humanize %}
{% load l10n %}

<h3>Meta</h3>
<table class="table table-condensed content-info">


    <!-- Publisert -->
    <tr class="gtext">
        <td style="width:35%;">Publisert</td>
        <td>
            <time datetime="{{ content.created_date|date:"c" }}">
                {{ content.created_date|naturalday }} kl. {{ content.created_date|date:"H:i" }}
            </time>
        </td>
    </tr>
    
    <!-- Av -->
    {% if content.created_by %}
    <tr class="gtext">
        <td>Av</td>
        <td>
            <a href="{{ content.created_by.get_absolute_url }}">
                {% firstof content.created_by.get_full_name content.created_by.username %}
            </a>
        </td>
    </tr>
    {% endif %}

    {% if content.has_been_edited %}

    <!-- Sist endret -->
    <tr class="gtext">
        <td>Sist endret</td>
        <td>
            <time datetime="{{ content.last_changed_date|date:"c" }}">
                {{ content.last_changed_date|naturalday|localize }} kl. {{ content.last_changed_date|date:"H:i" }}
            </time>
        </td>
    </tr>

    <!-- Av -->
    {% if content.last_changed_by %}
    <tr class="gtext">
        <td>Av</td>
        <td>
            <a href="{{ content.last_changed_by.get_absolute_url }}">
                {% firstof content.last_changed_by.get_full_name content.last_changed_by.username %}
            </a>
        </td>
    </tr>
    {% endif %}

    {% endif %}

</table>
