{% if admin_links and user.is_staff %}
<div class="panel panel-default">
    <div class="panel-heading">
        Admin
    </div>
    <ul class="nav">
        {% for link in admin_links %}
        <li>
            <a href="{{ link.url }}">
                {% if link.glyphicon_symbol %}
                <span class="glyphicon glyphicon-{{ link.glyphicon_symbol }}"></span>
                {% endif %}
                {{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
