.content {
    width: 100%;
}

.advent-table {
    width: 100%;
    text-align: center;
}

.advent-door {
    height: 240px;
    width: 220px;
    position: relative;
    text-decoration: none;
    font-size: 100px;
    z-index: 3;
    margin: 10px;
    box-shadow: inset 0px 0px 10px 10px ;
    display: inline-block;
}

.advent-before {
    background-image: url(/media/door.jpg);
    background-size: 220px 240px;
    position: absolute;
    width: 220px;
    height: 240px;
    z-index: 2;
    display: table-cell;
    left: 0px;
}

.advent-door a {
    display: none;
    font-size: 15px;
    vertical-align: middle;
}

.advent-door img {
    width: 100px;
    height: 100px;
}

.advent-door-open a {
    display: inline-block;
}

.advent-number {
    z-index: 30;
    display: block;
    position: relative;
}

.advent-door-open .advent-number {
    display: none;
}

.advent-door-open {
    background-image: url(/media/texture.jpg);
    background-size: 100% 100%;

}

.advent-door-open .advent-before {
    opacity: 0;
    transition: opacity 1s ease-in;
    display:none;
}

body {
    color: #fff;
    background-color: #333;
}

a, a:hover {
    color: white;
}

.corner-left {
    font-size: 100px;
    text-align: center;
}

.corner-right {
    font-size: 100px;
    text-align: center;
}

h1 {
    font-size: 80px;
    text-align: center;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    background: url(/media/jul.jpg) 0 0;
    background-size: 100%;
    background-repeat: repeat-y;
}

.user-pic {
    display: inline-block;
}

.info {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #ffd;
    padding: 4px;
}
.info a {
    color: #ffd;
}

.text, .well {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.list-group-item {
    background: rgba(0,0,0,0.5);
}
