/* Setting cells to equal width. */
table.equal td, table.equal th {
	width: 113px;
}

/* Resizing week table cells */
#calWrapper table.equal th.uke, #calWrapper table.equal td.uke {
	width: 40px;
}

/* Costumizing list element inside calendar */
ul.events {
	list-style: none;
	margin: 0 0 9px 0;
}
ul.events li {
	padding-left: 19px;
	font-size: 0.85em;
}
ul.events li.blue {
	background: url('img/cal-blue.png') no-repeat 0px 2px;
}
ul.events li.green {
	background: url('img/cal-green.png') no-repeat 0px 2px;
}
ul.events li.red {
	background: url('img/cal-red.png') no-repeat 0px 2px;
}

/* Adding background to table, making it stand out! */
#calWrapper {
	background-color: #ededed;
	border: 1px solid #dddddd;
	padding: 2px;
	margin: none;
}
table.equal td, table.equal th {
	background-color: white;
}
table.equal caption {
	background-color: #ededed;
}

/* Using first-child selector to do the syles on the week column. */
#calWrapper table.equal td:first-child {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	vertical-align: middle;
}

/* Adding color to headings and week column */
#calWrapper table.equal td:first-child, #calWrapper table.equal th {
	background: #f1fdf2;
}
/*And to the odd columns */
#calWrapper  td:nth-child(odd) {
	background: #ecf3ed;
}
/*ecf3ed*/