{% extends "base.html" %}
{% load listutil %}
{% load thumbnail %}
{% block title %}Bilder{% endblock %}

{% block more_head %}
{% endblock %}

{% block content %}
<h1>{{ album.title }}</h1>
<div class="row">
{% for row in album.images.all|row_split:5 %}
    {% for image in row %}
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail" href="{{ image.get_absolute_url }}">
        <img src="{{ image.file.url }}"/>
        </a>
    </div>
    {% endfor %}

{% endfor %}
</div>
{% endblock content %}
