{% extends "base.html" %}
{% load listutil %}
{% load easy_thumbnails %}
{% block title %}Bilder{% endblock %}

{% block more_head %}
{% endblock %}

{% block content %}
<h1>{{ album.title }}</h1>
{% for row in album.images.all|row_split:4 %}
<div class="row">
    {% for image in row %}
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail" href="{{ image.get_absolute_url }}">
        <img src="{% thumbnail image.file 770x250 quality=95 %}"/>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}
