{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}Nabladet{% endblock %}

{% block content %}

<h1>{{ view.archive }}</h1>
<p>{{ view.description }}</p>

{% for entry in entry_list %}
<table style="table-layout:fixed;" class="table table-striped">
<tr>
    <td style="width:20%">
        <a href="{{ entry.get_absolute_url }}"> {{ entry.pub_date|date:"F Y" }} </a>
    </td>
    <td style="width:70%;">
        {{ entry.title }}
    <td style="width:10%; align:right;">
        <a class="btn btn-small" href="{{ n.file.url }}"><i class="icon-download-alt"></i></a>
    </td>
</tr>
</table>
{% empty %}
<p>
    Tomt.
</p>
{% endfor %}


{% endblock content %}

{% block sidebar %} {% endblock sidebar %}
