{% extends "base.html" %}
{% load markdown %}
{% block title %}{{ blog.name }}{% endblock %}


{% block content %}
<div class="">
  <h1>{{ blog.name }}</h1>
  <div class="list-group">
  {% for post in post_list %}
    <a class="list-group-item" href="{{ post.get_absolute_url }}">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content|markdown:"unsafe"}}</p>
    </a>
  {% empty %}
  Ingen posts her enda. 
  {% endfor %}
  </div>
</div>
{% endblock content %}

{% block sidebar %}

{% include "content/includes/blog_sidebar_admin.html" %}

{% endblock %}
