{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>Utveksling</h2>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="" value="{{request.GET.q}}"/>
        <input type="submit" value="Søk"/>
    </form>
    <p>Her finner du en liste over alle universiter :</p>
    <table class="table">
        <thead>
        <tr>
            <th>Universiteter</th>
            <th>Land</th>
        </tr>
        </thead>
    <tbody>
    {% for obj in ex_list %}
    <tr>
        <td><a href="{{obj.get_absolute_url}}">{{obj.univ_navn}}</a></td>
        <td>{{obj.land}}</td>
    </tr>

    {% endfor %}
    </tbody>
  </table>
</div>



</div>
{% endblock content %}