[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
django-bootstrap3 = "*"   # Templatetags for bootstrap3
django-braces = "*"       # Extra mixinclasses for models and views
django-contrib-comments = "*"
django-filebrowser-no-grappelli = "*"  # Filebrowser for mediafiles.
django-haystack = "*"     # Search functionality for django models. See whoosh as well
django-hitcount = "*"
django-image-cropping = "*"
django-markdown-deux = "*"
django-sekizai = "*"      # Templatetag library for extra block functionality
easy-thumbnails = "*"     # Thumbnail creator
faker = "*"                 # Fake data generator, used in tests.
factory-boy = "*"         # For creating many objects for testing (seed)
gunicorn = "*"              # Web-server used to run django
pymysql = "*"               # Database bindings for mysql
wand = "*"                  # Python bindings for ImageMagick. Needs ImageMagick installed
whoosh = "*"                # Backend for django-haystack
wiki = "~=0.4.0"
bpc-client = {editable = true,ref = "556ede6bd15b4296b1f2a29730ad6e5f00b27428",git = "https://bitbucket.org/webkom/bpc_client.git"}
django-node-assets = "*"
markdown = "*"
django-qr-code = "*"
django-multi-email-field = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.6"

[scripts]
production = "gunicorn --config /etc/websites/nablaweb/gunicorn.conf nablaweb.wsgi:application"
