[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
# Templatetags for bootstrap3
django-braces = "*"       # Extra mixinclasses for models and views
django-contrib-comments = "*"
django-filebrowser-no-grappelli = "*"  # Filebrowser for mediafiles.
django-haystack = "*"     # Search functionality for django models. See whoosh as well
django-hitcount = "*"
django-image-cropping = "==1.5"
django-markdown-deux = "*"
django-sekizai = "*"      # Templatetag library for extra block functionality
easy-thumbnails = "*"     # Thumbnail creator
gunicorn = "*"              # Web-server used to run django
pymysql = "*"               # Database bindings for mysql
wand = "*"                  # Python bindings for ImageMagick. Needs ImageMagick installed
whoosh = "*"                # Backend for django-haystack
wiki = "==0.8.1 "
django-node-assets = "*"
markdown = "*"
django-qr-code = "*"
django-multi-email-field = "*"
django-bootstrap4 = "*"
django-ckeditor = "*"
djangorestframework = "*"

[dev-packages]
pre-commit = "*"
faker = "*"               # Fake data generator, used in tests.
factory-boy = "*"         # For creating many objects for testing (seed)
# Linting tools
black = "*"
isort = "==5.9.3"
flake8 = "==3.9.2"
pylint = ">=2.6"
pylint-django = "*"
bandit = "*"
pillow = "*"

[requires]
python_version = "3.9"

[scripts]
production = "gunicorn --config /etc/websites/nablaweb/gunicorn.conf nablaweb.wsgi:application"
