[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.7"
# Templatetags for bootstrap3
django-braces = "*"       # Extra mixinclasses for models and views
django-contrib-comments = "*"
django-filebrowser-no-grappelli = "*"  # Filebrowser for mediafiles.
django-haystack = "==3.0b1"     # Search functionality for django models. See whoosh as well
django-hitcount = "*"
django-image-cropping = "*"
django-markdown-deux = "*"
django-sekizai = "*"      # Templatetag library for extra block functionality
easy-thumbnails = "*"     # Thumbnail creator
gunicorn = "*"              # Web-server used to run django
pymysql = "*"               # Database bindings for mysql
wand = "*"                  # Python bindings for ImageMagick. Needs ImageMagick installed
whoosh = "*"                # Backend for django-haystack
wiki = "==0.6"
django-node-assets = "*"
markdown = "*"
django-qr-code = "*"
django-multi-email-field = "*"
django-bootstrap4 = "*"

[dev-packages]
faker = "*"               # Fake data generator, used in tests.
factory-boy = "*"         # For creating many objects for testing (seed)
black = "==20.8b1"
isort = ">=5.0"
flake8 = "*"
pylint = ">=2.6"
pylint-django = "*"
bandit = "*"

[requires]
python_version = "3.6"

[scripts]
production = "gunicorn --config /etc/websites/nablaweb/gunicorn.conf nablaweb.wsgi:application"
