Django==1.5
Markdown
django-math-captcha
django-image-cropping
pybbm-tbw
south
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
sorl-thumbnail
whoosh<2.5
PIL
mysql-python
python-memcached
django-debug-toolbar
django-cache-panel
