## Main python requirements for nablaweb
# This file is used together with pip-tools to create the real requirements.txt with pinned version numbers.
# This file should be used to add the packages used directly in our codebase.
# That is you should not add dependencies of dependencies!

# Run:
#   pip-compile requirements.in
# to recreate requirements.txt with updated version numbers.
# Remember to test whether the updated packages work as expected.

pip-tools

# django pinned to the major version we are using.
django>=1.8,<1.9

# Misc django packages
django-bootstrap3
django-bower
django-braces
django-contrib-comments
django-filebrowser
django-grappelli
django-markdown-deux
django-sekizai

# Image
Pillow
easy-thumbnails
django-image-cropping

# Search related packages
django-haystack
whoosh

# Wiki
-e git+git://github.com/django-wiki/django-wiki.git#egg=wiki

# Python bindings for database software (MySql and memcached)
PyMySQL
python3-memcached

# Python packages developed by webkom
-e git+https://bitbucket.org/webkom/content-app.git#egg=content
-e git+https://bitbucket.org/webkom/bpc_client.git#egg=bpc_client
