Django==1.5
Markdown
django-image-cropping
south
git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
sorl-thumbnail
whoosh>2.5
Pillow
mysql-python
python-memcached
django-debug-toolbar
django-cache-panel
easy-thumbnails
git+https://github.com/DataDog/markdown-urlize#egg=markdown_urlize
