## Main python requirements for nablaweb
# This file is used together with pip-tools to create the real requirements.txt with pinned version numbers.
# This file should be used to add the packages used directly in our codebase.
# That is you should not add dependencies of dependencies!

# Run:
#   pip-compile requirements.in
# to recreate requirements.txt with updated version numbers.
# Remember to test whether the updated packages work as expected.

pip-tools	# Used to update requirements file

django~=1.11.5
django-bootstrap3   # Templatetags for bootstrap3
django-bower        # Frontend/staticfiles packagemanager
django-braces       # Extra mixinclasses for models and views
django-contrib-comments
django-filebrowser  # Filebrowser for mediafiles.
django-grappelli    # Makes the django adminpage more fancy
django-haystack     # Search functionality for django models. See also whoosh.
django-image-cropping
django-markdown-deux
django-sekizai      # Templatetag library for extra block functionality
easy-thumbnails     # Thumbnail creator
faker       # Fake data generator, used in tests.
gunicorn    # Web-server used to run django
PyMySQL     # Database bindings for mysql
Wand        # python bindings for ImageMagick. Needs ImageMagick installed on machine to work.
whoosh      # Backend for django-haystack


# Fork of django-wiki
-e git+https://bitbucket.org/webkom/django-wiki.git@0c41490d293a28d2e08c1252336672ad7bc4be85#egg=wiki

# Python packages developed by webkom
-e git+https://bitbucket.org/webkom/content-app.git@e049dd97bd38bc64809d75d7291a00d4d62d9cd7#egg=content
-e git+https://bitbucket.org/webkom/bpc_client.git@556ede6bd15b4296b1f2a29730ad6e5f00b27428#egg=bpc_client

