{% extends "base.html" %}
{% load listutil %}
{% load easy_thumbnails %}
{% block content %}
    <h1>Nablashop</h1>
    
    Dette er oppslagsverk over produkter Nabla tilbyr til utlån, og nablamerch som kan kjøpes på kontoret.

{% if product_list %}
    <h2>Produkter</h2>
    <div class="row">
        {% for product in product_list %}
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'nablashop:product_detail' product.id %}">
                        <img class="img-fluid"  src="{% thumbnail product.photo 350x350 crop %}">
                    </a>
                    <div class="caption">
                        <p>{{ product.name }}</p>
                        <p>{{ product.price }} kr</p>
                        <p>{{ product.stock }} stk.</p>
                        <p><a href="{% url 'nablashop:product_detail' product.id %}" class="btn btn-nabla-blue-dark center-block"
                              role="button">Les mer</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>

{% endif %}
{% endblock %}

{% block sidebar %}
    {% include "nablashop/includes/category-sidebar.html" with category_list=categories %}

{% endblock %}
