{% extends "base.html" %}
{% load markdown %}
{% load listutil %}
{% block title %}Nyheter{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block content %}
{% for row in news_list|row_split:2 %}
    <div class="row">
    {% for news in row %}
            {% include "news/news_summary_include.html" with narrow="True" %}
    {% endfor %}
    </div>
{% endfor %}

{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_next %}
            <li class="previous">
                <a href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&larr;</span> Eldre</a>
            </li>
        {% endif %}

        <li class="disabled pager-counter">
            Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_previous %}
            <li class="next">
                <a href="?page={{ page_obj.previous_page_number }}">Nyere <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}
