{% extends "base.html" %}
{% load cache %}

{% block content %}

<h2>Komponenter og nullvektorer</h2>
<br />

{% cache 900 userlist %}

{% if users %}
    <table id="user_list" class="table table-condensed table-striped table-bordered" width="100%">
        <tr>
            <th>Brukernavn</th>
            <th>Navn</th>
            <th>Grupper</th>
        </tr>
    {% for user in users %}
        <tr>
            <td >
            {# Brukernavn med lenke til profilen #}
                <a href="{% url "member_profile" user.username %}">
                    {{ user.username }}
                </a>
            </td>

            <td class="cell_name">
                {{ user.first_name }}
                {{ user.last_name }}
            </td>

            <td class="cell_groups">
            {# Grupper brukeren er med i #}
                {% for group in user.nablagroups %}
                    {% if group.logo %}
                        <img alt="{{ group.name }}" title="{{ group.name }}" src="{{ group.logo.url }}" height="20" />
                    {% endif %}
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Vi fant ingen brukere som matchet søket ditt :(</p>
{% endif %}
<nav>
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
            <a href="?side={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span><span class="hidden-xs"> Forrige</span></a>
        </li>
        {% endif %}
        <li class="disabled pager-counter">
            Side {{ page_obj.number }} av {{ paginator.num_pages }}
        </li>
        {% if page_obj.has_next %}
        <li class="next">
            <a href="?side={{ page_obj.next_page_number }}"><span class="hidden-xs">Neste </span><span aria-hidden="true">&rarr;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endcache %}

{%endblock%}
