{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Brukerregistrering{% endblock %}

{% block content %}

<p>Her kan du registrere deg med ditt NTNU-brukernavn. Det er kun nablakomponenter som kan lage seg bruker. 
<br>
<br>
<b style="color: red;">For å få bruker</b> må du betale <a href="/nystudent/"> medlemskontingent</a>. Det tar ofte noen dager for betalingen å komme gjennom, men etter betalingen er registrert vil du motta en epost med brukernavn og passord
på NTNU-eposten din.
<br>
<br>
Dersom du registrerer deg utenfor opptaksperioden (august/september), eller berre har spørsmål gjerne send en epost til <a href="mailto:websjef@nabla.no">websjef@nabla.no</a>, vi hjelper gjerne der vi kan :) </p>

<form method="post" action="" >
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.username.label_tag }}
        <div class="input-group">
            {{ form.username }}
            <div class="input-group-append">
                <span class="input-group-text">@stud.ntnu.no</span>
            </div>
        </div>
    </div>

    {% bootstrap_form form exclude="username" %}
    <button class="btn btn-lg btn-nabla-blue-dark" type="submit">Send</button>
</form>

{% endblock %}
