
/* Calendar */

@media (min-width: 600px) {
    .opt{
        border-radius: 15px;
        color: #337ab7;
        background-color: #fff;
        border: 1px solid rgb(221,221,221);
        padding: 7px;
        text-align: center;
        align-items: center;
        display: inline;
        margin-right: 0.28em
    }
    select {
        border: 0px;
        background: transparent;
        -moz-appearance: none;
        text-align: center;
    }
    .month {
        display: table;
        border-collapse: separate;
        width: 100%;
        border-spacing: 3px;
    }

    .daynames { display: table-header-group; }

    .week { display: table-row; }

    .dayname, .cell {
        display: table-cell;
        width: 14%;
        height: 120px;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 5px;
        padding-bottom: 10px;
    }
    .dayname {
        text-align: center;
        font-weight: bold;
        height: 20px;
        border: none;
    }
    .cell { background-color: #f9f9f9; }
    .cell .date .day { display: none; }
    .today { background-color: #f7f7ff; }
    .noday { visibility: hidden; }
}

/* Mobile calendar */
@media (max-width: 600px) {
    .opt{
        border-radius: 15px;
        color: #337ab7;
        background-color: #fff;
        border: 1px solid rgb(221,221,221);
        padding: 7px;
        text-align: center;
        align-items: center;
        display: inline;
        margin-right: 0.28em
    }
    select {
        border: 0px;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .month { display: block; }
    .daynames { display: none; }
    .week { list-style: none; margin: 0;}
    .noday { display: none; }
    .cell { display: none; }
    .filled { display: block; margin-bottom: 15px;}
    .cell .date {
        font-size: 20px;
        text-align: center;
    }
    .cell ul { list-style: none; padding: 5px; margin: 0;}
    .cell ul li a {
        display: block;
        line-height: 60px;
        background-color: #f3f3f3;
        padding-left: 15px;
    }
    .cell ul li a:hover {
        background-color: #f0f0f8;
    }
}
