/* Event main page */
/* BEM naming convention (ish) */

#dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "penalty user_events"
            "event_list event_list";
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

@media (max-width: 600px) {
    #dash {
        grid-template-columns: 1fr;
        grid-template-areas:
            "penalty"
                "user_events"
                "event_list";
    }
}

#penalties {
    grid-area: penalty;
    align-self: end;
}
#user_events {
    grid-area: user_events;
}

#penalties, #user_events {
    padding-bottom: 7px;
    border-bottom: 1px solid black;
}

.header_like {
    font-size: 1.4em;
    line-height: 1.3em;
}

#event_list {
    grid-area: event_list;
}

.event_list__event .header_like {
    margin: 4px 10px 4px 0px;
    font-weight: bold;
    color: #545252;
    font-family: Arial, Arimo, Sans-Serif;
}

.event_list__event__meta {
    display: inline-block;
    /*         float: right;*/
    margin-right: 12px;
    color: #989898;
    font-size: medium;
}

.right {
    float: right;
}

.month__name {
    color: #507eff;
    border-bottom: 1px solid #507eff;
}

.penalties__questionmark {
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.5);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.penalties__list {
    position: absolute;
    background: white;
    border: 0.4px solid black;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    display: none;
}

.penalties__list__item {
    text-align: right;
}

.penalties__questionmark:hover ~ .penalties__list, .penalties__list:hover {
    display: block;
}

#dash a{
    text-decoration: none;
    color: inherit;
}

.user_events__item--empty {
    display: inline-block; /* Make the 'no events' text appear on same line */
}

.day {
    position: relative;
    padding: 4px 8px;
    padding-right: 53px; /* Compensate for day box */
    margin-bottom: 16px;
    box-shadow: 4px 4px 20px -10px;
    border: 1px solid #00000029;
}

.day__date {
    position: absolute;
    right: 10px;
    top: -4px;
    max-height: 100%;
    padding: 7px;
    background-color: #c67676;
    color: white;
    font-size: 2em;
    box-shadow: 0px 4px 7px -2px black;
}

.event__bedpres {
    background: #5075cb; 
}

form.filter input[type="radio"] {
    display: none;
}

.filter__option + label {
    padding: 3px 6px;
    display: inline-block;
    cursor: pointer;
}

.filter__option:checked + label {
    border-bottom: 3px solid #aeadad;
}
