/* Event-liste på forsiden med kommende arrangement */
.upcoming {
    padding: 8px 0;
}
.upcoming span {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.upcoming > ul > li > a {
    padding: 3px 15px;

}
.c-event, .c-bedpres {
    display: inline-block;
    margin-right: 2px;
}
