{% extends "base.html" %}
{% load cache %}
{% load static %}
{% load thumbnail %}
{% block title %}
Brukeravstemninger
{% endblock %}
{% block content %}

{% for poll in poll_list %}

{% with user=poll.created_by %}
<div class="col-md-3">
    <img class="thumbnail" alt="avatar"
         {% if user.avatar %}
         src="{% thumbnail user.avatar 150x150 %}"
         {% else %}
         src="{% static "img/default_avatar.png" %}"
         {%endif %}>
</div>
<div class="col-md-9">
<h3>
    {% firstof user.get_full_name user.username %}
</h3>

<div class="poll well">
    <h4>{{ poll.question }}</h4>

    {% if poll.voted %}
        {% include "poll/includes/poll_result.html" %}
    {% else %}
        {% include "poll/includes/vote_form.html" %}
    {% endif %}
</div>
</div>
{% endwith %}
{% empty %}
Ingen brukeravstemninger her enda.
{% endfor %}

{% include "includes/pagination.html" %}

{% endblock %}
{% block sidebar %}
<a class="btn btn-primary btn-lg btn-block" href="{% url "poll_user" %}">
Mine avstemninger
</a>
{% endblock %}