{% load humanize %}
{% load cache %}
{% load sekizai_tags %}
{% load static %}


{% if poll %}

{% addtoblock "css" %}
    <link href="{% static "poll/poll_sidebar.css" %}" rel="stylesheet">
{% endaddtoblock %}

<br>
<div class="poll well">
    <h4>{{ poll.question }}</h4>

    {% if poll_has_voted %}
        {% cache 900 poll_results poll.id poll_total_votes %}
            {% include "poll/includes/poll_result.html" %}
        {% endcache %}
    {% else %}
        {% include "poll/includes/vote_form.html" %}
    {% endif %}
</div>
{% endif %}
