{% extends "base.html" %}
{% load cache %}
{% load markdown_deux_tags %}
{% load sekizai_tags %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
Mine avstemninger
{% endblock %}

{% block content %}

<h1>Mine avstemninger</h1>

{% for poll in poll_list %}
<div class="btn-group">
    <a class="btn btn-default" href="{% url "poll_user_update" poll.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
        Endre
    </a>
    <form style="display: inline" method="POST" action="{% url "poll_user_delete" poll.id %}">
        <button class="btn btn-danger" type="submit">
            <span class="glyphicon glyphicon-trash"></span>
            Slett
        </button>
        {% csrf_token %}
    </form>
</div>

<div class="poll well">
    <h4>{{ poll.question }}</h4>

    {% if poll.voted %}
        {% include "poll/includes/poll_result.html" %}
    {% else %}
        {% include "poll/includes/vote_form.html" %}
    {% endif %}
</div>
{% empty %}
Ingen brukeravstemninger her enda.
{% endfor %}

{% include "includes/pagination.html" %}

<h3>Lag en ny poll.</h3>
<form id="create" method="post" action="{% url "poll_user_create" %}" >
{% csrf_token %}
{% bootstrap_form form %}
<button id="add-alternative" class="btn btn-lg" type="button">Legg til alternativ</button>
<button class="btn btn-lg btn-primary" type="submit">Publiser</button>
</form>

<script>
    $('#add-alternative').on("click", function () {
    var i = $('#create input:last').attr("id");
    i = parseInt(i.substring(10, i.length))+1;
    $('<div class="form-group"><label class="control-label" for="id_choice_'+i+'">Alternativ '+
    i+'</label><input class="form-control" id="id_choice_'+i
    +'" maxlength="80" name="choice_'+i+'" placeholder="Alternativ '+i
    +'" title="" type="text"></div>'
    ).insertBefore(this);
    });
</script>

{% endblock %}
{% block sidebar %}

{% endblock %}