{% extends "base.html" %}
{% load cache %}
{% load markdown_deux_tags %}
{% load sekizai_tags %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
Mine avstemninger
{% endblock %}
{% block content %}
<h1>Mine avstemninger</h1>
{% for poll in poll_list %}

<div class="btn-group">
    <a class="btn btn-default" href="{% url "poll_user_update" poll.id %}">
        <span class="glyphicon glyphicon-pencil"></span>
        Endre
    </a>
    <form style="display: inline" method="POST" action="{% url "poll_user_delete" poll.id %}">
        <button class="btn btn-danger" type="submit">
            <span class="glyphicon glyphicon-trash"></span>
            Slett
        </button>
        {% csrf_token %}
    </form>

</div>
<div class="poll well">
    <h4>{{ poll.question }}</h4>

    {% if poll.voted %}
        <p>{{ poll.get_total_votes }} bruker{% if poll.get_total_votes > 1 %}e{% endif %} har stemt.</p>
        {% for choice in poll.choices.all %}
        <div class="choice">{{ choice.choice }}</div>
        <div class="progress">
            <div class="progress-bar" style="width:{% widthratio choice.votes poll.get_total_votes 100 %}%">
                <span class="percent{% if choice.votes == 0 %} zero{% endif %}">
                    {% widthratio choice.votes poll.get_total_votes 100 %}%
                </span>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <form action="{% url "poll.views.vote" poll.id %}?next={% url "poll_user" %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choices.all %}
    <div class="radio">
        <label>
            <input type="radio" name="choice" value="{{ choice.id }}">
            <span class="choice">{{ choice.choice }}</span>
        </label>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn btn-default btn-block" type="submit">Stem</button>
    {% else %}
    <div class="center" style="color:#999;">Logg inn for å stemme</div>
    {% endif %}
    </form>
    {% endif %}
</div>
{% empty %}
Ingen brukeravstemninger her enda.
{% endfor %}

{% include "includes/pagination.html" %}

<h3>Lag en ny poll.</h3>
<form method="post" action="{% url "poll_user_create" %}" >
{% csrf_token %}
{% bootstrap_form form %}
<button class="btn btn-lg btn-primary" type="submit">Publiser</button>
</form>

{% endblock %}
{% block sidebar %}

{% endblock %}