{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load sekizai_tags %}
{% load static %}
{% load like %}

{% block title %}
{{ podcast.title }}
{% endblock %}
{% block content %}

{% addtoblock "css" %}
    <link href="{% static "podcast/podcast.css" %}" rel="stylesheet"/>
{% endaddtoblock %}

<div class="tittel">
  <h2>{{ podcast.title }}</h2>
  {% if podcast.image %}
  <img class="img-responsive" src="{{ podcast.image.url }}" alt="{{ podcast.title }}" style="max-width: 100%;"/>
  {% endif %}
  <p>
  <i>Dato: {{ podcast.pub_date | date:"d.m.Y" }}. Antall visninger: ca. {{ podcast.view_counter }}</i>
  {% show_like_button_for podcast %}
  </p>
</div>
{% if podcast.file %}
<div class="container-fluid">
    <audio controls>
        <source src="{{ podcast.file.url }}" type="audio/ogg">
        <source src="{{ podcast.file.url }}" type="audio/mpeg">
    </audio>
</div>
{% endif %}

<p>{{ podcast.description }}</p>
{% if podcast.file %}
<div>
<a class="btn btn-primary btn-large" href="{{ podcast.file.url }}" download>
    Last ned
</a>
</div>
{% endif %}
{% if podcast.extra_markdown %}
<p>
    {{ podcast.extra_markdown | markdown:"unsafe" }}
</p>
{% endif %}
{% include "content/includes/comments.html" with content=podcast %}


{% endblock %}
{% block sidebar %}
    {% if season_name %}
        <a href="{{ season.get_absolute_url }}" class="black-link"><h1>{{ season_name }}</h1></a>
    {% endif %}
    {% include "podcast/includes/sidebar_include.html" %}
    {% include "content/includes/sidebar-admin.html" %}
{% endblock %}
