{% extends "base.html" %}
{% load easy_thumbnails %}
{% load like %}
{% load sekizai_tags %}

{% block title %}Nabladet{% endblock %}

{% block main %}

{% addtoblock "js" %}
{% include "likes/like_js_config.html" %}
{% endaddtoblock %}

{% block more_head %}
<!-- Style for archive -->
<style>
.container {
    text-align: center;
}

.nablad-year-container { /* Container for all Nablads of a given year */
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

.active {
    display: block; /* Normally hidden, active year visible */
}

.nablad-year-container button { /* Button for navigating years */
     background: none;
     border: none;
}

.nablad-year-container .grid {
     justify-content: center;
     display: grid;
     grid-template-columns: repeat(auto-fit, 300px);
     grid-gap: 15px 10px;
}

.nablad-year-container .nablad { 
/*    border: 1px solid black;*/
    position: relative;
    height: 455px;
}

.nablad-year-container .nablad h3 {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin: 20px auto 1px;
}

.nablad-year-container .nablad .img-box {
    width: 100%;
    max-height: 353px;
    overflow: hidden;
    box-shadow: 0 0 8px black;

}

.nablad-year-container .nablad .img-box img {
    width: 100%;
}

.nablad-year-container p {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 18px;
}

p.footer-info {
    font-family: "Arial Black", Gadget, sans-serif;
    font-stretch: expanded;
}


</style>

<!-- Script for archive -->
<script>
 function changeYear(elem, step) {
     if(step==1){
	 next = elem.nextElementSibling;
     } else {
	 next = elem.previousElementSibling;
     }
     
     if( next.classList.toString().includes("nablad-year-container")) {
	 elem.classList.remove("active");
	 next.classList.add("active");
     }
 }
</script>
	 
{% endblock %}

<h1>Nabladet</h1>

{% for year,entries in nablad_archive.items %}

{% if year == current_year %}
<div class="nablad-year-container active">
{% else %}
<div class="nablad-year-container">
  {% endif %}
  <h2><button class="fa fa-arrow-left older-year" onclick="changeYear(this.parentElement.parentElement, 1)"></button>{{ year }}<button class="fa fa-arrow-right newer-year" onclick="changeYear(this.parentElement.parentElement, -1)"></button></h2>
  <div class="grid">
    {% for nablad in entries %}

    <div class="nablad">
      <a href="{{ nablad.get_absolute_url }}"> 
	<h3>{{ nablad.headline }}</h3>
	{% if nablad.thumbnail %}
	<div class="img-box">
	  <img src="{% thumbnail nablad.thumbnail 300x353 quality=95 crop %}" alt="Nabladet {{ nablad.pub_date|date:'F Y' }}"></img>
	</div>
	{% endif %}
	<p> {{ nablad.pub_date|date:"F Y" }} </p>
      </a>
    </div>
    
    {% endfor %}
  </div>
</div>
  {% endfor %}

<p class="footer-info">Nabladet er vårt kjære tidsskrift, som blir publisert av redaksjonen flere ganger i semesteret.</p> 
{% endblock main %}

