{% extends "base.html" %}

{% block more_head %}

<meta property="og:image" content="{{ nablad.get_picture_url }}" />
<meta property="og:title" content="{{ nablad.headline|striptags }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{% spaceless %}{{ nablad.lead_paragraph|striptags }}{% endspaceless %}" />

<!-- Style for archive -->
<style>
 .nablad-year-container {
     display: none;
     text-align: center;
 }

 .nablad-year-container ul {
     list-style: none;
     padding: 0;
 }

 .nablad-year-container li.current {
     font-size: 18px;
     color: gray;
 }
 
 .nablad-year-container button {
     background: none;
     border: none;
 }
 
 .active {
     display: block;
 }
</style>

<!-- Script for archive -->
<script>
 function changeYear(elem, step) {
     if(step==1){
	 next = elem.nextElementSibling;
     } else {
	 next = elem.previousElementSibling;
     }
     
     if( next.id.includes("nablad_container_year_")) {
	 elem.classList.remove("active");
	 next.classList.add("active");
     }
 }
</script>
	 
{% endblock %}

{% block title %}{{ nablad.headline }}{% endblock %}

{% block content %}
{% load markdown %}
{% load easy_thumbnails %}


<div class="box">
    {% if nablad.picture %}
    <img alt="header" class="img-responsive" src="{% thumbnail nablad.picture 760x300 box=nablad.cropping upscale=True detail=True quality=95 %}">
    {% endif %}

    <header><h2>{{ nablad.headline }}</h2></header>
    <p><strong>{{ nablad.lead_paragraph}}</strong></p>
    <div style="overflow: hidden;">{{ nablad.body|markdown}}</div>
</div>

{% include "content/includes/comments.html" with content=nablad %}
{% endblock %}


{% block sidebar %}

{% include "content/includes/meta.html" with content=nablad %}

{% if user.is_authenticated and nablad.file_nsfw %}
<a class="btn btn-primary btn-lg btn-block" href="{{ nablad.file_nsfw.url }}">
    Last ned Nabladet {{ nablad.pub_date|date:"F Y" }}
</a>
{% else %}
<a class="btn btn-primary btn-lg btn-block" href="{{ nablad.file.url }}">
    Last ned Nabladet {{ nablad.pub_date|date:"F Y" }}
</a>
{% endif %}

<br>

<h3>Arkiv</h3>
<table class="table table-striped">

    {# nablad_archive is a directory with key year and value a list of publications from that year #}
    {% for year, entries in nablad_archive.items %}
    {% if year == nablad.pub_date|date:"Y" %}
    <div class="nablad-year-container active" id="nablad_container_year_{{ year }}">
    {% else %}
    <div class="nablad-year-container" id="nablad_container_year_{{ year }}">
    {% endif %}
	<h2><button class="fa fa-arrow-left older-year" onclick="changeYear(this.parentElement.parentElement, 1)"></button>{{ year }}<button class="fa fa-arrow-right newer-year" onclick="changeYear(this.parentElement.parentElement, -1)"></button></h2>
	<ul>
	    {% for entry in entries %}
	    {% if entry == nablad %}
	    <li class="current" > {{ entry.pub_date|date:"F" }} </li>
	    {% else %}
	    <li><a href="{{ entry.get_absolute_url }}" >{{ entry.pub_date|date:"F" }} </a></li>
	    {% endif %}
	    {% endfor %} 
	</ul>
    </div>


    {% endfor %}
</table>

{% include "content/includes/sidebar-admin.html" %}
{% endblock %}
