{% extends "base.html" %}


{% block title %}{{ bedpres.headline }}{% endblock %}


{% block content %}

{% include "news/includes/text_content.html" with news=bedpres%}

{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if bedpres.get_users_attending %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for user in bedpres.get_users_attending %}
        <span class="label label-default">
            {% if user.get_full_name %}
                 {{ user.get_full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </span>
        {% endfor %}
    </div>
{% endif %}

{% include "content/includes/comments.html" with content=bedpres %}
{% endblock %}


{% block sidebar %}

{% include "events/includes/info.html" with event=bedpres %}
{% include "content/includes/meta.html" with content=bedpres %}
{% include "bedpres/includes/sidebar-admin.html" %}

{% endblock %}
