{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load thumbnail %}
{% block title %}Bilder{% endblock %}

{% block more_head %}
{% endblock %}

{% block content %}

{% for album in albums %}

    <div class="row">
    <h2><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h2>
    {% if album.visibility != 'u' %}
    <img src="{{ album.images.all.0.get_absolute_url }}" style="height: 150px; max-width: 100%;" />
    {% endif %}
    </div>

{% endfor %}
<nav>
    <ul class="pager">
      {% if page_obj.has_previous %}
          <li class="previous">
              <a href="{{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> forrige</a>
          </li>
      {% endif %}

        <li class="disabled pager-counter">
            Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_next %}
            <li class="next">
                <a href="{{ page_obj.next_page_number }}">neste  <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
