@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-align: center;
    background-color: #eaeaff;
}

h1, h2, p {
    color: #222;
}

img {
    padding-top: 3%;
}

h1 {
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

p.wikitext {
    font-size: 1.5em;
    padding-top: 2.4%;
}

h2 strong {
    font-weight: 900;
}
