{% extends ajax|yesno:"ajax.html,base.html" %}

{% block content %}
<div class="row">
    {% for content in content_list %}
        {% include "content/content_homepage.html" %}
    {% empty %}
        Det er ingenting her. Det var dumt.
    {% endfor %}

    {% comment %}
    TODO: Fiks språk. page -> side
    {% endcomment %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">nyere</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">eldre</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
