{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block title %}Nyheter{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block content %}

<div class="row">
{% if featured_news %}
    {% include "news/news_summary_include.html" with news=featured_news %}
{% else %}
    Her er det dessverre ingen nyheter. Så trist.
{% endif %}
</div>


<hr>

{% for row in news_rows %}

    <div class="row">
    {% for news in row %}
            {% include "news/news_summary_include.html" with narrow="True" %}
    {% endfor %}
    </div>

    <hr>

{% endfor %}


{# .... **Now the pagination section** .... #}
{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_next %}
            <li class="previous">
                <a href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&larr;</span> Eldre</a>
            </li>
        {% endif %}

        <li class="disabled pager-counter">
            Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_previous %}
            <li class="next">
                <a href="?page={{ page_obj.previous_page_number }}">Nyere <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}


{% block sidebar %}

    {% include "events/includes/upcoming_events.html" %}

    {{ sidebarinfo.content|safe }}

    {% include "poll/poll_include.html" %}
{% endblock sidebar %}

{% block below_ad %}

{% endblock below_ad %}
