{% extends "base.html" %}
{% load markup %}
{% block title %}Nyheter{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block content %}

<div class="row">
{% if featured_news %}
    {% include "news/news_summary_include.html" with news=featured_news %}
{% else %}
    Her er det dessverre ingen nyheter. Så trist.
{% endif %}
</div>


<hr>

{% for row in news_rows %}

    <div class="row">
    {% for news in row %}
            {% include "news/news_summary_include.html" with narrow="True" %}
    {% endfor %}
    </div>

    <hr>

{% endfor %}


{# .... **Now the pagination section** .... #}
{% if is_paginated %}
    <div class="pager">
        <ul>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">&larr; Eldre</a>
                </li>
            {% endif %}

            <li class="disabled">
                <a>Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">Nyere &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endblock content %}


{% block sidebar %}

{{ sidebarinfo.content|markdown }}


{% if upcoming_events %}

    <h3>Kommende arrangement</h3>
    <div class="well upcoming"><!-- kommende arrangement -->
        <ul class="nav">

            {% for event in upcoming_events %}
            <li>
                <a href="{{ event.get_absolute_url }}">
                    <time 
                        class="label label-default"
                        datetime="{{ event.event_start|date:"c" }}">{{ event.event_start|date:"j.M" }}
                    </time>
                    {{ event.headline }} 
                    {% if event.registration_required %}
                        <span title="Ledige plasser / Totalt antall plasser">{{ event.users_attending }}/{{ event.places }}</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}

        </ul>
    </div><!-- end kommende arrangement -->

{% endif %}

{% endblock sidebar %}

{% block below_ad %}
{% include "news/poll_include.html" %}
    <div class="ad box hidden-phone">
        <div class="center">
            <h3>Nyeste xkcd: {{xkcd_safe_title}} </h3>
            <a href="http://xkcd.com/">
                <img src="{{xkcd_img}}" title="{{xkcd_alt}}" alt="einstein">
            </a>                
        </div>
    </div>
{% endblock below_ad %}
