{% load mediawiki_links %}
{% load markdown_deux_tags %}
{% load thumbnail %}
{% load classname %}


<div class="col-md-{% if narrow %}6{% else %}12{% endif %} news_item {{ news.content_type.model }}">
    {% if news.as_child_class.correct_picture %}
        <a href="{{ news.get_absolute_url }}">
        {% if narrow %}
            <img alt="" class="news-picture" src="{% thumbnail news.as_child_class.correct_picture 370x123 box=news.as_child_class.correct_cropping quality=95 %}">
        {% else %}
            <img alt="" class="news-picture" src="{% thumbnail news.as_child_class.correct_picture 770x300 box=news.as_child_class.correct_cropping quality=95 %}">
        {% endif %}
        </a>
    {% endif %}

    {% if narrow %}<h3>{% else %}<h2>{% endif %}
        {{ news.headline }}
    {% if narrow %}</h3>{% else %}</h2>{% endif %}
    {{ news.lead_paragraph|markdown|wikilinks}}

    <p><a class="btn btn-default" href="{{ news.get_absolute_url }}">Les mer &raquo;</a></p>
</div>
