{% extends "base.html" %}
{% load static %}
{% load markdown %}

{% block title %}Kodegolf{% endblock %}

{% block more_head %}

<script src="{% static "interactive/js/skulpt.min.js" %}" type="text/javascript"></script>
<script src="{% static "interactive/js/skulpt-stdlib.js" %}" type="text/javascript"></script>

{% endblock %}


{% block content %}
<script src="https://unpkg.com/vue@3"></script>
<script type="text/javascript">
{% autoescape off %}
const correctOutputLines = JSON.parse('{{ task.correct_output_json }}');
let shortestSolution = {{best_attempt}}
shortestSolution = shortestSolution == -1 ? Infinity : shortestSolution
{% endautoescape %}

const outputLinesEquality = (lines, correctLines) => {
    // Check for equality of the two arrays
    // Ignores the last element of an array if it is empty
    const checkedLength = Math.min(lines.length, correctLines.length);

    if (lines.length > checkedLength + 1)
        return false;
    if (correctLines.length > checkedLength + 1)
        return false;

    for (let i=0; i < checkedLength; i++) {
        if (lines[i] !== correctLines[i])
            return false;
    }

    if (correctLines.length === checkedLength + 1 && correctLines[correctLines.length - 1] !== "")
        return false
    else if (lines.length === checkedLength + 1 && lines[lines.length - 1] !== "")
        return false

    return true;
}

function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
        throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}
</script>

<div id="app">
<h3>{{ task }}</h3>
<hr />

<p>{{ task.task|markdown }}</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p  }}
    <button class="btn btn-nabla-blue-dark mr-1" type="button" @click="runit">Kjør</button>
    {% if logged_in %}
    <input class="btn btn-secondary" type="submit" value="Send" :disabled="status!='correct'" />
    {% endif %}
<br />
</form>

<pre v-if="errors" class="alert alert-warning" id="error">[[ errors ]]</pre>
<div v-if="status=='correct'" class="alert alert-success">Riktig output!</div>
<div v-if="longerThanBest" class="alert alert-warning">Koden din er lengre enn den beste du har sendt inn. Du kan sende den inn, men skåren din vil ikke endres.</div>
<pre v-if="output" class="alert alert-primary">
    <h4 class="alert-heading">Output:</h4>
[[ output ]]
</pre>
</div>  <!-- #solution-app -->
<script>
 Vue.createApp({
     compilerOptions: {delimiters: ['[[', ']]']},
     data() {
         return {
             errors: null,
             status: null,  // One of "correct", "incorrect", "spinning"
             user_code: null,
             output: null,
             longerThanBest: false
         }
     },
     methods: {
         runit() {
             this.status = "spinning"
             this.output = ""
             this.longerThanBest = false

             Sk.pre = "output";
             // NB!! If changing skulpt version to python 3,
             // remember to change backend to store submission's python
             // version as python 3 as well.
             Sk.configure({
                 // We have to append, not replace, as s
                 // Skulpt will print to output several times
                 // (for newlines, I think)
                 output: (output) => {this.output += output;},
                 read: builtinRead
             });
             var myPromise = Sk.misceval.asyncToPromise(() => {
                 return Sk.importMainWithBody("<stdin>", false, this.user_code, true);
             });
             myPromise
                 .then(() => {
                     const outputLines = this.output.split("\n");
                     //Mirroring solutionLength from ../models/code_golf.py
                     const outputLength = this.user_code.trim().replaceAll('\r\n', '\n').length

                     if (outputLinesEquality(outputLines, correctOutputLines)) {
                         this.status = "correct"
                         this.errors = null
                         this.longerThanBest = outputLength > shortestSolution
                     } else {
                         this.status = "incorrect"
                         this.errors = "Output does not match correct output."
                     }
                 })
                 .catch((error) => {
                     this.status = "incorrect"
                     this.errors = error
                 });
         }
     }
 }).mount('#app')
</script>

 {% endblock %}

{% block sidebar %}
    <h1>Resultatliste:</h1>
    <a href="{% url 'code_golf_score' task.pk %}">Se dine resultater</a><br />
    <a href="{% url 'code_golf_menu' %}">Se andre oppgaver</a>
    <table style="width:100%">
      <tr><th>Bruker</th><th>Resultat(antall tegn)</th></tr>
      {% for t in result_list %}
      <tr>
        <td>{{ t.user.get_full_name }}</td>
        <td>{{ t.length }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock  %}
