{% extends "base.html" %}
{% load markdown %}

{% block title %}Kodegolf resultat{% endblock %}

{% block content %}
{% if has_solution %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<h1>Din kode: </h1>
<pre><code class="language-python">
{{ code }}
</code></pre>
<p><b>Antall tegn: </b> {{ length }} </p>
{% endif %}

<a href="{% url 'code_golf' task.pk %}">Tilbake til oppgaven</a>
<h1>Alle forsøk:</h1>
<ul>
  {% for result in user_results %}
    <li>{{ result.length  }} - {{ result.submitted_at  }}</li>
  {% endfor %}
</ul>

<h1>Resultatliste:</h1>

<table style="width:100%">
  <tr><th>Bruker</th><th>Resultat(antall tegn)</th></tr>
  {% for t in result_list %}
  <tr>
    <td>{{ t.user.get_full_name }}</td>
    <td>{{ t.length }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock  %}
