{% extends "base.html" %}
{% block main %}

<h1> Webkoms kodegolf </h1>
<h4> 
	<b> 
		Nyeste kodegolf: <a href="{% url 'code_golf' newest_task.id %}">{{newest_task.title}}</a> 
	</b> 
</h4>

<br>
<table style="width:50%">
	<tr>
		<th> Oppgave </th> 
		<th> Beste resultat </th> 
		<th> Ditt resultat </th>
	</tr>
	{% for Task in object_list %}
		<tr>
			<td> <a href="{% url 'code_golf' Task.id %}">{{Task.title}}</a> </td>
			<td> 
				{% for result in result_list %}
					{% if result.task == Task %}
						{{result.length}} 
						({{result.user.get_full_name}}) 
					{% endif %}
				{% endfor %}
			</td>
			<td> 
				{% for result in result_list %}
					{% if result.user == user and result.task == Task %}
						{{ result.length }}
					{% else %}
					{% endif %}
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
