{% extends "base.html" %}
{% block main %}

<h1> Webkoms kodegolf </h1>
<h4> 
	<b> 
		Nyeste oppgave: <a href="{% url 'code_golf' object_list.last.id %}">{{object_list.last.title}}</a> 
	</b> 
</h4>

<br>

<h4> <b> Alle kodegolfer: </b> </h4>
<table style="width:50%">
	<tr>
		<th> Oppgave </th> 
		<th> Beste resultat </th> 
		<th> Ditt resultat </th>
	</tr>
	{% for task, bestResult, userResult in tasks %}
		<tr>
			<td> <a href="{% url 'code_golf' task.id %}">{{task.title}}</a> </td>
			<td> 
				{% if bestResult != None %}
					{{ bestResult.length }}
					({{ bestResult.user.get_full_name }})
				{% else %}
					--
				{% endif %}
			</td>
			<td> 
				{{ userResult }}
			</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
