{% extends quiz.template %}
{% load markdown %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}


<h1>{{ quiz.title }}</h1>
    {% if not quiz.published %}
<div class="alert alert-warning alert-dismissible">Dette er bare synlig fordi du har riktige rettigheter</div>
{% endif %}

{% if quiz.is_timed %}
<div class="float-center card card-body card-body-overline bg-light", id=clock>
    <h2>Tid igjen</h2>
    <div class="countdown"></div>
    <script>
    jQuery(function ($) {
        var time = {{ quiz.duration }},
            display = $('.countdown');
        startTimer(time, display);
        });
    </script>

</div>
{% endif %}

<form action="{{ view.get_form_url }}" method="post">
    {% csrf_token %}
{% for question in quiz.questions.all %}
    <h2 class="quiz-question">{{ forloop.counter }}. {{ question.question|markdown:"unsafe" }}</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <label>{{ question.alternative_1 }}</label>
            <input type="radio" name="{{ question.id }}_alternative" value="1"/>
        </li>
        <li class="list-group-item">
            <label>{{ question.alternative_2 }}</label>
            <input type="radio" name="{{ question.id }}_alternative" value="2"/>
        </li>
        <li class="list-group-item">
            <label>{{ question.alternative_3 }}</label>
            <input type="radio" name="{{ question.id }}_alternative" value="3"/>
        </li>
        <li class="list-group-item">
            <label>{{ question.alternative_4 }}</label>
            <input type="radio" name="{{ question.id }}_alternative" value="4"/>
        </li>
    </ul>
{% endfor %}
    <input type="hidden" name="quiz_reply_id" value="{{ view.quiz_reply_id }}"/>
    <button type="submit" class="btn btn-nabla-blue-dark">
        Send inn
    </button>
</form>
{% endblock %}
