{% extends "base.html" %}

{% block title %}
Quiz
{% endblock %}

{% block content %}
<h1>Quiz</h1>
<ul class="list-group">
{% for quiz in quiz_list %}

{% with user=quiz.created_by %}
<li class="list-group-item">

    {% if user.get_full_name %}
    {{ user.get_full_name }}
    {% else %}
    {{ user.username }}
    {% endif %}

    <a href="{{ quiz.get_absolute_url }}">{{ quiz.title }}</a>
    <a href="{{ quiz.scoreboard.get_absolute_url }}">Highscore</a>
</li>
{% endwith %}
{% empty %}
Ingen quiz her enda.
{% endfor %}
</ul>

{% include "includes/pagination.html" %}


{% endblock %}
{% block sidebar %}
{% endblock %}
