{% extends "base.html" %}
{% block main %}

<h1> Webkoms julenissejakt </h1>

Nisser har inntatt nabla.no! <br>
I hele desember vil det være nisser gjemt på nettsiden vår. Klarer du å finne alle? <br>

<h4>
    {% if request.user.is_authenticated %}
        Du har funnet {{ user_score }} nisser!
    {% else %}
        Logg inn for å delta i nisssejakten!
    {% endif %}
</h4>

<h4> Resultater: </h4>
<table style="width:40%">
    <tr>
        <th> Nissejeger </th>
        <th> Antall nisser </th>
    </tr>
    {% for name, result in santa_hunters %}
        <tr>
            <td> {{ name }} </td>
            <td> {{ result }} </td>
        </tr>
    {%  endfor %}
</table>

<br>

<!--
Kopier denne for å lage en nisse.
Angi id og posisjon på nissen. Posisjon er url-navnet til siden der nissen ligger.
Det er vikig at disse parametrene samssvarer med et Santa-object som kan oprettes i admin.
-->

<!--
<br> <a href="{% url "register_santa" santa_id="1" redirect_url="hidden_santa" %}">
    <img alt="Se! En nisse!" src="https://nabla.no/media/uploads/content/nisse_3.jpg" width="150">
</a> <br>

-->

{% endblock %}
