{% load markdown %}
{% load sekizai_tags %}
{% load listutil %}
{% load bootstrap4 %}
{% load static %}

{% addtoblock "js" %}
{% endaddtoblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>
        Nabla - {{ test.title }}
    </title>
    <meta name="description"
          content="Hjemmesiden til linjeforeningen Nabla, for studentene på
                   fysikk og matematikk-masterprogrammet på NTNU.">
    <meta name="author" content="Nabla">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "interactive/css/user_test.css" %}"/>
    {% endaddtoblock %}

    {% addtoblock "css" %}
    <style>

    </style>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/base.js" %}"></script>
    {% endaddtoblock %}

    {% render_block "css" %}

    <!-- Fav and touch icons, for screen and mobile -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
    
    {% addtoblock "js" %}
    <script src="{% static "wiki/js/core.js" %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js-head" %}
        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "requirejs/require.js" %}"></script>
    {% endaddtoblock %}

    {% render_block "js-head" %}

    {% block more_head %}
    {% endblock %}

</head>

<body>

<div class="content">
<div class="row">
<div class="col-md-8">

   {% bootstrap_messages %}

   {% block content %}{% endblock %}

</div>
</div>
</div>

{% render_block "js" %}

</body>
</html>
