{% extends 'base.html' %}

{% block more_head %}
<style>
 #attending_list label {
     font-weight: normal;
 }
</style>
{% endblock %}

{% block main %}
{# Må finne en måte å huske y-posisjonen til nettsiden for at dette skal funke #}
{#<script>#}
{#$( document ).ready(function() {#}
{#     $("input:radio.penalty_table_radio").change(function ()#}
{#     {#}
{#        $("form#penalty_form").submit();#}
{#     }#}
{#     );#}
{##}
{#</script>#}

<h2>Prikkadministrering for <a href="{{event.get_absolute_url}}">{{ event.headline }}</a></h2>
<br>


<form method="post" id="penalty_form">{% csrf_token %}
{#{% if event.penalty == 1 %}#}
{#    <button type="button" onclick="make_all_penalty('penalty_form')">Aktiver prikker</button>#}
{#    <span>NB! Du må trykke send inn for at prikkene skal registreres.</span>#}
{#{% endif %}#}
<table id="attending_list" class="table">
    <tr>
        <th>Bruker</th>
        {% for case, penalty in event.get_penalty_rule_dict.items %}
        <th>{{ case }} ({{ penalty }}p)</th>
        {% endfor %}
        <th>Ubestemt (0p)</th>
        <th>Registrert oppmøte </th>


    </tr>
    {% for registration in registrations %}
    <tr>
        <td><label for="user_penalty_{{registration.pk}}">{{ registration.user.get_full_name }}</label></td>
        {% for penalty in event.get_penalty_rule_dict.values %}
        <td><label style="width: 100%"><input type="radio" class="penalty_table_radio" name="user_penalty_{{registration.pk}}" value="{{ penalty }}" {% ifequal registration.penalty penalty %}checked{% endifequal %}></label></td>
        {% endfor %}
        <td><label style="width: 100%"><input type="radio" class="penalty_table_radio" name="user_penalty_{{registration.pk}}" value="None" {% ifequal registration.penalty None %}checked{% endifequal %}></label></td>
        <td>
        {% if registration.attendance_registration %}
            Ja
        {% else %}
            Nei
        {% endif %}
        </td>

    </tr>
    {% endfor %}
</table>
<button class="btn btn-primary float-right" type="submit" >Send inn</button>
</form>
{% endblock %} {# block "content" #}
