{% extends "base.html" %}

{% block main %}

<style>
 #event_list {
     display: flex;
     flex-wrap: wrap;
 }

 #event_list .event {
     flex: 0 0 45%;
     border: 1px solid black;
 }
</style>

<div id="penalties">
{% if penalties %}<h2>Prikker:</h2>{% endif %}
{% for penalty in penalties %}
    <span class="fa fa-times"></span> {{ penalty.event.headline }} - {{ penalty.penalty }} prikk{% if penalty.penalty > 1 %}er{% endif %}
{% endfor %}
</div>

<div id="user_events">
    {% if user_events %}<h2>Påmeldte arrangementer:</h2>{% endif %}
    {% for reg in user_events %}
        {{ reg.event.event_start|date:"F d." }} - {{ reg.event.headline }}
    {% endfor %}
</div>

<div id="event_list">
{% for event in object_list %}
    <div class="event">
        <img src="{{ event.get_picture_url }}">
        <h3>{{ event.headline }}</h3>
        <p>{{ event.lead_paragraph }}</p>
        {{ event.event_start }}
    </div>
{% endfor %}
</div>
{% endblock %}
