{% extends "base.html" %}
{% load markdown %}
{% load easy_thumbnails %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}


<div class="box">
    {% if event.picture %}
    <img alt="header" class="img-fluid"
         src="{% thumbnail event.picture 760x300 box=event.cropping upscale=True detail=True quality=95 %}">
    {% endif %}

    <header><h2>{{ event.headline }}</h2></header>
    <p><strong>{{ event.lead_paragraph}}</strong></p>
    <div style="overflow: hidden;">{{ event.body|markdown}}</div>
</div>

{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for registration in event.eventregistration_set.all %}
        {% with user=registration.user %}
        <span class="label label-default
                     {% if registration.waiting %} 
                     waiting-place
                     {% endif %}" style="display: inline-block;">

            {% if user.get_full_name %}
            {{ user.get_full_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </span>
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% include "content/includes/comments.html" with content=event %}

    {% endblock %}


    {% block sidebar %}

{% with "events/includes/info_"|add:type|add:".html" as info_template %}
    {% include info_template %}
{% endwith %}
{% include "content/includes/meta.html" with content=event %}
{% include "content/includes/sidebar-admin.html" %}

{% endblock %}
