{% extends "base.html" %}
{% load humanize %}

{% block content %}

<h2 class="gtext">Prikker og påmeldte arrangementer ({{ user.username }})</h2>

{% if eventregistration_list %}
<table class="table">
    <caption></caption>
    <thead>
        <tr>
            <th>Arrangement</th>
            <th>Starter</th>
            <th>Avmeldingsfrist</th>
            <th style="text-align:right;">Status</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="10" class="muted">
                {% if is_on_a_waiting_list %}<br/> Du kan alltid trekke deg fra ventelister.{% endif %}
            </td>
        </tr> 
    </tfoot>
    <tbody>
    {% for eventregistration in eventregistration_list %}
        {% if eventregistration.attending %}
            <tr class="success">
        {% else %}
            <tr class="warning">
        {% endif %}
        <td>
            <a href="{{ eventregistration.event.get_absolute_url }}" style="text-decoration:none;">
                {% if eventregistration.event.short_name %}
                    {{ eventregistration.event.short_name }}
                {% else %}
                    {{ eventregistration.event.headline|truncatechars:20 }}
                {% endif %}
            </a></td>
                <td>
                    <time datetime="{{ eventregistration.event.event_start|date:"c" }}">
                        {{ eventregistration.event.event_start.date|naturalday }} kl. {{ eventregistration.event.event_start|date:"H:i" }}
                    </time>
                </td>
                <td>
                {% if eventregistration.event.deregistration_closed %}
                    Utløpt{% if eventregistration.waiting %}<sup>1</sup>{% endif %}
                {% else %}
                    {% if eventregistration.event.deregistration_deadline %}
                        <time datetime="{{ eventregistration.event.deregistration_deadline|date:"c" }}">
                            {{ eventregistration.event.deregistration_deadline.date|naturalday }} kl. {{ eventregistration.event.deregistration_deadline|date:"H:i" }}
                        </time>
                        {%if eventregistration.waiting %}<sup>1</sup>{% endif %}
                    {% else %}
                    Ingen
                    {% endif %}
                {% endif %}
                </td>
                <td style="text-align:right;">
                {% now "Y-m-d" as todays_date %}
                {% if eventregistration.event.has_finished %}
                    {% if eventregistration.attendance_registration %}
                        <span class="fas fa-thumbs-up"></span> Du ble registrert på arrangementet.
                    {% else %}
                        {%if eventregistration.penalty%}
                            Prikk! Du fikk {{eventregistration.penalty}} prikk(er).
                        {%elif eventregistration.event.get_noshow_penalty%}
                            Oppmøteregistrering er ikke ferdig.
                        {%else%}
                            Du møtte kanskje ikke opp, men det går fint.
                        {%endif%}
                    {%endif%}
                {%elif eventregistration.event.has_started %}
                    {%if eventregistration.event.has_enddate%}
                        Arrangementet pågår.
                    {%else%}
                        {{evenregistration.event.}}
                        Arrangementet kan være slutt.
                    {%endif%}
                {%else%}
                    {%if eventregistration.attending%}
                        Du har plass på arrangementet {{eventregistration.event.event_date}}                        
                    {%else%}
                        Ventelisteplass: {{ eventregistration.waiting_list_place }}
                    {%endif%}
                {%endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
