{% extends "base.html" %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}

<h2> {{ event.headline }} </h2>
{% if event.registration_required %}

<div class="row">
    <div class="col-sm-6">
        <ul class="list-group list-group-flush " >
            <li class="list-group-item">
                <span class="badge"> {{ event.places }} </span>
                Plasser:
            </li>
            <li class="list-group-item">
                <span class="badge"> {{ event.users_attending }} </span>
                Påmeldte:
            </li>
            <li class="list-group-item">
                <span class="badge"> {{ event.users_waiting }} </span>
                Ventende:
            </li>
        </ul>
    </div>
    <div class="col-sm-6 ">
        <label >Epostliste:</label>
        <textarea class="form-control rounded-0"; rows = "4">{% for email in event.users_attending_emails %}{{ email }}; {% endfor %}</textarea>
    </div>

</div>

<form action="" method="post" class="form">{% csrf_token %}
    <label for="text">Legg til bruker: </label>
    <div class="form-inline">
        <input class="form-control" type="text" name="text" maxlength="10" placeholder="Brukernavn" />
        <input type="hidden" name="action" value="add" />
        <button class="btn btn-primary" type="submit" value="Legg til" >Legg til </button>
    </div>
    <input class="form-check-input" type="checkbox" name = "Regelboks" value="True" id="">
    Ignorer påmeldingsregler &emsp;
</form>

 <form action="" method="post" class="form">{% csrf_token %}
    <div class="form-inline pull-right">
        <label>Kryss av brukere som skal fjernes:</label>
        &emsp;
        <input type="hidden" name="action" value="del" />
        <button class="btn btn-primary "  type="submit" value="Fjern"> Fjern </button>
    </div>


    {% if event.eventregistration_set %}
        <table class="table">
            <thead>
                <tr>
                    <th>Plass</th>
                    <th>Navn</th>
                    <th>Klasse</th>
                    <th align="center">X</th>
                </tr>
            </thead>

            <tbody>
                {% with regs=event.attending_registrations %}
                {% for reg in regs %}
                    <tr class="success">
                        <td>{{ forloop.counter  }}</td>
                        <td>{{ reg.user.get_full_name }}</td>
                        <td>{{ reg.user.get_class_number }}</td>
                        <td><input type="checkbox" name="user" value="{{ reg.user.username }}" /></td>
                    </tr>
                {% endfor %}
                {% endwith %}

                {% with regs=event.waiting_registrations %}
                {% for reg in regs %}
                    <tr class="warning">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ reg.user.get_full_name }}</td>
                        <td>{{ reg.user.get_class_number }}</td>
                        <td><input type="checkbox" name="user" value="{{ reg.user.username }}" /></td>
                    </tr>
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>
    {% else %}
        Det er ingen påmeldte brukere.
    {% endif %}
</form>

{% else %}
    <p>Registrering er ikke nødvendig, så det er ikke så mye å gjøre her.</p>
{% endif %}

{% endblock %}
