{% extends "base.html" %}

{% block main %}
<style>
#event_list .month {
    border: 1px solid black;
    margin-bottom: 5px;
}

#event_list .day {
text-decoration: underline;
 }
</style>

<div id="penalties">
{% if penalties %}<h2>Prikker:</h2>{% endif %}
{% for penalty in penalties %}
    <span class="fa fa-times"></span> {{ penalty.event.headline }} - {{ penalty.penalty }} prikk{% if penalty.penalty > 1 %}er{% endif %}
{% endfor %}
</div>

<div id="user_events">
    {% if user_events %}<h2>Påmeldte arrangementer:</h2>{% endif %}
    {% for reg in user_events %}
        {{ reg.event.event_start|date:"F d." }} - {{ reg.event.headline }}
    {% endfor %}
</div>

<div id="event_list">
{% for event in object_list %}
        {% ifchanged event.event_start.month %}{% if forloop.counter0 %}</div>{% endif %}{% endifchanged %}
        {% ifchanged event.event_start.month %}
        <div class="month"> 
        <h2>
            {{ event.event_start|date:"F" }}
        </h2>
    {% endifchanged %}
    {% ifchanged %}<h3 class="day">{{ event.event_start|date:"d - l" }}</h3>{% endifchanged %}
    <li>{{ event.headline }}</li>
{% endfor %}
</div>
{% endblock %}
