{% extends "base.html" %}
{% load markdown %}
{% load easy_thumbnails %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}


{% include "content/includes/article_content.html" with content=event %}
<br>
{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for registration in event.eventregistration_set.all %}
        {% with user=registration.user %}
        <span class="badge {% ifequal user request.user %} badge-info {% else %} badge-secondary {% endifequal %}
                     {% if registration.waiting %} 
                     waiting-place
                     {% endif %}" style="display: inline-block;">

            {% if user.get_full_name %}
            {{ user.get_full_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </span>
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% include "content/includes/comments.html" with content=event %}

    {% endblock %}


    {% block sidebar %}

{% with "events/includes/info_"|add:type|add:".html" as info_template %}
    {% include info_template %}
{% endwith %}
{% include "content/includes/meta.html" with content=event %}
{% include "content/includes/sidebar-admin.html" %}

{% endblock %}
