{% extends "base.html" %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}
<h2>{{ event.headline }}</h2>

{% if event.registration_required %}
<p>
    Plasser: {{ event.places }}<br />
    Påmeldte: {{ event.users_attending }}<br />
    {% if event.has_queue %}
        Ventende: {{ event.users_waiting }}<br />
    {% endif %}
    Epostliste: <br />
    <textarea>{% for email in event.users_attending_emails %}{{ email }}; {% endfor %}</textarea>
</p>

<form action="" method="post" class="form">{% csrf_token %}
    <div class="form-inline">
        <label for="text">Legg til bruker: </label>
        <input class="form-control" type="text" name="text" size="10" maxlength="10" placeholder="Brukernavn" />
	<input type="hidden" name="action" value="add" />
        <input class="form-control" type="submit" value="Legg til" />
    </div>
</form>
<form action="" method="post" class="form">{% csrf_token %}
    <div class="form-inline">
        <label>Kryss av brukere som skal fjernes:</label>
        <input type="hidden" name="action" value="del" />
        <input class="form-control" type="submit" value="Fjern" />
    </div>

    {% if event.eventregistration_set %}
        <table class="table">
            <thead>
                <tr>
                    <th>Plass</th>
                    <th>Navn</th>
                    <th>Klasse</th>
                    <th align="center">X</th>
                </tr>
            </thead>

            <tbody>
                {% with regs=event.attending_registrations %}
                {% for reg in regs %}
                    <tr class="success">
                        <td>{{ forloop.counter  }}</td>
                        <td>{{ reg.user.get_full_name }}</td>
                        <td>{{ reg.user.get_class_number }}</td>
                        <td><input type="checkbox" name="user" value="{{ reg.user.username }}" /></td>
                    </tr>
                {% endfor %}
                {% endwith %}

                {% with regs=event.waiting_registrations %}
                {% for reg in regs %}
                    <tr class="warning">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ reg.user.get_full_name }}</td>
                        <td>{{ reg.user.get_class_number }}</td>
                        <td><input type="checkbox" name="user" value="{{ reg.user.username }}" /></td>
                    </tr>
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>
    {% else %}
        Det er ingen påmeldte brukere.
    {% endif %}
</form>

{% else %}
    <p>Registrering er ikke nødvendig, så det er ikke så mye å gjøre her.</p>
{% endif %}

{% endblock %}
