{% extends "base.html" %}
{% load markdown %}
{% load easy_thumbnails %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}

{% block meta_image %}
    {% if event.picture %}
    <meta property="og:image" content="https://{{ request.get_host }}{% thumbnail event.picture 1200x630 box=event.cropping upscale=True detail=True quality=95 %}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    {% endif %}
{% endblock meta_image %}

{% include "content/includes/article_content.html" with content=event %}
{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for registration in event.eventregistration_set.all %}
        {% with user=registration.user %}
        <span class="badge {% if user == request.user %} badge-info {% else %} badge-secondary {% endif %}
                     {% if registration.waiting %}
                     waiting-place
                     {% endif %}" style="display: inline-block;">

            {% if user.get_full_name %}
            {{ user.get_full_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </span>
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% include "content/includes/comments.html" with content=event %}

    {% endblock %}


    {% block sidebar %}

{% with "events/includes/info_"|add:type|add:".html" as info_template %}
    {% include info_template %}
{% endwith %}
{% include "content/includes/meta.html" with content=event %}
{% include "content/includes/sidebar-admin.html" %}

{% endblock %}
