{% extends "base.html" %}

{% block main %}
<style>
#event_list .month {
    border: 1px solid black;
    margin-bottom: 5px;
}

#event_list .day {
text-decoration: underline;
 }
</style>

<div id="penalties">
{% if penalties %}<h2>Prikker:</h2>{% endif %}
{% for penalty in penalties %}
    <span class="fa fa-times"></span> {{ penalty.event.headline }} - {{ penalty.penalty }} prikk{% if penalty.penalty > 1 %}er{% endif %}
{% endfor %}
</div>

<div id="user_events">
    {% if user_events %}<h2>Påmeldte arrangementer:</h2>{% endif %}
    {% for reg in user_events %}
        {{ reg.event.event_start|date:"F d." }} - {{ reg.event.headline }}
    {% endfor %}
</div>

<div id="event_list">
    {% regroup object_list by event_start.date|date:"F" as month_list %}
    {% for month in month_list %}
        <div class="month">
            <h2>{{ month.grouper }}</h2>
            {% for event in month.list %}
            {% ifchanged %}<h3 class="day">{{ event.event_start|date:"d - l" }}</h3>{% endifchanged %}
            <p>{{ event.headline }}</p>
            {% endfor %}
       </div>
{% endfor %}
</div>
{% endblock %}
