{% load cache %}
{% load flatpages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Nabla: {% block title %}linjeforeningen for Fysikk og matematikk ved NTNU{% endblock title %}
    </title>
    <meta name="description" 
          content="Hjemmesiden til linjeforeningen Nabla, for studentene på 
                   fysikk og matematikk-masterprogrammet på NTNU.">
    <meta name="author" content="Nabla">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Bootstrap + responsive + icons from external CDN #}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

    {# Uncomment if CDN fails #}
    {#<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">#}
    {#<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">#}


    {# Our custom CSS #}
    <link href="{{ STATIC_URL }}css/default.css" rel="stylesheet">

    {# HTML5 shim, for IE6-8 support for HTML elements #}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons, for screen and mobile -->
    <link rel="shortcut icon" href="{{STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">

    {# Obligatory jQuery #}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    {% block more_head %}
    {% endblock %}

</head>

<body>

{# Siden består av en svart bakgrunn, og en hvit div som inneholder alt utenom footer #}
<div id="whitebox" class="box-shadow">
<div class="container">{# main container #}

<header>
    <div class="page-header">
        <a class="pull-left" href="/">
            <img src="{{ STATIC_URL }}img/nabla_logo_black.png" alt="Nabla">
        </a>

        <form id="searchtop" class="pull-right form-search" method="get" action="/search/">
            <div class="input-append">
                <input name="q" placeholder="Søk..." type="text" class="span2 search-query">
                <button type="submit" class="btn">
                    <i class="icon-search"></i> 
                </button>
            </div>
        </form>
    </div>
</header>

<nav class="navbar">
<div class="navbar-inner">
<div class="container" style="width: auto;">

        {% comment %}
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        {% endcomment %}

        {#<!--<div class="nav-collapse">-->{# blir gjemt ved små skjermstørrelser #}
        
            {# navigasjonslenker #}
            <ul class="nav">
                <li><a href="/">Hjem</a></li>
                <li><a href="{% url "event_list" %}">Arrangement</a></li>
                <li><a href="{% url "jobs_list" %}">Karriere</a></li>
                <li><a href="http://wiki.nabla.no/">Wiki</a></li>

                <li class="dropdown">
                    <a href="#komiteer"
                        class="dropdown-toggle no-ajaxy"
                        data-toggle="dropdown">
                        Om Nabla
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" >

            {# Hent alle sider som starter på /om/ #}
            {% get_flatpages '/om/' as about_pages %}
            {% for page in about_pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}

            {# Faste lenker om Nabla #}
			<li><a href="{% url "nablad_list" %}">Nabladet</a></li>
                    </ul>
                </li>

        {% comment %}
		<li class="dropdown">
                    <a href="#komiteer"
                        class="dropdown-toggle no-ajaxy"
                        data-toggle="dropdown">
                        Sosialt
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" >
                        {# <li><a href="/forum">Forum</a></li> #}
                        {#<li><a href="{% url "irc" %}">Chat</a></li>#}
                        {# <li><a href="{% url "gallery.views.index" %}">Galleri</a></li> #}
                    </ul>
                </li>
        {% endcomment %}
                
                <li class="dropdown">
                    <a href="#komiteer"
                        class="dropdown-toggle no-ajaxy"
                        data-toggle="dropdown">
                        Komiteer
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" >
                        {% cache 3600 com_list_dropdown %}
                        {# Liste over komiteer #}
                        {% for com in coms %}
                        <li><a href="{{ com.get_absolute_url }}">{{ com.com.name }}</a></li>
                        {% empty %}
                        <li><a>Ingen komiteer eksisterer</a></li>
                        {% endfor %}
                        {% endcache %}
                    </ul>
                </li>
                <li><a href="http://bokskap.nabla.no">Bokskap</a></li>

		{% if not user.is_authenticated %}<li><a href="{% url "accounts.views.user_register" %}">Registrer deg</a></li>{% endif %}


            </ul>
            {# end navigasjonslenker #}

            {% if user.is_authenticated %}

            {# bruker-dropdown #}
            <ul class="nav pull-right">
                <li class="dropdown pull-right">
                    <a href="#bruker"
                        class="dropdown-toggle no-ajaxy"
                        data-toggle="dropdown">
                        <span class="icon-user"></span>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "accounts.views.view_member_profile" user.username %}">Vis profil</a></li>
                        <li><a href="{% url "accounts.views.edit_profile" %}">Endre profil</a></li>
                        <li><a href="{% url "password_change" %}">Endre passord</a></li>
                        <li><a href="{% url "view_user_events" %}">Påmeldte arrangementer</a></li>
                        <li><a class="no-ajaxy" href="/logout">Logg ut</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "accounts.views.list" %}">Medlemsliste</a></li>
                        {% if user.is_staff %}
                        <li><a class="no-ajaxy" href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            {# end bruker-dropdown #}

            {% else %}

            {# loginboks #}
            <form class="navbar-form pull-right" action="/login/" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><input type="text" placeholder="Bruker" name="username" /></td>
                        <td><input type="password"  placeholder="Passord" name="password" /></td>
                        <td><button class="submit btn btn-info" type="submit">Login</button></td>
                    </tr>
                </table>
            </form>
            {# end loginboks #}

            {% endif %}

            {#<!--</div>--><!-- end nav-collapse-->#}
        
</div> {# end container #}
</div> {# end navbar-inner #}
</nav> {# end navbar #}



{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags}}{% endif %}">
            {#<a class="close" data-dismiss="alert">×</a>#}
            <b>Info:</b> {{ message }} 
        </div>
    {% endfor %}
{% endif %}


{% block main %}

<div class="row"><!-- main row -->

    {# content #}
    <div class="span8">
        {% block content %} 
        {% endblock content %}
        
        {% block breadcrumb %}
        {% endblock breadcrumb %}
    </div> 
    {# end content container #}
    

    <aside class="span4">{# sidebar #}

        {% block sidebar %}
            <!--sidebar er tom-->
        {% endblock sidebar %}


        <!-- reklame -->
        {% block ad %}
        {% endblock ad %}


        {% block below_ad %}
        {% endblock %}


    </aside>{# end sidebar #}
    


</div>{# end main row #}

{% endblock main %} 


</div>{# end main container  #}
</div>{# end whitebox #}


<footer>

    <div class="container">
    <div class="row">
    
        {# kontakt #}
        <div class="span4 kontakt">
            <h2>Kontakt</h2>

            <p>Du kan nå oss på <a class="email" href="mailto:nabla@nabla.ntnu.no">nabla@nabla.ntnu.no</a></p>

            <p>Bedrift? Kontakt Bedriftskontakten Nabla på <a class="email" href="mailto:bedkom@nabla.ntnu.no">bedkom@nabla.ntnu.no</a></p>

            <address>
                Nabla <br>
                Kjemiblokk 2 <br>
                Sem Sælands vei 10, NTNU <br>
                7034 Trondheim <br>
                Norway
            </address>
        </div>
        {# end kontakt #}
        
        {# om nabla #}
        <div class="span4">
            <h2>Tilbakemelding</h2>
            <p>Den nye Nabla-nettsiden er fremdeles i sin barndom. Har du
            funnet en feil, får du ikke logget på, eller er det noe som burde
            forbedres? Kontakt webkom:<br>
                <a class="email" href="mailto:webkom@nabla.ntnu.no">webkom@nabla.ntnu.no</a>
            </p>

            
        </div>
        {# end om nabla #}

        {# nablalogo #}
        <div class="span4 center" id="nablafooter">
            <br><br>
            <img src="{{ STATIC_URL }}img/nabla-white.svg" alt="nabla logo">
        </div>

        {% comment %}
        {# twitterbox #}
        <div class="span4" id="twitterbox">
            
            {# Standard Twitter-widget #}
            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 3,
                interval: 30000,
                width: 'auto',
                height: 300,
                theme: {
                    shell: {
                        background: '#222',
                        color: '#ffffff'
                    },
                    tweets: {
                        background: '#111',
                        color: '#abd2eb'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: false,
                    live: false,
                    behavior: 'all'
                }
            }).render().setUser('nabla_ntnu').start();
            </script>

        </div>
        {# end twitterbox #}
        {% endcomment %}
        
    </div>{# end row #}
</div>{# end container #}
</footer>


{# Google Analytics #}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30407973-1']);
  _gaq.push(['_setDomainName', 'nabla.no']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{# Bootstrap JS from external CDN #}
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
{#<script src="{{ STATIC_URL }}js/bootstrap.js"></script>#}

{% block more_js %}
{% endblock %}

{# History.js #}
{# Skaper krøll med Django Toolbar #} 
{#<script src="{{ STATIC_URL }}js/jquery.history.js"></script>#}

{# MathJax for LaTeX rendering #}
<script type="text/x-mathjax-config">
    // Differences from standard config:
    //  - $tex$ is allowed.
    //  - LaTeX inside <code> tags now works.
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [ ['$','$'], ["\\(","\\)"] ]
        }
    });

    // Hooks the event which is triggered when a Latex equation is rendered, and
    // adds the class .equation to the parent <code> element. This is because
    // Markdown creates code elements around equations.
    MathJax.Hub.Register.MessageHook("New Math", function( message ) {
        var script = MathJax.Hub.getJaxFor( message[1]).SourceElement();
        $(script).parent("code").addClass("jax");
    })
</script>

<script type="text/javascript" 
  async
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</body>
</html>
