<html>

<head>

<title>{% block title %}Nablaweb{% endblock %}</title>

<style type="text/css">
	body {
		background-color:#eee;
		font-family: Verdana;
		font-size: 12px;
		}
</style>
</head>
<body>
  <h1><a href="/">Nabla</a></h1>



{% if user.is_authenticated %}
Velkommen {{ user.get_full_name }}!<br />
<a href="/logout/">Logg ut</a>
{% else %}
<form method="post" action="/login/" />

    {% csrf_token %}
	<label for="id_username">Brukernavn:</label>
	<input type="text" name="username" id="id_username" />
	<label for="id_password">Passord:</label>
	<input type="password" name="password" id="id_password" />   
    <input type="submit" value="Logg inn"/>
</form>
{% endif %}
<br />

<hr />
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
{% endif %}


{% block content %} Av en eller annen grunn er det ikke noe her {% endblock %}

<br />

{% block sidebar_event %}
<div class="sidebar_element">
    <strong>Kommende arrangement:</strong>
    {# upcoming_events er tilgjengelig i alle templates pga context processor #}
    {% if upcoming_events %}
        <ul>
            {% for event in upcoming_events %}
            <li><a href="{% url event_detail event.id %}">{{ event.headline }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Ingenting :(
    {% endif %}
</div>
{% endblock sidebar_event %}

</body>

</html>
