{% extends "base.html" %}

{% block title %}Nabla forside{% endblock %}

{% block content %}

<h2>Forsida</h2>

Her finnes ting og tang som funker mer eller mindre:
<ul>
	<li><strong>Arrangement:</strong>
		<ul>
			<li><a href="/arrangement">Liste over arrangementer</a></li>
		</ul>
	</li>

	<li><strong>Accounts:</strong>
		<ul>
			<li><a href="/profile/edit/">Endre profil</li>
			<li><a href="{#{% url accounts.views.list %}#}">Brukerliste</a></li>
		</ul>
	</li>
	
	<li><strong>Stillingsannonser:</strong></li>
	    <ul>
	        <li><a href="/stillinger">Liste over stillingsannonser</li>
	    </ul>
	</li>
</ul>
{% endblock %}
