/* MAIN */
    body { 
        background-color: #000; /* Background-color of footer */
    }

    /* Div that holds all parts of page except footer */
    #whitebox {
        background-color: white;
        background-image: url(../img/bgnoise.png);
        border-bottom: 1px solid black;
        padding-bottom: 40px;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: -20px;
        margin-left: -20px;
    }



    header { margin-bottom: 5px; }
    header img { width: 200px; }
    aside h3 { margin-top: 15px; }
    aside h3:first-child { margin-top: 0; }

    h2 { margin-bottom: 5px; }
    h3 { margin-bottom: 5px; }


    /* 172px: magisk nummer, finnes ved tipping */
    .navbar-form { width: 175px; padding-right: 10px; }
    .navbar-form td { width: 55px; }
    .navbar input { width: 51px; }


/* Utility classes */

    /* Some floats for articles */
    img[alt=right] {
        float: right;
    }

    img[alt=left] {
        float: left;
    }

    .box {
        background-color: white;
        border: 1px solid #eee;
        padding: 3px;
        margin-bottom: 5px;
    }
    .box img:last-child { margin-bottom: -4px; }

    /* Remove code styling from rendered LaTeX */
    code.jax {
        background: inherit;
        border: none;
        color: inherit;
        font-size: 120%;
        font: inherit;
        margin: 0px;
    }

    .pagination {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .wide {
        width: 100%;
    }

/* MathJAX customisation */

    .MathJax_Display {
        margin-bottom:-15px !important;
        margin-top: 3px !important;
    }



/* FOOTER */
    footer { 
        /* TODO: Add cross-browser support */
        background-color: black;
        border-top:1px solid #666;
        color: #ccc; 
        padding-bottom: 30px;
        padding-top: 30px; 

        

    }
        
    /* h2 is black, so make it white */
    footer h2 {
        color: #ccc; 
    }
    footer a { color: #bddeff; }

    footer .kontakt table {
    }
        footer .kontakt table th {
        }
        footer .kontakt table td {
            border-top: 0;
        }
        footer .kontakt table td:first-child {
            color: white;
        }

/* Custom icons */
    /* Custom added icons */
    .icon-custom{background-image:url(../img/facebook-icon.png);}
    .icon-facebook{background-position:0px 0px;}
    
    /* Red glyph icons */
    .icon-red{background-image:url(../bootstrap/img/glyphicons-halflings-red.png);}

/* Event-liste på forsiden med kommende arrangement */
.upcoming {
    padding: 8px 0;
}
    .upcoming span {
        opacity: 0.5;
        -moz-opacity: 0.5;
        -webkit-opacity: 0.5;
    }

/* Event-kalender */
.calendar { 
    width: 100%;
    margin-top:20px;
    margin-bottom: 40px;
    border-spacing: 3px;
    border-collapse: separate;
}
    .calendar caption {
        padding: 30px;
    }
    .calendar * { margin: 0; padding: 0;}
    table td, table th { width: 113px; } /* All table cells */

    /* First column */
    .calendar th:first-child, .calendar td:first-child {
        width: 40px;
    }
    .calendar td:first-child { /* First column, except first row: Week digits */
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
    .calendar td.cell {
        background-color: #f8f8f8;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        border: 1px solid #ddd;
        height: 100%;
        margin: 2px;
        padding: 5px;
        padding-left: 6px;
        vertical-align: top;
    } 
    .calendar .current.cell {

        background-color:#DDEEFF;
        border-color:#3399FF;
    }
    .calendar .differentmonth.cell {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=4)";
        filter: alpha(opacity=4);
        opacity: 0.4;
    }

    .calendar ul { list-style: none; min-height: 50px;}
    .calendar ul li { padding-left: 5px; font-size: 0.85em; }
    .calendar ul li.blue { background: url('../img/cal-blue.png') no-repeat 0px 2px; }
    .calendar ul li.green { background: url('../img/cal-green.png') no-repeat 0px 2px; }
    .calendar ul li.red { background: url('../img/cal-red.png') no-repeat 0px 2px; }
    

    .centertext { text-align: center; }

/* COMMENTS */
    .comments-header {
        margin-top: 30px;
    }
    form.add-comment { margin-top: 20px; }
    form.add-comment .control-group:first-of-type { padding-top: 9px;}
    form.add-comment textarea {
        width: 98%;
        height: 100px;
    }
    .comment .text { width: 100%; overflow: hidden; }
    .comment .info { margin-bottom: 10px; } 
    .comment .author { font-weight: bold; } 
    .comment .date { color: #999; }

/* Tabell i jobs_list.html */

    .jobslist_table {
        width: 28em;
        float: right;
        margin-top: 15px;
    }

    .jobslist_td_title {
        width: 25%;
    }

    .jobslist_td_content {
        width: 75%;
    }


/* for logo + søkefelt i headeren */

    .page-header {
        overflow: hidden;    /* clear floats */     
        padding: 0px;
        border-bottom: 0px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    form#searchtop {
        margin-bottom: 0px;
        margin-top: 19px; /* Logohøyde minus høyden på formen */
    }

/* Endringer i Bootstrap-farger */
.navbar-inner {border: 1px solid #c0c0c0;}/* Navbar border */
.navbar .nav > li > a { color: #555;}/* Navbar link color */

/* News */

    /* Poll */
    .poll .choice {
        margin-bottom: 5px;
    }

    .poll .progress {
        background-image: -webkit-linear-gradient(top, #ececec, white);
        background-image: -o-linear-gradient(top, #ececec, white);
        background-image: -moz-linear-gradient(linear, 0 0, 0 100%, from(#ececec), to(white));
        background-image: linear-gradient(to bottom, #ececec, white);
        box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
    }

    .bar .percent.zero {
        color: #999;
        padding-left: 5px;
    }

    .poll form { margin-bottom: 0; }
