/* MAIN */
    body { 
        background-color: #000; /* Background-color of footer */
    }

    /* Div that holds all parts of page except footer */
    #whitebox {
        background-color: white;
        background-image: url(../img/bgnoise.png);
        border-bottom: 1px solid black;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (max-width: 767px) {
        #whitebox {
            margin-left: -20px;
            margin-right: -20px;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    header {
        margin-bottom: 15px;
        overflow: hidden;    /* clear floats */
    }

    header img { width: 200px; }
    aside h3 { margin-top: 15px; }
    aside h3:first-child { margin-top: 0; }

    .news-picture {
        width: 100%;
    }

    form.dropdown-menu {
        padding: 15px;
    }

    form.dropdown-menu input {
        width: 15em;
        margin-bottom: 15px;
    }

    /* Typography */

    .news_item {
        word-break: break-word;
    }

    h2 {
        margin-bottom: 8px;
        font-size: 30px;
        font-weight: bold;
        line-height: 37.5px;
    }

    #whitebox h2, #whitebox h3 {
        color: rgb(35,35,35);
    }

    #whitebox h2 a, #whitebox h3 a {
        color: inherit;
    }

    #whitebox h2 a:hover, #whitebox h3 a:hover {
        color: rgb(50, 50, 50);
        text-decoration: none;
    }

    h3 {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
    }

    .news_item h2, .news_item h3 {
        margin-top: 0px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    #whitebox p {
        color: rgb(50, 50, 50);
    }

    /* Registration */

    .registrations {
        margin-top: -5px;
    }

    .registrations span {
        margin-left: 3px;
    }

    .registrations .waiting-place {
        opacity: 0.5;
        -moz-opacity: 0.5;
        -webkit-opacity: 0.5;
    }


/* Utility classes */

    /* Some floats for articles */
    img[alt=right] {
        float: right;
    }

    img[alt=left] {
        float: left;
    }

    .box {
        background-color: white;
        border: 1px solid #eee;
        padding: 3px;
        margin-bottom: 5px;
    }
    .box img:last-child { margin-bottom: -4px; }

    /* Remove code styling from rendered LaTeX */
    code.jax {
        background: inherit;
        border: none;
        color: inherit;
        font-size: 120%;
        font: inherit;
        margin: 0px;
    }

    .pagination {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .wide {
        width: 100%;
    }

    .clear {
        clear: both;
    }

/* REKLAME */
    .ad.box {
        border-radius: 5px;
        border-width: 2px;
        font-size: 90%;
        padding-bottom: 20px;
        background-color: #ffffff;
    }
    .ad.box p {
        padding: 5px;
    }
    .ad.box img {
        text-align: center;
    }
    

/* MathJAX customisation */

    .MathJax_Display {
        margin-bottom:-15px !important;
        margin-top: 3px !important;
    }



/* FOOTER */
    footer { 
        /* TODO: Add cross-browser support */
        background-color: black;
        border-top:1px solid #666;
        color: #ccc; 
        padding-bottom: 30px;
        padding-top: 30px; 
    }
        
    /* h2 is black, so make it white */
    footer h2 {
        color: #ccc; 
    }
    footer a { color: #bddeff; }

    footer .kontakt table {
    }
        footer .kontakt table th {
        }
        footer .kontakt table td {
            border-top: 0;
        }
        footer .kontakt table td:first-child {
            color: white;
        }

/* COMMENTS */
    .comments-header {
        margin-top: 30px;
    }
    form.add-comment {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    form.add-comment .control-group:first-of-type { padding-top: 9px;}
    form.add-comment textarea {
        width: 98%;
        height: 100px;
    }
    .comment .text { width: 100%; overflow: hidden; }
    .comment .info { margin-bottom: 10px; } 
    .comment .author { font-weight: bold; } 
    .comment .date { color: #999; }

    #comment-help-buttons {
        margin-top: 20px;
    }

/* for logo + søkefelt i headeren */

    form#searchtop {
        margin-bottom: 0px;
        margin-top: 15px; /* Logohøyde minus høyden på formen */
        width: 200px;
    }

/* Endringer i Bootstrap-farger */
.navbar-inner {border: 1px solid #c0c0c0;}/* Navbar border */
.navbar .nav > li > a { color: #555;}/* Navbar link color */

/* News */

.advert {
    height: 100%;
}

.advert_footer {
    bottom: 0px;
}

.btn-read-more {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}

.btn-read-more:hover {
    background-image: linear-gradient(to bottom,#f2f2f2 0,#eaeaea 100%);
}

li.pager-counter a, li.pager-counter a:hover, li.pager-counter a:focus {
    cursor: default;
}
