.maingrid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
    align-items: stretch;
    grid-template-areas:
        "main-article    main-article    welcome"
        "upcoming-events upcoming-events office"
        ".               .               poll"
        ".               .               latest-podcast"
        "latest-nablad   latest-nablad   suggestions"
        "sponsors        sponsors        .";
}

@media (max-width: 1000px){
    .maingrid-container{
        display: flex;
        flex-direction: column;
    }
    .more-news-row2{
        display: block;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }

}

.well{
    margin-bottom: 0px;
}

.main-article{
    align-self: stretch;
    margin: 0;
    grid-area: main-article;
}
.more-news-row1{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.more-news-row2{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    flex-direction: column;
}

.welcome {
    grid-area: welcome;
}

.upcoming-events {
    grid-area: upcoming-events;
}

.office {
    gird-area: office;
}

.poll {
    grid-area: poll;
}

.latest-podcast {
    grid-area: latest-podcast;
}

.latest-nablad {
    grid-area: latest-nablad;
}

.sponsors {
    grid-area: sponsors;
}

.suggestions {
    grid-area: suggestions;
}
