.maingrid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
    align-items: strech;
    grid-template-areas:
        "main-article    main-aticle     welcome"
        "upcoming-events upcoming-events office"
        ".               .               poll"
        ".               .               latest-podcast"
        "sponsors        sponsors        suggestions";
}

@media (max-width: 1000px){
    .maingrid-container{
        display: flex;
        flex-direction: column;
    }
    .more-news-row2{
        display: block;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }

}



.well{
    margin-bottom: 0px;
}

.main-article{
    align-self: stretch;
    margin: 0;
}
.more-news-row1{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.more-news-row2{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    flex-direction: column;
}
