#infoPanel {
	float: left;
	margin: 20px 0 0 0;
	background: url('../img/info_panel.png') no-repeat top left;
	width: 236px;
	height: 132px;
	padding: 0;

	font-family: VT323, Courier, sans-serif;
	color: #cdceff;
}

#infoPanel div.wrapper {
	margin: 18px 20px 17px 20px;
	height: 97px;
	overflow: hidden;

}

#infoPanel h3 {
	font-size: 1.1em;
	margin: 5px 0 0 7px;
	text-shadow: 0 0 10px #d1ddfc, 0 0 15px #b1c6fd, 0 0 20px #acc3ff;
}

#infoPanel p {
	font-size: 0.89em;
	margin: 5px 0;
}
