#kalender table {
	margin: 0;
	padding: 0;
}

#kalender table td {
	margin: 0;
	padding: 0;
	width: 35px;
	height: 35px;
}

#kalender table td.plain {
	background: url('../img/kalender_sprite.png') 0px -108px;
}

#kalender table td.double {
	background: url('../img/kalender_sprite.png') -36px -108px;
}

#kalender table td.doubleCurrent {
	background: url('../img/kalender_sprite.png') -72px -108px;
}

#kalender table td.plainCurrent {
	background: url('../img/kalender_sprite.png') -108px -108px;
}

#kalender table td.plainR {
	background: url('../img/kalender_sprite.png') 0px -72px;
}

#kalender table td.doubleR {
	background: url('../img/kalender_sprite.png') -36px -72px;
}

#kalender table td.doubleCurrentR {
	background: url('../img/kalender_sprite.png') -72px -72px;
}

#kalender table td.plainCurrentR {
	background: url('../img/kalender_sprite.png') -108px -72px;
}

#kalender table td.plainD {
	background: url('../img/kalender_sprite.png') 0px -36px;
}

#kalender table td.doubleD {
	background: url('../img/kalender_sprite.png') -36px -36px;
}

#kalender table td.doubleCurrentD {
	background: url('../img/kalender_sprite.png') -72px -36px;
}

#kalender table td.plainCurrentD {
	background: url('../img/kalender_sprite.png') -108px -36px;
}

#kalender table td.plainDR {
	background: url('../img/kalender_sprite.png') 0px 0px;
}

#kalender table td.doubleDR {
	background: url('../img/kalender_sprite.png') -36px 0px;
}

#kalender table td.doubleCurrentDR {
	background: url('../img/kalender_sprite.png') -72px 0px;
}

#kalender table td.plainCurrentDR {
	background: url('../img/kalender_sprite.png') -108px 0px;
}
