#loginBox {
	margin: 30px 0 0 29px;
	padding: 0;
	border: 0;
	width: 221px;
	height: 127px;

	background: url('../img/login_form.png') top left;
}

#loginBox * {
	margin: 0;
	padding: 0;
	border: 0;
}

#loginBox input {
	height: 22px;
	width: 200px;
	margin: 11px 0 0 10px;
	background: none;
}

#loginBox input.pwd {
	margin-top: 15px;
}

#loginBox input.box {
	width: 15px;
	height: 15px;
	margin: 20px 0 0 12px;
}

#loginBox input.submit {
	float: right;
	height: 30px;
	width: 73px;
	margin: 11px 6px 0 0;

	background: url('../img/login_button.png') top left;
	cursor: pointer;
}

#loginBox input.field {
	box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	-moz-box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	-webkit-box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	padding: 0 1px 0 5px;
	border-width: 1px;
}


#loginBox input:focus { /* andreas var her */
    outline: none; /* fjerner stygg border ved focus */
}
