ul.loginBox {
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	float: right;
	width: 400px;
	list-style: none;
}

ul.loginBox li {
	font-size: 0.9em;
	color: #efba3b;
	float: left;
}

ul.loginBox li input {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 23px;
}

ul.loginBox li input.field {
	box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	-moz-box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	-webkit-box-shadow: inset 0px -1px 3px 1px rgba(21, 25, 26, 1);
	padding: 0 1px 0 5px;
	border-width: 1px;
}
