@import url(http://fonts.googleapis.com/css?family=Tienne|Patrick+Hand|Stardos+Stencil|Redressed|La+Belle+Aurore|Limelight|Muli|Wire+One|Jura|Damion|VT323|Bangers|Buda:300|UnifrakturMaguntia|Bentham|IM+Fell+DW+Pica+SC|Lobster|Tenor+Sans);

.centeredContainer {
	width: 950px;
	margin: 0 auto;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font-family: helvetica, sans-serif;
	height: 100%;
}

#head {
	width: 100%;
	height: 90px;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: #fff;
	background-image: url('../img/body_background_new.jpg');
	background-position: left top;
	background-origin: border-box;
	-webkit-background-origin: border-box;

	border-bottom: 1px solid #0e0e0e;
}

#head img {
	margin: 10px 0 0 0;
}

#head img, #head h1{
	float: left;
}

#head h1 {
	font-family: Limelight, Arial, sans-serif;
	font-weight: normal;
	color: #2d2d2d;
	text-shadow: -1px -1px 1px #eeeeef;
	margin: 25px 20px 0 0;
}

#head img {
	width: 70px;
}

#neck {
	width: 100%;
	height: 209px;
	background-color: #000;
	background-position: left top;
	background-image: url('../img/neck_background_new.jpg');
	background-repeat: repeat-x;
}

div.lcontainer {
	float: left;
}

.clear {
	clear: both;
	display: block;
	width: 0px;
	height: 0px;
}

#neck h3.overskrift {
	width: 300px;
	height: 18px;
	margin: 0 0 8px 0;
	padding: 0 0 10px 20px;
	background-image: url('../img/for_arr_overskrift.png');
	background-size: 300px 18px;
	-moz-background-size: 300px 18px;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #2f6662;
}

#neck a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#nesteArrang {
	width: 300px;
	margin: 20px 10px 0 0;
	float: left;
}

#infoPanel {
	float: left;
	margin: 20px 0 0 0;
	background: url('../img/info_panel.png') no-repeat top left;
	width: 236px;
	height: 132px;
}

#kalender {
	float: left;
	margin: 20px 0 0 10px;
}


#body {
	width: 100%;
	background-image: url('../img/body_background_new.jpg');
	background-repeat: repeat;
	background-position: left top;
	background-color: #7e98a3;
	overflow: visible;
}

div {
	margin: 0;
	padding: 0;
}

.message p {
	background-color: #ffff88;
}
