#body div.middle {
	width: 700px;
	overflow: hidden;

	position: relative;
	top: -49px;
}

#body div.right {
	width: 250px;
}

#body div.middle, #body div.right, #body div.middle div.leftMargin, #body div.middle div.centerMargin {
	float: left;
}

#body div.middle div.leftMargin {
	width: 41px;
	height: 263px;
	background-image: url('../img/left_margin.png');
	background-position: left top;
	background-repeat: no-repeat;
}

#body div.middle div.centerMargin {
	width: 655px;
}

#body div.middle div.centerMargin div.box {
	width: 100%;
	background-image: url('../img/box_right.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	vertical-align: text-top;
}

#body div.topBox, #body div.middleBox, #body div.footBox {
	margin: 0 22px 0 0;
	width: 633px;
}

#body div.topBox {
	height: 111px;
	background-image: url('../img/top_box.png');
	background-position: top left;
	background-repeat: no-repeat;

	z-index: 1;
}

#body div.middle div.middleBox {
	width: 633px;
	height: auto;
    background-image: url('../img/middle_box.png');
	background-repeat: repeat-y;
	background-position: top left;;
	background-color: white;
    margin-bottom: -99999px;
	z-index: 2;
}

#body div.footBox {
	height: 43px;
	background-image: url('../img/foot_box.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	clear: both;
	margin-top: 99999px;
}

#body div.innh {
	width: 561px;

	margin: 0 0 0 71px;
	padding:0;
	position: relative;
	top: -40px;

	z-index: 3;
}
/*
#body img {
  width: 100%;
}*/

