/* Nabla markøren som viser under hvilken kategori du er. */

#head #nablaNav {
	position: absolute;
	top: 0px;
	z-index: 1;

	background: url('../img/nabla_inset.png') no-repeat top left;
	width: 24px;
	height: 22px;
}

#head div.one {
	left: 110px;
}
#head div.two {
	left: 220px;
}
#head div.three {
	left: 300px;
}
#head div.four {
	left: 380px;
}
#head div.five {
	left: 480px;
}

#headMenu {
	margin: 0;
	padding: 32px 0 0 0;
	list-style: none;
}

#headMenu li {
	float: left;
}

#headMenu li a:link, #headMenu li a:visited, #headMenu li a:hover, #headMenu li a:active {
	display: block;
	width: 80px;
	height: 29px;
	text-align: center;
	text-decoration: none;
	color: #2e2e2e;
	text-shadow: -1px -1px 1px #eeeeef;
	padding: 4px 0 0 0;
}

#headMenu li.bLeft a:link, #headMenu li.bLeft a:visited, #headMenu li.bLeft a:hover, #headMenu li.bLeft a:active {
	background: url('../img/separator.jpg');
	background-repeat: repeat-y;
	background-position: left top;
}


#headMenu #ar a {
	width: 130px;
}

