{% extends "base.html" %}
{% load markup %}
{% load humanize %}
{% load comments %}
{% load mediawiki_links %}
{% load thumbnail %}

{% block title %}{{ bedpres.headline }}{% endblock %}

{% block content %}

{% include "news/includes/text_content.html" with news=bedpres%}

{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if bedpres.get_users_attending %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for user in bedpres.get_users_attending %}
        <span class="label">
            {% if user.get_full_name %}
                 {{ user.get_full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </span>
        {% endfor %}
    </div>
{% endif %}

{% include "content/includes/comments.html" with content=bedpres %}
{% endblock %}





{% block sidebar %}

{% include "content/includes/meta.html" with content=bedpres %}

{% include "bedpres/includes/info.html" with event=bedpres %}


{% if user.is_staff %}
<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Admin</li>
        <li><a href="{% url admin:bedpres_bedpres_change bedpres.id %}"><i class="icon-pencil"></i> Endre</a></li>
        <li><a href="{% url admin:bedpres_bedpres_delete bedpres.id %}"><i class="icon-trash"></i> Slett</a></li>
    </ul>
</div>
{%endif%}

{% endblock %}
