<div class="tile"
    {% if object == chosen_thread %}
        style="
            background-color: #d4d4d4;
            border-style: solid;
            border-radius: 10px;
            border-color: green;
            "
    {% endif %}
    >
    <h4 class="title {% if object.has_unreads %}tile--has_unread{% endif %}">{{ object }}</h4>
    {% if object.threadstarter %}
    <p class="content">{{ object.text }}</p>
    {% endif %}
    <p class="meta">
        {% if object.has_unreads %}
        <span class="meta--unread">Uleste meldinger den siste uken</span>
        {% endif %}
        {% if object.created %}
        <span>{{ object.threadstarter.get_full_name }},</span>
        <span>{{ object.created }}</span>
        {% endif %}
    </p>
</div>
