{% extends "base.html" %}
{% block morehead %}
{% endblock %}

{% block content %}
<body>
    <h2>Skråttcast - og det ble lyd</h2>
    <p>Her kan det stå det <a href="/komite/redaksjonen">redaksjonen</a> måtte ønske.</p>
{% if latest_podcast_list %}
    <ul style="padding-left:0; display:inline;">
        {% for podcast in latest_podcast_list %}
            <h3><a href="/podcast/{{ podcast.id }}">{{ podcast.title }}</a></h3>
            <p>{{ podcast.pub_date }}</p>
            <p>{{ podcast.description }}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>Ingen skråkast tilgjengelig.</p>
{% endif %}
</body>
{% endblock %}
