{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block title %}
Skråttcast - {{ podcast.title }}
{% endblock %}
{% block content %}

<link type="text/css" href="{{ STATIC_URL }}podcast/skin/jpn.css" rel="stylesheet" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="tittel">
<div>
  <h2>Skråttcast - {{ podcast.title }}</h2>
  {% if podcast.image %}
  <img src="{{ podcast.image.url }}" alt="{{ podcast.title }}" style="max-width: 100%;"/>
  {% endif %}
  <p><i>{{ podcast.pub_date | date:"d.m.Y" }}. Antall visninger: ca. {{ podcast.view_counter }}</i></p>
</div>
</div>
<div>
    <audio controls>
        <source src="{{ podcast.file.url }}" type="audio/ogg">
        <source src="{{ podcast.file.url }}" type="audio/mpeg">
    </audio>
</div>

<p>{{ podcast.description | markdown }}</p>
<div>
<a class="btn btn-primary btn-large" href="{{ podcast.file.url }}">
    Last ned
</a>
</div>

{% endblock %}
