{% extends "base.html"%}

{% block main %}
<div class="container">
    <h2 style="color: black;">{{ object.univ_navn }}</h2>
    <p style="color: black;">{{ object.desc }}</p>
    <p style="color: black;">Liste over utvekslinger:</p>
    <div style="overflow: auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Retning</th>
                <th>Start</th>
                <th>Slutt</th>
                <th>Fag</th>
                {% if user.is_authenticated %}
                <th>Epost</th>
                {% endif %}
                <th>Facebookprofil</th>
                <th>Annet</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in ex_detail_list %}
            <tr>
                <td>{{obj.student.get_full_name}}</td>
                <td>{{obj.get_retning_display}}</td>
                <td>{{obj.start|date:"F Y"}}</td>
                <td>{{obj.end|date:"F Y"}}</td>
                {% if obj.subject_set.exists %}
                    <td>
                    {% for subject in obj.subject_set.all %}
                        <p style="color: black;">{{ subject.code }} {{ subject.name }}</p>
                    {% endfor %}
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if obj.optional_email %}
                        <td>{{obj.optional_email}}</td>
                    {% else %}
                        <td>{{obj.student.email}}</td>
                    {% endif %}
                {% endif %}
                {% if obj.facebook %}
                    <td><a href="{{obj.facebook }}">Til facebook</a></td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if obj.annet %}
                    <td>{{obj.annet }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if info %}
    <h3>Relevante intervjuer og reisebrev:</h3>
    <ul style="list-style-type:disc">
        {% for page in info %}
            {% if page.link %}
            <li><a href="{{ page.link }}">{{ page.title }} [ekstern link]</a></li>
            {% elif page.file %}
            <li><a href="{{ page.file.url }}">{{ page.title }} [PDF]</a></li>
            {% else %}
            <li><a href="{% url 'info_detail' page.pk %}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{% url 'ex_frontpage' %}"><span aria-hidden="true">&larr;</span> Tilbake til oversikten</a>
        </li>
    </ul>
</div>
{% endblock main %}
