{% extends "base.html" %}
{% load easy_thumbnails %}
{% load sekizai_tags %}
{% load static %}


{% block content %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "exchange/exchange.css" %}">
{% endaddtoblock %}

<h1>Internasjonale nyheter</h1>
<div class="col-md-12 box row">
        {% for news in news_list %}
            {% with newsurl=news.get_absolute_url %}
            <a href="{{ newsurl}}" style="color: black" >
                {% if news.picture %}
                    <a href="{{ newsurl }}">
                        <img alt=""
                             class="news-picture"
                             src="{% thumbnail news.picture 760x300 box=news.cropping upscale quality=95 detail %}">
                    </a>
                {% endif %}
                <header>
                    <h3>
                        {% if news.picture %}
                            <a href="{{ newsurl }}">{{ news.headline }}</a>
                        {% else %}
                            {{ news.headline }}
                        {% endif %}
                    </h3>
                </header>
                <p> 
                    {{ news.lead_paragraph}}
                </p>
            </a>
            {% endwith %}
        {% endfor %}
</div>

{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_next %}
            <li class="previous">
                <a href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&larr;</span> Eldre</a>
            </li>
        {% endif %}

        <li class="disabled pager-counter">
            Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_previous %}
            <li class="next">
                <a href="?page={{ page_obj.previous_page_number }}">Nyere <span aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>  
{% endif %}

{% endblock content %}


{% block sidebar %}
<div class="col-md-12 box sidebar_box">
    <h1>Navigasjon</h1>
    <ul>
        <li><a href="{{ ex_frontpage_url }}">Tilbake til forside for utveksling</a> </li>
        <li><a href="{{ ex_list_url }}">Liste over universiteter</a> </li>
    </ul">
</div>

<div class="col-md-12 box sidebar_box">
    <h1>Nyttige lenker</h1>
    <ul>
        <li>elem</li>
        <li>elem</li>
        <li>elem</li>
    </ul>
</div>

{% endblock %}

