{% extends "base.html" %}
{% load easy_thumbnails %}
{% load sekizai_tags %}
{% load static %}


{% block content %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "exchange/exchange.css" %}">
{% endaddtoblock %}



<div class="row" style="margin-left: 2px; margin-right: 5px">
    <h1>Nablas "internasjonale seksjon"</h1>
    <p>
    Velkommen til Nablas "internasjonale seksjon"! Her finner du informasjon som
    er relevant for utveksling i form av nyhetsartikler med informasjon fra 
    internasjonal sekjson ved NTNU, samt en oversikt over universiteter hvor
    FysMat-ere har utvekslet til før med tilhørende informasjon.
    </p>
    
</div>

<h1 class="row" style="margin-left: 2px">Siste nyheter</h1>
<div class="col-md-12 box row" style="margin-left: 2px">
        {% for news in news_list %}
            {% with newsurl=news.get_absolute_url %}
            <a href="{{ newsurl}}" style="color: black" >
                <header>
                    <h3>
                        {{ news.headline }}
                    </h3>
                </header>
                <p> 
                    {{ news.lead_paragraph}}
                </p>
            </a>
            {% endwith %}
        {% endfor %}
</div>

{% endblock content %}


{% block sidebar %}
<div class="col-md-12 box sidebar_box">
    <h1 >Navigasjon</h1>
    <ul>
        <li><a href="{{ ex_news_url }}">Alle internasjonale nyheter</a> </li>
        <li><a href="{{ ex_list_url }}">Liste over universiteter</a> </li>
    </ulid=">
</div>

<div class="col-md-12 box sidebar_box">
    <div>
        <h1>Nyttige lenker</h1>
        <p style="color: blue">Denne seksjonen er ny og om du har noen tips til hva som bør lenkes til her, si gjerne ifra til WebKom!</p>
        <ul>
            <li>elem</li>
            <li>elem</li>
            <li>elem</li>
        </ul>
    </div>
</div>

{% endblock %}


