{% extends "base.html" %}
{% load easy_thumbnails %}
{% load sekizai_tags %}
{% load static %}


{% block main %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "exchange/exchange.css" %}">
{% endaddtoblock %}


<div class="row" style="margin-left: 2px; margin-right: 5px">
    <h1>Nablas "internasjonale seksjon"</h1>
    <p>
    Velkommen til Nablas "internasjonale seksjon"! Her finner du informasjon som
    er relevant for utveksling i form av nyhetsartikler med informasjon fra 
    internasjonal sekjson ved NTNU, samt en oversikt over universiteter hvor
    FysMat-ere har utvekslet til før med tilhørende informasjon.
    </p>
    <a href="{{ ex_news_url }}"><b>Til nyheter om utveksling</b></a>
</div>

{% include "./include/ex_list.html" %}
<div class="col-md-12 box row" style="margin-left: 2px">
        {% for news in news_list %}
            {% with newsurl=news.get_absolute_url %}
            <a href="{{ newsurl}}" style="color: black" >
                <header>
                    <h3>
                        {{ news.headline }}
                    </h3>
                </header>
                <p> 
                    {{ news.lead_paragraph}}
                </p>
            </a>
            {% endwith %}
        {% endfor %}
</div>

{% endblock main %}
