{% comment %}
This template doesn't actually render anything, but adds to the "js" sekizai block
the required javascript for the like button.
{% endcomment %}

{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "js" %}
    <script src="{% static 'likes/like_press.js' %}"></script>
    <script>
var likeToggleUrl = "{% url 'toggle_like' %}";
$.ajaxSetup({
    beforeSend: function(xhr, settings){
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    },
});
    </script>
{% endaddtoblock %}
