{% extends "interactive/advent_base.html" %}
{% load mediawiki_links %}
{% load markdown %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load static %}

{% block title %}{{ door.number }}{% endblock %}

{% block content %}

<h1 xmlns="http://www.w3.org/1999/html">{{ door.number }}</h1>

<div class="text">
    {% include "accounts/includes/like.html" with object=door%}
    <p>
    {{ door.content|markdown:"unsafe" }}
    </p>
    {% if door.is_lottery %}
        <form action="{% url "advent_participate" door.calendar.year door.number %}">
            {% if door.is_text_reply %}
            <h3>Ditt svar:</h3>
                <textarea name="text">{{ user.adventparticipation_set.all }}</textarea>
            {% endif %}
            <button type="submit" class="btn btn-large btn-primary">
                Delta i trekningen
            </button>
        </form>
        <h2>Med i trekningen:</h2>
        <div>
        {% for part in door.participation.all %}{% with user=part.user %}
            <a href="{{ user.get_absolute_url }}">
            <img class="thumbnail user-pic" alt="avatar"
                    {% if user.avatar %}
                        src="{% thumbnail user.avatar 50x50 %}"
                    {% else %}
                        src="{% static "img/default_avatar.png" %}"
                    {% endif %} height="50" width="50" title="{% firstof user.get_full_name user.username %}">
            </a>
        {% endwith %}{% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
