{% extends "interactive/advent_base.html" %}
{% load mediawiki_links %}
{% load markdown %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load static %}

{% block title %}{{ door.number }}{% endblock %}

{% block content %}

<h1>{{ door.number }}</h1>

<div class="text">
    {% include "accounts/includes/like.html" with object=door%}
    <p>
    {{ door.content|markdown:"unsafe" }}
    </p>
    {% if door.is_lottery %}
    {% if door.winner %}
        <h1>Gratulerer med seieren!</h1>
        {% include "accounts/includes/user_large.html" with user=door.winner %}
    {% else %}
        <form action="{% url "advent_participate" door.calendar.year door.number %}" method="post">
            {% csrf_token %}
            {% if door.is_text_response %}
            <div class="form-group">
                {% if part %}
                <label>Endre svar:</label>
                <textarea class="form-control" name="text" rows="3">{{ part.text }}</textarea>
                {% else %}
                <label>Ditt svar:</label>
                <textarea class="form-control" name="text" rows="3"></textarea>
                {% endif %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-large btn-primary">
                Delta i trekningen
            </button>
        </form>
    {% endif %}
        <h2>Med i trekningen:</h2>
        <div>
            {% for part in door.participation.all %}
            {% include "accounts/includes/user_small.html" with user=part.user %}
            {% endfor %}
        </div>

    {% endif %}
</div>

{% endblock %}
