{% extends "interactive/advent_base.html" %}
{% load mediawiki_links %}
{% load markdown %}
{% load thumbnail %}
{% load sekizai_tags %}
{% load static %}

{% block title %}{{ door.number }}{% endblock %}

{% block content %}

<h1>{{ door.number }}</h1>

<div class="text">
    {% include "accounts/includes/like.html" with object=door%}
    <p>
    {{ door.content|markdown:"unsafe" }}
    </p>
    {% if door.is_lottery %}
    <a class="btn btn-large btn-primary" href="{% url "advent_participate" door.calendar.year door.number %}">
        Delta i trekningen
    </a>
    <h2>Med i trekningen:</h2>
    <div>
    {% for user in door.users.all %}
        <a href="{{ user.get_absolute_url }}">
        <img class="thumbnail" alt="avatar"
                {% if user.avatar %}
                    src="{% thumbnail user.avatar 50x50 %}"
                {% else %}
                    src="{% static "img/default_avatar.png" %}"
                {% endif %} height="50" width="50" title="{% firstof user.get_full_name user.username %}">
        </a>
    {% endfor %}
    </div>
    {% endif %}
</div>



<div></div>
{% endblock %}