{% extends "base.html" %}

{% block title %}Nyheter{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block content %}

<div class="row">
{% include "news/news_summary_include.html" with news=featured_news %}
</div>

<hr>

{% for row in news_rows %}

    <div class="row">
    {% for news in row %}
            {% include "news/news_summary_include.html" with narrow="True" %}
    {% endfor %}
    </div>

    <hr>

{% endfor %}


{# .... **Now the pagination section** .... #}
{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&larr; Nyere</a></li>
            {% endif %}

            <li class="disabled">
            <a>Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Eldre &rarr;</a></li>
            {% endif %}


        </ul>
    </div>
{% endif %}

{% endblock content %}


{% block sidebar %}

<h3>Om Nabla</h3>

<p>Nabla er linjeforeningen for sivilingeniørprogrammet <b>Fysikk og
    matematikk</b> på NTNU. Du kan lese mer om studiet på 
<a href="http://www.ntnu.no/studier/mtfyma">NTNU sine nettsider</a>. 
På denne nettsiden finner du informasjon om studiet, linjeforeningen, og hva
som foregår.</p>

<p>Dette er en <b>beta</b>-versjon av nettsiden, og er kun tilgjengelig for utviklerne. Du ser kanskje etter <a href="http://nabla.no/">Nabla.no</a>?</p>

{% if upcoming_events %}

    <h3>Kommende arrangement</h3>
    <div class="well" style="padding: 8px 0;"><!-- kommende arrangement -->
        <ul class="nav nav-list">

            {% for event in upcoming_events %}
            <li>
                <a href="{{ event.get_absolute_url }}">
                    <time 
                        class="label label-important"
                        datetime="{{ event.event_start|date:"c" }}">{{ event.event_start|date:"j.M" }}</time> 
                     {{ event.headline }}
                </a>
            </li>
            {% endfor %}

        </ul>
    </div><!-- end kommende arrangement -->

{% endif %}

{% endblock sidebar %}

{% block below_ad %}
{% include "news/poll_include.html" %}
{% endblock below_ad %}
