{% extends "base.html" %}

{% block title %}Nyheter{% endblock %}

{% block content %}

{% for news in news_list %}
    <div class="row">
        {% include "content/content_homepage.html" with content=news %}
    </div>
    <hr>
{% empty %}
    <h2>Velkommen</h2>
    <p>Du er havnet på linjeforeningen Nabla sin hjemmeside. Her vises det vanligvis nyheter, men ingen er lagt til enda.</p>
{% endfor %}


{# .... **Now the pagination section** .... #}
{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&larr; Eldre</a></li>
            {% endif %}

            <li class="active">
            <a>Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Nyere &rarr;</a></li>
            {% endif %}


        </ul>
    </div>
{% endif %}

{% endblock content %}
