{% extends "base.html" %}
{% load markup %}
{% load humanize %}
{% load comments %}
{% load mediawiki_links %}
{% load thumbnail %}

{% block morehead %}

<meta property="og:image" content="{{ news.get_picture_url }}" />
<meta property="og:title" content="{{ news.headline|striptags }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{% spaceless %}{{ news.lead_paragraph|striptags }}{% endspaceless %}" />

{% endblock %}

{% block title %}{{ news.headline }}{% endblock %}

{% block content %}
{% include "news/includes/text_content.html" %}
{% include "content/includes/comments.html" with content=news %}
{% endblock %}


{% block sidebar %}

{% include "content/includes/meta.html" with content=news %}

<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Admin</li>
        <li><a href="{% url "admin:news_news_change" news.id %}"><i class="icon-pencil"></i> Endre</a></li>
        <li><a href="{% url "admin:news_news_delete" news.id %}"><i class="icon-trash"></i> Slett</a></li>
    </ul>
</div>

{% endblock %}
