{% extends "base.html" %}
{% load markup %}
{% load humanize %}

{% block content %}

<!--<h2>{{ news.headline }}</h2>-->
{{ news.body|markdown }}

{% endblock %}





{% block sidebar %}

<table class="table">

    <!-- Publisert -->
    <tr>
        <td>Publisert</td>
        <td>
            <time datetime="{{ news.created_date|date:"c" }}">
                {{ news.created_date|naturalday }} kl. {{ news.created_date|date:"G:i" }}
            </time>
        </td>
    </tr>
    
    <!-- Av -->
    {% if news.created_by %}
    <tr><td>Av</td><td>{{ news.created_by.username }}</td></tr>
    {% endif %}

    <!-- Sist endret -->
    <tr>
        <td>Sist endret</td>
        <td>
            <time datetime="{{ news.last_changed_date|date:"c" }}">
                {{ news.last_changed_date|naturalday }} kl. {{ news.last_changed_date|date:"G:i" }}
            </time>
        </td>
    </tr>

    <!-- Av -->
    {% if news.last_changed_by %}
    <tr><td>Av</td><td>{{ news.last_changed_by.username }}</td></tr>
    {% endif %}

</table>

<div class="well" style="padding: 8px 0;">
    <ul class="nav list">
        <li class="nav-header">Admin</li>
        <li><a href="#endre"><i class="icon pencil"></i> Endre</a></li>
        <li><a href="#slett"><i class="icon trash"></i> Slett</a></li>
    </ul>
</div>

{% endblock %}
