
{% if season.smart_logo %}
<div class="logo-wrapper">
    <img class="thumbnail" src="{{ season.smart_logo.url }}"/>
</div>
{% endif %}
<h2>Kontakte Skråttcast?</h2>
<p>
    Vi elsker leserbrev, tilbakemeldinger og forslag, og ønsker at du, ja du,
    mailer oss.
</p>
<a href="https://www.facebook.com/skraattkast" class="btn btn-info">Facebook</a>
<a href="mailto:skrattcast@nabla.no" class="btn btn-nabla-blue-dark btn-large">Brevsprekken</a>
<h2>Skråttcast RSS</h2>
<p>
    Unngå å gå glipp av en ny episode, abonner på Skråttcast med RSS.
    <b>Legg til linken</b> i ditt favoritt podcast program og aldri gå glipp av en episode igjen!
</p>
<a href="{% url 'season_rss' %}" class="btn btn-success btn-large">Abonner med RSS</a>
{% if podcast_clips %}
    <h2>Lydklipp</h2>
    <p>
        Her finner du nedlastbare overganger, jingler og annet vi føler enhver Skråttcastlytter bør ha tilgang
        til.
    </p>
    <p>
        Hvis det er noen lydklipp du ikke finner i denne listen, så finner du dem nok i listene i de tidligere sesongene.
    </p>
    <ul>
        {% for clip in podcast_clips %}
            <li>
                <a href="{{ clip.get_absolute_url }}">
                    {{ clip.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
