[Unit]
Description=nablaweb daemon
After=network.target

[Service]
User=nablaweb
Group=webapps
WorkingDirectory=/srv/nablaweb
ExecStart=/var/websites/nablaweb/.pyenv/shims/pipenv run production
StandardError=journal

[Install]
WantedBy=multi-user.target
