{% extends "content/content_create.html" %}

{% block title %}Nytt arrangement{% endblock %}

{% block form_fields %}

  <div class="field">
    {{ form.location.errors }}
    <label for="id_location">Sted:</label>
    {{ form.location }}
  </div>
  <div class="field">
    {{ form.event_start.errors }}
    <label for="id_event_start">Start:</label>
    {{ form.event_start }}
  </div>
  <div class="field">
    {{ form.event_end.errors }}
    <label for="id_event_end">Slutt:</label>
    {{ form.event_end }}
  </div>

  <div class="field">
    {{ form.registration_required.errors }}
    <label for="id_registration_required">Påmelding:</label>
    {{ form.registration_required }}
  </div>
  <div class="field">
    {{ form.places.errors }}
    <label for="id_places">Plasser:</label>
    {{ form.places }}
  </div>
  <div class="field">
    {{ form.registration_deadline.errors }}
    <label for="id_registration_deadline">Påmeldingsfrist:</label>
    {{ form.registration_deadline }}
  </div>
  <div class="field">
    {{ form.deregistration_deadline.errors }}
    <label for="id_deregistration_deadline">Avmeldingsfrist:</label>
    {{ form.deregistration_deadline }}
  </div>
  <div class="field">
    {{ form.has_queue.errors }}
    <label for="id_has_queue">Venteliste:</label>
    {{ form.has_queue }}
  </div>

{% endblock %}
