{% extends "base.html" %}
{% load markup %}
{% load humanize %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}

<div class="row"><div class="span8">
        <img class="header_picture" alt="" src="{{ event.picture.url }}" width="620">
<h2>{{ event.headline }}</h2>
{{ event.description|markdown }}
</div></div>
<hr>

{% if event.related_news %}
<p>Relaterte nyheter:</p>
<div class="row">
    {% for news in event.related_news.all %}
    <div class="span8">
        <h3>{{ news.headline }}</h3>
        {{ news.lead_paragraph|markdown }}
        <p><a class="btn" href="{% url news_detail news.id %}">Les mer &raquo;</a></p>
    </div>
    {% endfor %}
</div>
<hr>
{% endif %}

{% endblock %}





{% block sidebar %}

<h3>Meta</h3>
<table class="table table-condensed content-info">


    <!-- Publisert -->
    <tr>
        <td>Publisert</td>
        <td>
            <time datetime="{{ event.created_date|date:"c" }}">
                {{ event.created_date|naturalday }} kl. {{ event.created_date|date:"G:i" }}
            </time>
        </td>
    </tr>
    
    <!-- Av -->
    {% if event.created_by %}
    <tr>
        <td>Av</td>
        <td>
            <a href="{% url accounts.views.view_member_profile event.created_by.username %}">
                {{ event.created_by.get_full_name }}
            </a>
        </td>
    </tr>
    {% endif %}

    {% if event.has_been_edited %}

    <!-- Sist endret -->
    <tr>
        <td>Sist endret</td>
        <td>
            <time datetime="{{ event.last_changed_date|date:"c" }}">
                {{ event.last_changed_date|naturalday }} kl. {{ event.last_changed_date|date:"G:i" }}
            </time>
        </td>
    </tr>

    <!-- Av -->
    {% if event.last_changed_by %}
    <tr>
        <td>Av</td>
        <td>
            <a href="{% url accounts.views.view_member_profile event.last_changed_by.username %}">
                {{ event.last_changed_by.get_full_name }}
            </a>
        </td>
    </tr>
    {% endif %}

    {% endif %}

</table>
<!-- end meta -->

<!-- event-info -->
<h3>Informasjon</h3>
<table class="table table-bordered table-striped content-info">

    <!-- Fra -->
    <tr>
        <td>Starter</td>
        <td>
            <time datetime="{{ event.event_start|date:"c" }}">
                <b>{{ event.event_start|naturalday }} kl. {{ event.event_start|date:"G:i" }}</b>
            </time>
        </td>
    </tr>

    <!-- Til -->
    {% if event.event_end %}
    <tr>
        <td>Slutter</td>
        <td>
            <time datetime="{{ event.event_end|date:"c" }}">
                {{ event.event_end|naturalday }} kl. {{ event.event_end|date:"G:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <!-- Sted -->
    <tr><td>Sted</td><td>{{ event.location }}</td></tr>

    <!-- Registrering åpner -->
    {% if event.registration_start %}
    <tr>
        <td>Registrering åpner</td>
        <td>
            <time datetime="{{ event.registration_start|date:"c" }}">
                {{ event.registration_start|naturalday }} kl. {{ event.registration_start|date:"G:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td style="text-align: center;" colspan="2">
            {% if event.registration_required %}
                Påmelding kreves
            {% else %}
                Påmelding unødvendig
            {% endif %}
        </td>


    </tr>

    <tr><td colspan="2" style="text-align: center;">
        <a href="{% url event_detail event.id %}" class="btn primary">Meld deg på</a>
        <a href="#notimplemented" class="btn"><span class="icon custom facebook"></span> Vis på Facebook</a>
    </td></tr>

</table>

{% if event.registration_required %}
<h3>{{ event.users_registered }} påmeldte</h3>
<div class="progress{% if event.percent_full > 90 %} danger{% endif %}">
    <div class="bar" style="width: {{ event.percent_full }}%;"></div>
</div>


{% endif %}



<div class="well" style="padding: 8px 0;">
    <ul class="nav list">
        <li class="nav-header">Admin</li>
        <li><a href="{% url event_admin event.id %}"><i class="icon"></i> Administrer</a></li>
        <li><a href="#endre"><i class="icon pencil"></i> Endre</a></li>
        <li><a href="#slett"><i class="icon trash"></i> Slett</a></li>
    </ul>
</div>

{% endblock %}
