{% extends "content/content_base.html" %}

{% block base_after_headline %}

{% if messages %}
Koden som genererte meg bør flyttes.<br />
{% for message in messages %}
{{ message }}<br />
{% endfor %}
{% endif %}

{% if content.organizer %}
Arrangør: {{ content.organizer }}<br />
{% endif %}

Sted: {{ content.location }}<br />

Start: {{ content.event_start }}<br />

{% if content.event_end %}
Slutt: {{ content.event_end }}<br />
{% endif %}

{% if content.registration_deadline %}
Påmeldingsfrist: {{ content.registration_deadline }}<br />
Tillat avmelding: {{ content.deregistration_deadline|yesno:"Ja,Nei"}}<br />
{% endif %}

{% if content.registration_required %}
{% if content.is_full %}
Fullt (ventelisteknapp her?)
{% else %}
Ledige plasser: {{ content.free_places }}
{% endif %}
{% else %}
Ingen påmelding påkrevd.
{% endif %}<br />

{% endblock %}
