{% extends "base.html" %}

{% block title %}Arrangement{% endblock %}

{% block main %}

<!-- calendar row -->
<div class="row">
<div class="span12">
<div id="calWrapper">

    <table class="table table-bordered equal">

    <caption> 
        <h2>Arrangementoversikt {{ calendar.first.year }}</h2>

        <span>
            <a href="{% url event_list calendar.prev.year calendar.prev.month %}">
                {{ calendar.prev|date:"F"|capfirst }}
            </a>
        </span> 

        <span class="current">{{ calendar.first|date:"F"|capfirst }}</span> 

        <span>
            <a href="{% url event_list calendar.next.year calendar.next.month %}">
                {{ calendar.next|date:"F"|capfirst }}
            </a>
        </span> 

    </caption>
    <thead>
        <tr>
            <th class="uke">Uke</th>
            <th>Man</th>
            <th>Tir</th>
            <th>Ons</th>
            <th>Tor</th>
            <th>Fre</th>
            <th>Lør</th>
            <th>Søn</th>
        </tr>
    </thead>

    <tbody>
        {% for week in calendar.weeks %}
        <tr>
            <td>{{ week.weeknumber }}</td>
            {% for day in week.days %}
            <td class="
                    {% if day.differentmonth %} differentmonth {% endif %}
                    {% if day.current %} current {% endif %}
                ">

                <div class="cell">
                    <b>{{ day.date }}.</b>
                    <ul class="events">
                        {% for event in day.events %}
                        <li class="red"><a href="{% url event_detail event.id %}">{{ event.headline }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

    </table>

</div> <!-- calWrapper -->
</div> <!-- end span12 -->
</div><!-- row -->

<div class="row">

    {% if user.is_authenticated %}

    <div class="span4">
    <h2>Påmeldinger</h2>
        <table class="table table-bordered table-striped">
        {% for reg in user.eventregistration_set.all %}
        <tr>
            <td><a href="{% url event_detail reg.event.id %}">{{ reg.event.headline }}</a></td>
            <td>
                {% if reg.is_waiting_place %}
                    På venteliste
                {% endif %}

                {% if reg.is_attending_place %}
                    <span class="icon check"></span> Har plass
                {% endif %}
            </td>
            </td>
        </tr>
        </table>
        {% endfor %}
    </div>

    <div class="span4">
        <h2>Prikker</h2>
        <p>Om du er påmeldt, men ikke møter opp på arrangement, kan du bli
        straffet i form av prikker. Jo flere prikker, jo lengre må du vente for
        å melde deg på et arrangement.</p>
        <p>Du har ingen prikker. Godt jobbet! (PS: Denne er ikke dynamisk)</p>
    </div>

    <div class="span4">&nbsp;</div>

    {% else %}

    <div class="span12">
        <p>Logg på for å se hvilke arrangement du er påmeldt.</p>
    </div>

    {% endif %}
</div>

{% endblock main %}
