{% load bbcode %}
{% load humanize %}

{% comment %}

Innhold
-------
En event slik den vises på forsida.

Skal inneholde:
    overskrift
    Les mer/påmelding lenker
    sted
    tid
    dato

Nyttige variabler
--------
event                   Event-objekt
    id                  
    headline            Tittelen
    lead_paragraph      Ingressen. Bruk |bbcode
    body                Bruk |bbcode
    created_by          User-objekt
        id
        username        Forfatterens brukernavn
        get_full_name   Forfatterens navn
    event_start         Datetime-objekt.
    location            Sted. 
    registration_required Bool.
    registration_deadline Datetime-objekt.
    users_attending     Antall brukere som er påmeldt
    free_places         Ledige plasser
    places              Totale plasser

URL til eventen:
{% url event_detail event.id %}

Filteret |naturalday kan funke på datoen.

{% endcomment %}

        <h2>{{ event.headline }}</h2>
        <div class="meta">Arrangement</div>

        <div class="innhWrapper">
            <div class="detaljer">
                <span class="tid">Postet {{ event.created_date|naturalday }}</span>
                <a class="person" href="{% url accounts.views.view_member_profile %}">
                    {{ event.created_by.get_full_name }}</a>
            </div>
            <div class="tekstOgBilde">
                <p class="eventInfo">
                    <strong>Tid: </strong>{{ event.event_start|naturalday|capfirst }}<br />
                    <strong>Sted: </strong>{{ event.location }}<br />
                    {% if event.registration_required %}<br />
                    <strong>Frist: </strong>{{ event.registration_deadline }}<br />
                    <strong>Deltakere: </strong>{{ event.users_attending }}<br />
                    <strong>Ledige: </strong>{{ event.free_places }}<br />
                    {% else %}
                        Påmelding er ikke nødvendig
                    {% endif %}
                </p>
                {{ event.lead_paragraph|bbcode }}
                <p><a href="{% url event_detail event.id %}">Les mer</a></p>
            </div>
        </div>
