{% extends "gallery/gallery_base.html" %}

{% block title %}Galleri{% endblock %}

{% block content %} 
<p><a href="{% url gallery.views.index %}">Galleri</a> >> </p>
<h2> {{ album.title }} </h2>
<p>{{ album.description }}</p>

{% if album.picture_set.all %}
    <table>
    <tr>
    {% for picture in album.picture_set.all %}
        <td>
            <a href="{% url gallery.views.picture_large album.id picture.album_picnr %}"><img src="{{ picture.getThumbnailUrl }}" width = 150 border=2 /></a>
        </td>
        {% if forloop.counter|divisibleby:"3" %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
    </table>
{% else %}
    <p>Dette albummet har ingen bilder enda<p>
{% endif %}
<a href="{% url gallery.views.index %}">Gå tilbake til galleriet</a>

<!-- Dersom logget inn + rettigheter: -->
    <p>
        <a href="{% url gallery.views.add_picture album.id %}">
            Legg til bilde
        </a>
        <a href="{% url gallery_AlbumDeleteView album.id %}">
            Slett album
        </a>
    </p>
{% endblock %}
