{% extends "gallery/gallery_base.html" %}

{% block title %}Galleri{% endblock %}

{% block content %} 
<h2>Sletting av bilde</h2>

<img src="{{ picture.getThumbnailUrl }}" width = 200 border=1 />
<p>Er du sikker på at du vil slette bildet?</p>
<form action="{% url gallery.views.delete_picture album.id picture.album_picnr %}" method="post">
    {% csrf_token %}
    <select name='confirmation'>
        <option value=Nei>Nei</option>
        <option value=Ja>Ja</option>
    </select>
    <p><input type="submit" value="Ok" /></p>
</form>
{% endblock %}
