{% extends "gallery/gallery_base.html" %}

{% block title %}Galleri{% endblock %}

{% block content %} 
<h2>Nablas Bildearkiv</h2>
<p>Her kan du finne og laste opp bilder fra Nabla-arrangement</p>
{% if album_list %}
    <table>
    <tr>
    {% for album in album_list %}
        <td width="150px">
            <a href="{% url "gallery.views.album" album.id %}">
            <img src="{% if album.picture_set.all.0.thumbnail %}{{ album.picture_set.all.0.getThumbnailUrl }}{% else %}No Image{% endif %}", width="100px"></img>
	        </a>
	        </br>
            {{ album.title }}
        </td>
        {% if forloop.counter|divisibleby:"3" %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
    </table>
{% else %}
    <p>Det har ikke blitt lagt ut noen bilder enda</p>
{% endif %}
<p>
    <a href="{% url "gallery.views.add_album" %}">
        Lag nytt album
    </a>
</p>
{% endblock %}
