<p><a href="/gallery/">Galleri</a> >> <a href="/gallery/album/{{ album.id }}">{{ album.title }}</a> >> </p>

<a href="/gallery/album/{{ album.id }}/picture/{{ next_picture.album_picnr }}">
    <img src="/nabla_media/{{ picture.picture }}" width=800></img>
</a>
<p>
    Bilde {% for i in album.picture_set.all %}{% ifequal i.id picture.id %}{{ forloop.counter }}{% endifequal %}{% endfor %} av {{ album.picture_set.all|length }}, sett {{ picture.number_of_hits }} ganger.
</p>
<p>
    <a href="/gallery/album/{{ album.id }}/picture/{{ previous_picture.album_picnr }}">Forrige bilde</a>
    <a href="/gallery/album/{{ album.id }}">Tilbake til albumet</a>
    <a href="/gallery/album/{{ album.id }}/picture/{{ next_picture.album_picnr }}">Neste bilde</a>
</p>
<p> 
    {{ picture.description|safe }}
    <a href="edit">Endre beskrivelse</a>
    <a href="delete">Slett bildet</a>
</p>

