{% load easy_thumbnails %}
<article class="col-md-6">
    <div class="box {{ news.content_type.model }}">
    {% if news.cropping and news.picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt=""
                 class="news-picture img-responsive"
                 src="{% thumbnail news.picture 570x200 box=news.cropping upscale crop="smart" quality=95 detail %}" height="100%" width="100%">
        </a>
    {% elif news.picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt=""
                 class="news-picture img-responsive"
                 src="{% thumbnail news.picture 570x200 quality=95 upscale crop="smart" detail %}" height="100%" width="100%">
        </a>
    {% endif %}
    <header>
    <h2>
        <a href="{{ news.get_absolute_url }}">{{ news.headline }}</a>
    </h2>
    </header>
    <p>{{ news.lead_paragraph}}</p>
    </div>
</article>

