{% load easy_thumbnails %}

<div class="card news more-news-{{ number|default:"mb-2" }} {{ margin|default:"mb-2" }}">
 {% if news.cropping and news.picture %}
        <img alt=""
             class="card-img-top"
             src="{% thumbnail news.picture 770x300 box=news.cropping upscale quality=95 detail %}">
    {% elif news.picture %}
        <img alt=""
             class="card-img-top"
             src="{% thumbnail news.picture 770x300 quality=95 upscale crop="smart" detail %}">
    {% endif %}
    <div class="card-body card-body-overline">
        <h5 class="card-title"><a href="{{ news.get_absolute_url }}" class="text-dark stretched-link" >{{ news.headline }}</a></h5>
        <p class="card-text">{{ news.lead_paragraph}}</p>
    </div>
</div>
