{% load easy_thumbnails %}
{#<div class="box {{ news.content_type.model }} news more-news-{{ number }}">#}
{#    {% if news.cropping and news.picture %}#}
{#    <a href="{{ news.get_absolute_url }}">#}
{#        <img alt=""#}
{#             class="news-picture img-responsive"#}
{#             src="{% thumbnail news.picture 570x200 box=news.cropping upscale crop="smart" quality=95 detail %}" height="100%" width="100%">#}
{#    </a>#}
{#    {% elif news.picture %}#}
{#    <a href="{{ news.get_absolute_url }}">#}
{#        <img alt=""#}
{#             class="news-picture img-responsive"#}
{#             src="{% thumbnail news.picture 570x200 quality=95 upscale crop="smart" detail %}" height="100%" width="100%">#}
{#    </a>#}
{#    {% endif %}#}
{#    <header>#}
{#        <h2>#}
{#            <a href="{{ news.get_absolute_url }}">{{ news.headline }}</a>#}
{#        </h2>#}
{#    </header>#}
{#    <p>{{ news.lead_paragraph}}</p>#}
{#</div>#}

<div class="card news more-news-{{ number|default:"mb-2" }} {{ margin|default:"mb-2" }}">
 {% if news.cropping and news.picture %}
        <img alt=""
             class="card-img-top"
             src="{% thumbnail news.picture 570x200 box=news.cropping upscale quality=95 detail %}">
    {% elif news.picture %}
        <img alt=""
             class="card-img-top"
             src="{% thumbnail news.picture 570x200 quality=95 upscale crop="smart" detail %}">
    {% endif %}
    <div class="card-body card-body-overline">
        <h5 class="card-title"><a href="{{ news.get_absolute_url }}" class="text-dark stretched-link" >{{ news.headline }}</a></h5>
        <p class="card-text">{{ news.lead_paragraph}}</p>
    </div>
</div>
