{% comment %}
This template is to be included if you want a pager.
It fits perfectly if you are using the django.views.generic.ListView with pagination.
{% endcomment %}
{% if is_paginated %}
    <nav>
        <ul class="pagination d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Nyere</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><span aria-hidden="true">&larr;</span> Nyere</a>
                </li>
            {% endif %}

            <li class="disabled page-item pager-counter">
                <a class="page-link" >Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Eldre <span aria-hidden="true">&rarr;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" >Eldre<span aria-hidden="true"> &rarr;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
