{% load sekizai_tags %}
{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}events/upcoming_events.css" rel="stylesheet">
{% endaddtoblock %}

<ul class="list-group nav">
{% for event in upcoming %}
        <li class="mt-1">
            <a  class="text-dark nounderline" href="{{ event.get_absolute_url }}">
                <time class="badge badge-pill badge-dark {{ class }}"
                      datetime="{{ event.event_start|date:"c" }}">{{ event.event_start|date:"d.m" }}
                </time>
                {{ event.headline }}
                {% if event.registration_required %}
                    <span title="Ledige plasser / Totalt antall plasser">
                        {{ event.users_attending }}/{{ event.places }}
                    </span>
                {% endif %}
            </a>
        </li>
{% empty %}
    <li>Ingen arrangementer</li>
{% endfor %}
</ul>

