{% extends "base.html" %}
{% load static %}
{% load sekizai_tags %}

{% block title %}Komitéer{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link href="{% static "com/com.css" %}" rel="stylesheet">
    {% endaddtoblock %}
<h3>Komiteer</h3>
<ul class="nav nav-pills nav-stacked">
{% for c in compage_list %}
    {% if not c.is_interest_group %}
    <li class="panel-title"><a href="{{ c.get_absolute_url }}">{{ c.com.name }}</a></li>
    {% endif %}
{% endfor %}
<h3>Interessegrupper</h3>
{% for c in compage_list %}
    {% if c.is_interest_group %}
    <li class="panel-title"><a href="{{ c.get_absolute_url }}">{{ c.com.name }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}

