{% extends "base.html" %}
{% load markup %}

{% block title %}Nabladet{% endblock %}

{% block content %}

<h2>Nabladet</h2>
<p>Nabladet er vårt kjøre tidsskrift, som blir publisert av redaksjonen flere ganger i semesteret.</p>


{% for nablad in nablad_list %}
    <div class="row">
        <div class="span8">
            <!--<h2>{{ nablad.headline }}</h2>-->
            {{ nablad.lead_paragraph|markdown }}
            <p><a class="btn" href="{{ nablad.get_absolute_url }">Les mer &raquo;</a></p>
        </div>
    </div>
    <hr>

{% empty %}
    <p>Ingen Nablad har blitt lagt til enda.</p>
{% endfor %}

{% endblock content %}
