{% extends "base.html" %}

{% block content %}

<h1>{{ request.user.get_full_name }} office beer account </h1>
<p>Beløp på konto: {{ account.balance }}</p>
<p>For å sette inn mer: <a href="{% url 'officebeer_deposit' %}">gå til innskuddside.</a></p>

<h2>Transaksjoner:</h2>
<ul>
  {% for transaction in transaction_list %}
  <li>{{ transaction.date }} - {{ transaction.description }} - {{ transaction.amount }}NOK
  {% endfor %}
</ul>

<h2>Innskudd:</h2>
<ul>
  {% for deposit in deposit_list %}
  <li>{{ deposit.date }} - {{ deposit.description }} - {{ deposit.amount }}NOK
  {% endfor %}  
</ul>

{% if permission_required %} 
  <h2>Lenke til purchase:</h2>
  <a href="{% url 'officebeer_purchase' %}"><button type="button" class="btn btn-outline-nabla-blue">Purchase</button></a>
{% endif %}

{% endblock %}
