{% extends "base.html" %}

{% block content %}

<h1>{{ request.user.get_full_name }} office beer account </h1>
Balance: {{ account.balance }}
<h2>Transaksjoner:</h2>
<ul>
  {% for transaction in transaction_list %}
  <li>{{ transaction.date }} - {{ transaction.description }} - {{ transaction.amount }}NOK
  {% endfor %}
</ul>

<h2>Innskudd:</h2>
<ul>
  {% for deposit in deposit_list %}
  <li>{{ deposit.date }} - {{ deposit.description }} - {{ deposit.amount }}NOK
  {% endfor %}  
</ul>
{% endblock %}
