.tile{
    list-style: none;
    border-radius: 10px;
    padding-bottom: 45px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.tile--unread, .meta--unread {
    color: red;
}

.tile:hover {
    background-color: #d4d4d4;
}

.title{
    float: left;
    color: black;
}   

.meta{
    float: right;
    padding-right: 20px;
    color: black;
}

.des{
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    width: 1fr;
}
