.main-container {
    height: 900px;
    background-color: #f7f7f7;
}

.forum-header{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-gap: 20px;
}

.channel-menu-header {
    background-color: white;
    padding-left: 20px;
    border-right: solid;
    border-color: gray;
    min-width: 230px;
}

.thread-menu-header {
    border-bottom: solid;
    border-color: gray;
}

.messages-header {
    border-bottom: solid;
    border-color: gray;
}

.main-grid{
    height: 100%;
    padding-bottom: 000px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-gap: 20px;
    padding-bottom: 100px;
    grid-template-areas:
    "chahnnel-menu channel-threads thread-messages"
}

.grid-item {
     height: 100%;
     overflow: auto;
}

.channel-menu {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-right: solid;
    border-color: gray;
    min-width: 230px;
}

.submit-button {
    margin-bottom: 20px;
}


.meta--unread {
    color: red;
}


.tile:hover {
    background-color: #d4d4d4;
}

.title{
    color: black;
    margin: 0;
}   

.content {
    width: 100%;
    word-wrap: break-word;
}

.meta{
    float: right;
    padding-right: 20px;
    color: black;
}

.des{
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 1fr;
}
