.main-container {
    height: 900px;
    background-color: #f0f0f0;
    margin-bottom: 390px;
    padding: 50px 20px 100px 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.main-grid{
    height: 100%;
    padding-bottom: 000px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "chahnnel-menu channel-threads thread-messages"
}

.grid-item {
     height: 100%;
     overflow: auto;
}

.tile{
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.tile--unread, .meta--unread {
    color: red;
}

.well {
    background-color: white;
}

.tile:hover {
    background-color: #d4d4d4;
}

.title{
    color: black;
    margin: 0;
}   

.content {
    color: black;
    width: 100%;
    word-wrap: break-word;
}

.meta{
    float: right;
    padding-right: 20px;
    color: black;
}

.des{
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 1fr;
}
