

{% addtoblock more_head %}

<link rel="stylesheet" href="{% static 'jquery-ui-layout-min/layout-default.css'%}"/>
<link rel="stylesheet" href="{% static 'github-markdown-css/github-markdown.css'%}"/>
<link rel="stylesheet" href="{% static 'prettify-min/prettify.min.css'%}"/>
<link rel="stylesheet" href="{% static 'font-awesome-min/css/font-awesome.min.css'%}"/>
<link rel="stylesheet" href="{% static 'remodal-min/jquery.remodal.css'%}"/>
<link rel="stylesheet" href="{% static 'katex-build/katex.min.css'%}"/>
<link rel="stylesheet" href="{% static 'ionicons-min/css/ionicons.min.css'%}"/>
<link rel="stylesheet" href="{% static 'mermaid-min/mermaid.css'%}"/>
<link rel="stylesheet" href="{% static 'markdown-plus/markdown-plus.css'%}"/>
<link href="icon.png" rel="shortcut icon" type="image/png"/>
<script src="{% static 'underscore-min/underscore-min.js'%}"></script>
<script src="{% static 'jquery-dist/jquery.min.js'%}"></script>
<script src="{% static 'jquery-ui-min/jquery-ui.min.js'%}"></script>
<script src="{% static 'jquery-ui-layout-min/jquery.layout.min.js'%}"></script>
<script src="{% static 'ace-min-noconflict/ace.js'%}" charset="utf-8"></script>
<script src="{% static 'marked-min/marked.min.js'%}"></script>
<script src="{% static 'prettify-min/prettify.min.js'%}"></script>
<script src="{% static 'remodal-min/jquery.remodal.min.js'%}"></script>
<script src="{% static 'katex-build/katex.min.js'%}"></script>
<script src="{% static 'mermaid-min/mermaid.full.min.js'%}"></script>
<script src="{% static 'markdown-plus/markdown-plus.js'%}"></script>
<script type="text/java-script">
$(function(){

});
</script>

{% endaddtoblock %}
