{% extends "base.html" %}
{% load mediawiki_links %}
{% load bbcode %}
{% load markup %}
{% load flatpages %}
{% load thumbnail %}

{% block title %}
    Bedriftskontakten Nabla
{% endblock %}

{% block header_logo %}
    <img src="{{ STATIC_URL }}img/bedkomNabla.jpg" alt="Bedriftskontakten Nabla">
{% endblock %}


{% block navbar_container %}
    <ul class="nav">
        <li><a href="/bn/"><span class="icon-cog"></span> Bedriftskontakten</a></li>
        <li><a href="/bn/studenter/"><span class="icon-user"></span> Studenter</a></li>
        <li><a href="/bn/bedrifter/"><span class="icon-briefcase"></span> Bedrifter</a></li>
        <li><a href="/"><span class="icon-home"></span> Tilbake til Nabla.no</a></li>
    </ul>
{% endblock %}


{% block content %}
    <div class="box ad">
    <h1>{{ flatpage.title }}</h1>
    {{ flatpage.content|markdown}}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="ad box">
        <span class="label">Hovedsponsor:</span>
        <br><br>
        <img src="http://nabla.no/media/news_pictures/CMR_logo_None.jpg">
    </div>

    {% if upcoming_bedpresses %}
    <h3>Kommende presentasjoner</h3>
    <div class="well upcoming">
        <ul class="nav nav-list">
            {% for bedpres in upcoming_bedpresses %}
            <li>
                <a href="{{ bedpres.get_absolute_url }}">
                    {% if bedpres.company.picture %}
                    <div class="event-smallpicture">
                    <img width="100%" src="{% thumbnail bedpres.company.picture 370x123 box=bedpres.company.cropping quality=95 %}">
                    </div>
                    {% endif %}
                    <time
                        class="label label-info"
                        datetime="{{ bedpres.event_start|date:"c" }}">{{ bedpres.event_start|date:"j.M" }}</time>
                    {{ bedpres.headline }}
                    {% if bedpres.registration_required %}
                    <span title="Ledige plasser / Antall plasser">{{ bedpres.users_attending }}/{{ bedpres.places }}</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block more_head %}
    {{ block.super }}
    <style>
    #whitebox {
    background-color: #f5f5f5;
    background-image: url(http://upload.wikimedia.org/wikipedia/en/b/bb/Graduated_Blue_Background.png);
    background-size: cover;
    }

    .event-smallpicture {
        margin-left: -10px; 
        margin-right: -10px;
        
        padding-bottom: 10px;
    }
    </style>
{% endblock %}
