{% extends "base.html" %}

{% block title %}Møtereferater{% endblock %}

{% block content %}

<h2>Møtereferater</h2>
<p>Denne siden inneholder møtereferater fra styremøter i Nabla, og fra Nablas årlige Store Kanoniske Ensemble.</p>

<table style="table-layout:fixed;"class="table table-striped">
{% for m in meeting_record_list %}
    <tr>
        <td style="width:20%">
            <a href="{{ m.get_absolute_url }}"> {{ m.pub_date|date:"d. F Y" }} </a>
        </td>
        <td style="width:40%;">
            {{ m.title }}
        </td>
        <td style="width:10%; align:right;">
            <a class="btn btn-sm" href="{{ m.file.url }}"><i class="icon-download-alt"></i></a>
        </td>
    </tr>
{% empty %}
    <p>Ingen møtereferater er blitt publisert på nettsiden hittil.</p>
{% endfor %}
</table>

{% endblock content %}

{% block sidebar %} {% endblock sidebar %}
