{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load comments %}

{% block morehead %}

<meta property="og:title" content="{{ meeting_record.title|striptags }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{% spaceless %}{{ meeting_record.description|striptags }}{% endspaceless %}" />

{% endblock %}

{% block title %}{{ meeting_record.title }}{% endblock %}

{% block content %}


<h2>{{ meeting_record.title }}</h2>
{{ meeting_record.description|markdown:"unsafe"}}

{# Comments #}
    {% get_comment_count for meeting_record as comment_count %}

    {% if comment_count > 0 %}
        <h3 class="comments-header">Kommentarer</h3>
    {% endif %}

    {% render_comment_list for meeting_record %}

    {% if user.is_authenticated %}
        {% render_comment_form for meeting_record %}
    {% else %}
        <p class="card card-body bg-light">Logg inn for å skrive en kommentar</p>
    {% endif %}
{# end Comments #}

{% endblock %}


{% block sidebar %}

{% include "content/includes/meta.html" with content=meeting_record %}
{% if meeting_record.file %}
<div><a class="btn btn-nabla-blue-dark btn-large" href="{{ meeting_record.file.url }}">
        Last ned referat
</a></div>
{% endif %}
<br>

<h3>Arkiv</h3>
<table class="table table-striped">
{% for m in meeting_record_list %}
<tr><td>
    {% if m == meeting_record %}
    {{ m.pub_date|date:"d. F Y" }}
    {% else %}
    <a href="{{ m.get_absolute_url }}"> {{ m.pub_date|date:"d. F Y" }} </a>
    {% endif %}
</td></tr>
{% endfor %}
</table>

{% endblock %}
