{% extends "base.html" %}

{% block title %}Møtereferater{% endblock %}

{% block content %}

<h2>Møtereferater</h2>
<p>Denne siden inneholder møtereferater fra styremøter i Nabla, og fra Nablas årlige Store Kanoniske Ensemble.</p>

<table style="table-layout:fixed;"class="table table-striped">
{% for m in meeting_record_list %}
    <tr>
        <td style="width:60%">
            <a href="{{ m.get_absolute_url }}"> {{ m.title }} </a>
        </td>
        <td style="width:10%; align:right;">
            <a class="btn btn-sm" href="{{ m.file.url }}"><i class="fa fa-download"></i></a>
        </td>
    </tr>
{% empty %}
    <p>Ingen møtereferater er blitt publisert på nettsiden hittil.</p>
{% endfor %}
</table>

<!-- Begin santa -->
<a href="{% url "register_santa" santa_id="15" redirect_url="referater" %}">
    <img alt="Se! En nisse!" src="https://nabla.no/media/uploads/content/nisse_1.jpg" width="150">
</a>



{% endblock content %}

{% block sidebar %} {% endblock sidebar %}
