{% extends "about.html" %}
{% load static %}
{% load listutil %}
{% load sekizai_tags %}
{% load easy_thumbnails %}

{% block title %}Komitéer{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link href="{% static "com/com.css" %}" rel="stylesheet">
    {% endaddtoblock %}

<div>
    <h3 class="headline">Komiteer</h3>
    <div class="grid-container">
        {% for c in committees %}
            <div class="grid-element">
                <a class="com-link" href="{{ c.get_absolute_url }}">
                    <img class="img-responsive com-img"
                    {% if c.picture %}
                        src="{% thumbnail c.picture 250x250 crop="smart" %}"
                    {% else %}
                        src="{% static "img/nabla-black.svg" 250x250 crop="smart" %}"
                    {% endif %}>
                {{ c.com.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>

<br>

<div>
    <h3 class="headline">Interessegrupper</h3>
    <div class="grid-container">
        {% for c in interest_groups %}
            <div class="grid-element">
                <a class="com-link" href="{{ c.get_absolute_url }}">
                    <img class="img-responsive com-img"
                    {% if c.picture %}
                        src="{% thumbnail c.picture 250x250 crop="smart" %}"
                    {% else %}
                        src="{% static "img/nabla-black.svg" 250x250 crop="smart" %}"
                    {% endif %}>
                {{ c.com.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

