
.banner-wrapper img {
    display: block;
    max-width: 750px;
    margin-bottom: 5px;
}

.logo-wrapper img {
    display: block;
    max-width: 350px;
}

audio {
    width: 750px;
}

.black-link, .black-link:hover {
    color: #000;
}