{% load thumbnail %}

{# ERSTATTER avatar.html I /usr/local/lib/python2.7/dist-packages/pybbm-0.8.0-py2.7.egg/pybb/templates/pybb/ (FILEN SKAL ALLEREDE VÆRE ERSTATTET PÅ GAUSS) #}
{# Formålet med endringen er å få pybbm til å bruke easy_thumbnails i stedet for sorl.thumbnail siden disse to er i konflikt. #}

<div class="avatar">
    <a href="{{ post.user.get_profile.get_absolute_url }}">
        {% if post.user.get_profile.avatar %}
        <img src="{% thumbnail post.user.get_profile.avatar 80x80  %}" alt="{{ post.user }} sin avatar" />
        {% else %}
        <img src="{{PYBB_DEFAULT_AVATAR_URL}}" alt="Avatar" />
        {% endif %}
    </a>
</div>
