{% load markdown %}
{% load mediawiki_links %}
{% load thumbnail %}
{% load cropping %}


<div class="box">
    {% if news.as_child_class.correct_picture %}
    <img alt="header" class="img-responsive" src="{% thumbnail news.as_child_class.correct_picture 770x300 box=news.as_child_class.correct_cropping quality=95 %}">
    {% endif %}

    <header><h2>{{ news.headline }}</h2></header>
    <p><strong>{{ news.lead_paragraph}}</strong></p>
    <div style="overflow: hidden;">{{ news.body|markdown}}</div>
</div>
