{% extends "base.html" %}
{% load sekizai_tags %}
{% load static %}
{% load easy_thumbnails %}
{% load hitcount_tags %}

{% block title %}Skråttcast{% endblock %}
{% block content %}
    {% addtoblock "css" %}
        <link href="{% static "podcast/list.css" %}" rel="stylesheet"/>
        <link href="{% static "podcast/podcast.css" %}" rel="stylesheet"/>
    {% endaddtoblock %}
    {% if season_name %}
        <h1>{{ season_name }}</h1>
        {% if season.banner %}
        <div class="">
            <img class="img-responsive" src="{{ season.banner.url }}"/>
        </div>
        {% endif %}
    {% endif %}
    {% if podcast_list %}
        <div class="list-container">
            <ul>
                {% for podcast in podcast_list %}
                    <li>
                        <a href="{{ podcast.get_absolute_url }}">
                        {% if podcast.image %}
                            <img src="{% thumbnail podcast.image 300x300 box=podcast.cropping quality=95 %}"
                                 alt="{{ podcast.title }}"/>
                        {% endif %}

                            <h2>{{ podcast.title }}</h2>
                            <p>{{ podcast.get_short_description }}</p>
                            <span class="date-text">
                                {% if podcast.extra_markdown %}
                                <span class="glyphicon glyphicon-film"></span>
                                {% endif %}
                            {% get_hit_count for podcast %} visninger.
                            {{ podcast.pub_date | date:"d.m.Y" }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>Ingen podcast tilgjengelig.</p>
    {% endif %}
<nav>
    <ul class="pager">
        {% if previous %}
            <li>
                <a href="{{ previous.get_absolute_url }}"><span aria-hidden="true">&larr;</span> Forrige
                    sesong</a>
            </li>
        {% else %}
             <li style="visibility: hidden">
                <a><span aria-hidden="true">&larr;</span> Forrige
                    sesong</a>
            </li>
        {% endif %}

        <li>
            <div class = "opt">
                <select onchange="if (this.value) window.location.href=this.value" onmouseover="" style="cursor: pointer;">
                    {% for i in season_list %}
                        <option value="{% url "season_view" i.number %}" {% if i == season %} selected {% endif %} >{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>

        {% if next %}
            <li>
                <a href="{{ next.get_absolute_url }}">Neste sesong <span
                        aria-hidden="true">&rarr;</span></a>
            </li>
        {% else %}
            <li style="visibility: hidden">
                <a>Neste sesong <span
                        aria-hidden="true">&rarr;</span></a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
{% block sidebar %}
    <h1>Skråttcast</h1>
    <p>
        {% if info %}
            {{ info.content }}
        {% else %}
            Om <a href="/komite/skrattcast/">Skråttcast</a>.
        {% endif %}
    </p>
    {% include "podcast/includes/sidebar_include.html" %}
{% endblock %}
