{% extends "base.html" %}

{% block title %}Arrangement{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/arrangement/feed/" title="RSS feed">
{% endblock %}

{% block main %}

<!-- calendar row -->
<div class="row">
<div class="span12">

<h2>Kalender {{ this.year }}</h2>
<div class="pagination pagination-centered">
    <ul>
        <li>
            <a href="{% url "event_list" prev.year prev.month %}">&laquo;</a>
        </li>
        <li class="inactive"><a>{{ this|date:"F"|capfirst }}</a></li>
        <li>
            <a href="{% url "event_list" next.year next.month %}">&raquo;</a>
        </li>
    </ul>
</div>


{{ calendar }}







</div> <!-- end span12 -->
</div><!-- row -->

<div class="row">

    {% if user.is_authenticated %}

        <div class="span4">
            <h2>Påmeldinger</h2>
            <table class="table table-bordered table-striped">

            {% for reg in user.eventregistration_set.all %}
            <tr>
                <td><a href="{{ reg.event.get_absolute_url }}">{{ reg.event.headline }}</a></td>
                <td>
                    {% if reg.is_waiting_place %}
                        På venteliste
                    {% endif %}

                    {% if reg.is_attending_place %}
                        <span class="icon check"></span> Har plass
                    {% endif %}
                </td>
                </td>
            </tr>
            {% empty %}
                <tr><td>Du er ikke meldt på noe</td></tr>
            {% endfor %}

            </table>

        </div>

        <div class="span4">
            <h2>Prikker</h2>
            <p>Om du har plass, men ikke møter opp på et arrangement, kan du bli
            straffet i form av prikker. Jo flere prikker, jo lengre må du vente for
            å melde deg på et arrangement.</p>
            {% if penalty_list %}
            <p>Du har {{ penalty_list|length }} prikk{{ penalty_list|length|pluralize:"er" }}:</p>
            <ul>{% for penalty in penalty_list %}<li>{{ penalty.get_display_name }}</li>{% endfor %}</ul>
            {% else %}
            <p>Du har ingen prikker. Godt jobbet!</p>
            {% endif %}
        </div>

        <div class="span4">
            <h2>Venteliste</h2> 
            <p>Melder du deg på et fullbooket arrangement, blir du satt på venteliste.
            Blir det ledige plasser, går de til dem som har ventet lengst.</p>
            <p>Husk at du kan få prikker for en plass du har fått via venteliste.
        </div>

    {% else %}

        <div class="span12">
            <p>Logg på for å se hvilke arrangement du er påmeldt.</p>
        </div>

    {% endif %}
</div>


{% endblock main %}
