{% extends "base.html" %}
{% load markup %}
{% load humanize %}
{% load comments %}
{% load mediawiki_links %}
{% load thumbnail %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}

{% include "news/includes/text_content.html" with news=event%}


{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for registration in event.eventregistration_set.all %}
        {% with user=registration.user %}
        <span class="label
            {% if registration.is_waiting_place %} 
            waiting-place
            {% endif %}">

            {% if user.get_full_name %}
                 {{ user.get_full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </span>
        {% endwith %}
        {% endfor %}
    </div>
{% endif %}

{% include "content/includes/comments.html" with content=event %}

{% endblock %}





{% block sidebar %}


{% include "events/includes/info.html" with event=event %}

{% include "content/includes/meta.html" with content=event %}

{% if user.is_staff %}
<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Admin</li>
    {% if event.registration_required %}
        <li><a href="{% url "event_admin" event.id %}"><i class="icon-user"></i> Administrer påmeldinger</a></li>
        <li><a href="{% url "event_registrations" event.id %}"><i class="icon-list"></i> Påmeldingsliste</a></li>
    {% endif %}
        <li><a href="{% url "admin:events_event_change" event.id %}"><i class="icon-pencil"></i> Endre arrangement</a></li>
        <li><a href="{% url "admin:events_event_delete" event.id %}"><i class="icon-trash"></i> Slett arrangement</a></li>
    </ul>
</div>
{%endif%}
{% endblock %}
