{% extends "base.html" %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}
<h2>{{ event.headline }}</h2>

{% if event.registration_required %}
<p>
  Plasser: {{ event.places }}<br />
  Påmeldte: {{ event.users_attending }}<br />
  {% if event.has_waiting_list %}
  Ventende: {{ event.users_waiting }}<br />
  {% endif %}
</p>

<form action="" method="post" class="form">{% csrf_token %}
  <div class="form-inline">
    <select name="action" class="form-control">
      {% for int_name, ext_name in actions %}
        <option value="{{ int_name }}">{{ ext_name }}</option>
      {% endfor %}
    </select>
    <input class="form-control" type="text" name="text" size="10" maxlength="10" />
    <input class="form-control" type="submit" name="commit_changes" value="Utfør" />
  </div>
  {% with regs=registrations %}

  {% if regs %}
  <table class="table">
    <thead>
    <tr>
      <th>Plass</th>
      <th>Navn</th>
      <th>Klasse</th>
      <th align="center">X</th>
    </tr>
    </thead>
    
    <tbody>
    {% for registration in regs %}
    {% if registration.is_attending_place %}
    <tr class="success">
      <td>{{ registration.number }}</td>
      <td>{{ registration.user.get_full_name }}</td>
      <td>{{ registration.user.get_class_number }}</td>
      <td><input type="checkbox" name="user" value="{{ registration.user }}" /></td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for registration in regs %}
    {% if registration.is_waiting_place %}
    <tr class="warning">
      <td>{{ registration.number }}</td>
      <td>{{ registration.user.get_full_name }}</td>
      <td>{{ registration.user.get_class_number }}</td>
      <td><input type="checkbox" name="user" value="{{ registration.user }}" /></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    Det er ingen påmeldte brukere.
  {% endif %}

  {% endwith %}

</form>

{% else %}

<p>Registrering er ikke nødvendig, så det er ikke så mye å gjøre her.</p>

{% endif %}

{% endblock %}
