{% load humanize %}
{% load comments %}
{% load mediawiki_links %}

{% block title %}{{ event.headline }}{% endblock %}


{% block content %}

{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <table border="1" width="100%" style="border-collapse:collapse">
        <tr>
            <th>Etternavn</th>
            <th>Fornavn</th>
            <th>Epost</th>
            <th>Klasse</th>
            <th>Påmeldingstidspunkt</th>
        </tr>
        {% for registration in eventregistrations.all %}
        {% with user=registration.user %}
        <tr
        {% if registration.waiting %} 
            style="font-style:italic;color:grey"
        {% endif %}>
            <td>
                {% if user.last_name %}
                    {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </td>
            <td>
                {% if user.first_name %}
                    {{ user.first_name }}
                {% endif %}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.get_class_number }}
            </td>
            <td>
                {{registration.date|date:"d.m.y" }}
            </td>
	    </tr>
        {% endwith %}
        {% endfor %}
    </table>
{% endif %}


{% endblock %}
