{% extends "wiki/base_site.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load static %}

{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}


{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <link rel="stylesheet" href="{% static 'css/wiki/article.css' %}" />

  <div id="article-container">
  <nav 
    id="article-menu" 
    class="navbar navbar-expand-md" 
    style="background-color: #f0f0f0; margin-top: 7px; margin-bottom: 15px;">
      
      <ul class="nav">
          {% include "wiki/includes/article_menu.html" %}
      </ul>

    </nav>

      <h1
        id="article-title" 
        class="border-bottom"
        style="margin-bottom: 15px"
        >
        {{ article.current_revision.title }}
          {% if article.current_revision.locked %}
            <span class="fa fa-lock"></span> {% trans "locked" %}
          {% endif %}
      </h1>
    


    <div>
      {% block wiki_contents_tab %}
      {% endblock %}
    </div>
  </div>

{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}

