{% extends "base.html" %}

{% block title %}{{ job.print_headline }}{% endblock %}

{% block content %}

{% load markdown %}
{% load easy_thumbnails %}


{% include "content/includes/article_content.html" with content=job %}

{% include "content/includes/comments.html" with content=job %}

{% endblock %}


{% block sidebar %}
    {% include "jobs/info_include.html" with job=job %}
    {% include "content/includes/meta.html" with content=job %}
    {% include "content/includes/sidebar-admin.html" %}
{% endblock %}
