{% load markdown_deux_tags %}
{% load humanize %}
{% load jobs_filters %}
{% load easy_thumbnails %}

<div class="col-md-6 news_item advert">
    {% if job.company.picture %}
        <a href="{{ job.get_absolute_url }}">
            <img class="img-fluid"
            alt=""
            style="height:144px;display:block; margin-right:auto; margin-left:auto"
         {% if job.company.ignoreCrop %}
         src="{% thumbnail job.company.picture 370x144 upscale=True detail=True quality=95 %}"
         {% else %}
         src="{% thumbnail job.company.picture 370x144 box=job.company.cropping upscale=True detail=True quality=95 %}"
        {% endif %}
        >
        </a>
    {% endif %}
    <h3>{{ job.print_headline }}</h3>
    {{ job.lead_paragraph|markdown:"unsafe"}}
    <p><small>
        Stillingsannonsen er relevant for årskull {{ job.relevant_for_year.all|commas_no}} ved
    {{ job.relevant_for_group.all|commas_no }}. {% if job.deadline_date %}Søknadsfristen er {{ job.deadline_date|naturalday }} kl.
    {{ job.deadline_date|date:"H:i" }}.{% endif %}
    </small></p>
    <p><a class="btn btn-default btn-read-more" href="{{ job.get_absolute_url }}">Les mer &raquo;</a></p>
</div>
