{% load markdown_deux_tags %}
{% load humanize %}
{% load jobs_filters %}
{% load easy_thumbnails %}

<div class="col-md-6 news_item advert">
    {% if job.company.picture %}
        <a href="{{ job.get_absolute_url }}">
            <img class="news-picture" alt="" width="100%" src="{% thumbnail job.company.picture 370x123 box=job.company.cropping quality=95 %}">
        </a>
    {% endif %}
	<h3>{{ job.headline }}</h3>
    {{ job.lead_paragraph|markdown:"unsafe"}}
    <p><small>
        Stillingsannonsen er relevant for årskull {{ job.relevant_for_year.all|commas_no}} ved
    {{ job.relevant_for_group.all|commas_no }}. {% if job.deadline_date %}Søknadsfristen er {{ job.deadline_date|naturalday }} kl.
    {{ job.deadline_date|date:"H:i" }}.{% endif %}
    </small></p>
    <p><a class="btn btn-default btn-read-more" href="{{ job.get_absolute_url }}">Les mer &raquo;</a></p>
</div>
