{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load jobs_filters %}


{% block title %}Stillingsannonser{% endblock %}


{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/stillinger/feed/" title="RSS feed">
{% endblock %}

{% block main-blank %}

<div class="row">
    <div class="d-flex flex-wrap col-md-8">
        {% for job in jobs_list %}
        <div class="col-md-6 pb-4">
            {%  include "includes/info_card.html" with content=job show_details=True header_size="h4" class="h-100 "%}
        </div>
        {% empty %}
        <p>Vi har for øyeblikket ingen stillingsannonser som matcher dine kriterier.</p>
        {% endfor %}
        <div class="m-auto">
            {% include "includes/pagination.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="card pb-2">
            <div class="card-body px-3">
                {% include "jobs/sidebar_include.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock main-blank %}
