{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load jobs_filters %}

{% block title %}Stillingsannonser{% endblock %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/stillinger/feed/" title="RSS feed">
{% endblock %}

{% block sidebar %}
{% include "jobs/sidebar_include.html" %}
{% endblock %}

{% block content %}

{% for row in jobs_rows %}
    <div class="row">
    {% for job in row %}
        {% include "jobs/jobs_summary_include.html" %}
    {% endfor %}
    </div>
    <hr>
{% empty %}
    <p>Vi har for øyeblikket ingen stillingsannonser som matcher dine kriterier.</p>
{% endfor %}

{% include "includes/pagination.html" %}

{% endblock content %}
