{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load jobs_filters %}


{% block title %}Stillingsannonser{% endblock %}


{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/stillinger/feed/" title="RSS feed">
{% endblock %}

{% block sidebar %}
    <div class="card pb-2">
        <div class="card-body px-3">
                {% include "jobs/sidebar_include.html" %}
        </div>
    </div>
{% endblock %}

{% block content %}
<style>
    #mainContent {
    background-color: var(--nabla-background);
    border: 0;
}
</style>

<div class="row">
{% for row in jobs_rows %}
    {% for job in row %}
    <div class="col-md-6 pb-4">
        {%  include "includes/info_card.html" with content=job show_details=True header_size="h4" class="h-100 "%}
    </div>
    {% endfor %}
{% empty %}
    <p>Vi har for øyeblikket ingen stillingsannonser som matcher dine kriterier.</p>
{% endfor %}
</div>

{% include "includes/pagination.html" %}

{% endblock content %}
