{% extends "base.html" %}

{% block title %}{{ job.headline }}{% endblock %}

{% block content %}

{% load markdown %}
{% load easy_thumbnails %}


<div class="box">
    {% if job.company.picture %}
    <img alt="header"
         class="img-responsive"
         style="display:block; margin-right:auto;margin-left:auto"
         {% if job.company.ignoreCrop %}
         src="{% thumbnail job.company.picture 770x300 upscale=True detail=True quality=95 %}"
         {% else %}
         src="{% thumbnail job.company.picture 770x300 box=job.company.cropping upscale=True detail=True quality=95 %}"
        {% endif %}
         >
    {% endif %}

    <header><h2>{{ job.headline }}</h2></header>
    <p><strong>{{ job.lead_paragraph }}</strong></p>
    <div style="overflow: hidden;">{{ job.body|markdown }}</div>
</div>

{% include "content/includes/comments.html" with content=job %}

{% endblock %}


{% block sidebar %}
    {% include "jobs/info_include.html" with job=job %}
    {% include "content/includes/meta.html" with content=job %}
    {% include "content/includes/sidebar-admin.html" %}
{% endblock %}
