{% load humanize %}
{% load markdown %}

Vis utløpte: <a href="{{ toggle_expired_link }}" class="text-success fas fa-lg {% if exclude %}fa-toggle-off{% else %}fa-toggle-on{% endif %} btn"></a>
{% if years%}
<p>Se stillingsannonser relevant for {% for year in years %}<a href="{% url "relevant_for_year_list" year=year.year %}">{{ year }}</a>, {% endfor %}
{% for choice in choices %}<a href="{% url "relevant_for_linje_list" linje=choice.studieretning %}">{{ choice.studieretning|lower }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}

{% if tags %}
<p>Se stillingsannonser tagget med {% for tag in tags %}<a href="{% url "tag_list" tag=tag.tag %}">{{ tag.tag|lower }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}

<h3>Vil du ha stillingsannonsen din her?</h3>
<p>Ønsker bedriften din å legge ut en stillingsannonse på denne siden, ta kontakt med Bedriftskontakten Nabla på <a href="mailto:bedkom [Ætt] nabla.no">
bedkom [Ætt] nabla.no</a>. Les mer om bedriftskontakten <a href="/bedriftskontakten/">her</a>.</p>

{% if jobsidebarinfo %}
    <p>
        {{ jobsidebarinfo.content | markdown:"unsafe" }}
    </p>
{% endif %}
