{% extends "base.html" %}
{% load static %}
{% load easy_thumbnails %}

{% block title %}
Brukeravstemninger
{% endblock %}

{% block content %}
<br>
<h3><a class="btn btn-primary" href="{% url "poll_user" %}">
Mine avstemninger
</a></h3>
<br>
{% for poll in poll_list %}

{% with user=poll.created_by %}
<div class="col-md-3">
    <img class="thumbnail" alt="avatar"
         {% if user.avatar %}
         src="{% thumbnail user.avatar 150x150 box=user.cropping %}"
         {% elif not poll.is_user_poll %} {#Nablalogo if made by admin#}
         src="{% static "img/nabla-black.svg" %}"
         width=150
         {% else %}
         src="{% static "img/default_avatar.png" %}"
         {%endif %}>
</div>
<div class="col-md-9">
<h3>
    {% if poll.is_user_poll %}
    {% firstof user.get_full_name user.username %}
    {% else %}
    Nabla
    {%endif%}
</h3>

{% endwith%}
<div class="card card-body bg-light">
    <span id="{{ poll.id }}"></span>
    <h4>{{ poll.question }}</h4>
    {% if poll.voted %}
        {% include "poll/includes/poll_result.html" %}
    {% else %}	
        {% include "poll/includes/vote_form.html" %}
    {% endif %}
</div>
</div>
{% empty %}
Ingen brukeravstemninger her enda.
{% endfor %}

{% include "includes/pagination.html" %}

{% endblock %}
{% block sidebar %}
{% endblock %}

