{% extends "base.html" %}
{% load cache %}
{% load markdown_deux_tags %}
{% load sekizai_tags %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
Mine avstemninger
{% endblock %}

{% block content %}
<br>
<h3><a class="btn btn-primary" href="{% url "poll_user_create" %}">Lag en ny avstemning</a></h3>

<h1>Mine avstemninger</h1>

{% for poll in poll_list %}
<div class="btn-group">
    <form style="display: inline" method="POST" action="{% url "poll_user_delete" poll.id %}">
        <button class="btn btn-danger" type="submit">
            <span class="glyphicon glyphicon-trash"></span>
            Slett
        </button>
        {% csrf_token %}
    </form>
</div>

<div class="poll card card-body bg-light">
    <h4>{{ poll.question }}</h4>

    {% if poll.voted %}
        {% include "poll/includes/poll_result.html" %}
    {% else %}
        {% include "poll/includes/vote_form.html" %}
    {% endif %}
</div>
{% empty %}
Ingen brukeravstemninger her enda.
{% endfor %}

{% include "includes/pagination.html" %}


{% endblock %}

{% block sidebar %}
{% endblock %}
