{% load humanize %}
{% load sekizai_tags %}
{% load static %}

{% addtoblock "css" %}
<style>
    .content-info span.trinn {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        -moz-border-radius: 30px; /* or 50% */
        border-radius: 30px; /* or 50% */
        background-color: #333;
        color: white;
        text-align: center;
        font-size: 1em;
    }

   input:hover ~ div div{
        font-size: 10px;
        position: absolute;
        color: #333333;
        display: block;
        border: #ddd solid 1px;
        padding: 2px 5px 2px 5px;
        border-radius: 11px;
        background: white;
        left: -67px;
        top: 4px;
        width: 130px;
   }

</style>
{% endaddtoblock %}

<!-- event-info -->
<h3 class="float-left">Informasjon</h3>
{% if event.facebook_url %}
<h3 class="float-right">
    <a target="_blank" href="{{ event.facebook_url }}" class="btn btn-default btn-sm">
        <span class="fab fa-facebook-square"></span>
        Vis på Facebook
    </a>
</h3>
{% endif %}

<table class="table table-bordered table-striped">

    <!-- Fra -->
    <tr>
        <td >Starter</td>
        <td>
            <time datetime="{{ event.event_start|date:"c" }}">
                <b>{{ event.event_start|naturalday }} kl. {{ event.event_start|date:"H:i" }}</b>
            </time>
        </td>
    </tr>

    <!-- Til -->
    {% if event.event_end %}
    <tr>
        <td>Slutter</td>
        <td>
            <time datetime="{{ event.event_end|date:"c" }}">
                {{ event.event_end|naturalday }} kl. {{ event.event_end|date:"H:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <!-- Sted -->
    <tr>
        <td>Sted</td>
        <td>{{ event.location }}</td>
    </tr>


    {% block more_info %}
    {% endblock %} 

{% if event.registration_required %}
    <!-- Registrering åpner -->
    {% if event.registration_start %}
    <tr>
        <td>Registrering åpner</td>
        <td>
            <time datetime="{{ event.registration_start|date:"c" }}">
                {{ event.registration_start|naturalday }} kl. {{ event.registration_start|date:"H:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <!-- Åpen for -->
    {% block open_for %}
    <tr>
        <td>Trinn</td>
            <td>
                {% for group in classnumber %}
                        <span class = "trinn">
                            {{ group }}
                        </span>
                {% endfor %}
            </td>
    </tr>
    {% endblock %}

    <!-- Påmeldingsfrist -->
    {% if event.registration_deadline %}
    <tr>
        <td>Påmeldingsfrist</td>
        <td>
            <time datetime="{{ event.registration_deadline|date:"c" }}">
                {{ event.registration_deadline|naturalday }} kl. {{ event.registration_deadline|date:"H:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <!-- Avmeldingsfrist -->
    {% if event.deregistration_deadline %}
    <tr>
        <td>Avmeldingsfrist</td>
        <td>
            <time datetime="{{ event.deregistration_deadline|date:"c" }}">
                {{ event.deregistration_deadline|naturalday }} kl. {{ event.deregistration_deadline|date:"H:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    {% if event.penalty%}
    <tr>
        <td>Prikkregler</td>
        {% if event.penalty == 1%}
        <td><a href={% url 'wiki:get' 'retningslinjer-arrangement/' %}>Bedpres</td>
        {% endif %}
        {% if event.penalty == 2%}
        <td><a href={% url 'wiki:get' 'retningslinjer-arrangement/' %}>Arrangement med betaling</td>
        {% endif %}
        {% if event.penalty == 3%}
        <td><a href={% url 'wiki:get' 'retningslinjer-arrangement/' %}>Arangement uten betaling</td>
        {% endif %}
    </tr>
    {% endif %}

    <tr>
        <td style="text-align: center;" colspan="2">
            {% if is_attending %}
                <span class="glyphicon glyphicon-ok"></span>
                <strong>Du er påmeldt</strong>
            {% elif is_waiting %}
                Du står på venteliste
            {% else %}
                Påmelding kreves
            {% endif %}
        </td>
    </tr>

    <!-- På/Avmeldingsknapp -->
    <form name="registration" action="{{ event.get_registration_url }}" method="post">
    {% csrf_token %}
    <tr><td colspan="2" style="text-align: center;">
        {% if not is_registered %} {# Show registration button #}
            <input type="hidden" name="registration_type" value="registration">
            {% if event.registration_open %}
                <input type="submit" class="btn btn-primary"
                   {% if not allowed_to_attend %} style="cursor: default; background: #aaa; border-color: #aaa;" disabled {% endif %}
                   value="Meld deg på {% if event.has_queue and event.is_full %}ventelisten{% endif %}">
                <div style="height: 0; width: 0; position: relative; margin: 0 auto;">
                    {% if not allowed_to_attend %}
                        <div hidden class="button">
                            {{ reason_for_registration_failure }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                Påmeldingen er stengt.
            {% endif %}
        {% else %} {# Show deregistration button #}
            <input type="hidden" name="registration_type" value="deregistration">
            {% if event.deregistration_closed %}
                Avmeldingsfristen er ute.
            {% else %}
                <a href="#"
                   id="meld-av"
                   class="btn btn-primary">Meld deg av
                    {% if is_waiting %}ventelisten{% endif %}
                </a>
                <br>
                <input type="submit"
                       id="meld-av-confirm"
                       class="btn btn-primary btn-warning"
                       value="Er du sikker?"
                        >
                <script>
                    $("#meld-av-confirm").hide();
                    $("#meld-av").on("click", function(event) {
                        event.preventDefault();
                        $("#meld-av-confirm").slideDown();
                    });
                </script>
            {% endif %}
        {% endif %}
    </td></tr>
    </form>
{% endif %}
</table>





{% if event.registration_required %}
<h3>{{ event.users_attending }} påmeldt av {{ event.places }} plasser</h3>
<div class="progress">
    <div class="progress-bar
    {% if 80 <= event.percent_full and event.percent_full < 100 %}
        progress-bar-warning
    {% elif event.percent_full == 100 %}
        progress-bar-danger
    {%endif %}"
    style="width: {{ event.percent_full }}%;">
    </div>
</div>
{% endif %}

<div class="center">
    <a title="Google Calendar" class="btn" href="https://calendar.google.com/calendar/r/eventedit?text={{ event.headline }}&dates={{event.event_start|date:'Ymd\THis' }}/{{event.event_end|date:'Ymd\THis' }}&details={{ request.build_absolute_uri }}&location={{ event.location }}&sf=true&output=xml&pli=1" target ="_blank">
	<img hspace=10 height=32 src="{% static "events/Google_Calendar_icon.svg" %}" alt="iCalendar">
	</a>
    <a title="iCalendar" class="btn" href="{% url "ical_event" event.pk %}">
		<img hspace=10 height=32 src="{% static "events/iCal_icon.svg" %}" alt="iCalendar">
    </a>
</div>


