{% load humanize %}

<!-- event-info -->
<h3>Informasjon</h3>
<table class="table table-bordered table-striped content-info">

    <!-- Fra -->
    <tr>
        <td>Starter</td>
        <td>
            <time datetime="{{ event.event_start|date:"c" }}">
                <b>{{ event.event_start|naturalday }} kl. {{ event.event_start|date:"G:i" }}</b>
            </time>
        </td>
    </tr>

    <!-- Til -->
    {% if event.event_end %}
    <tr>
        <td>Slutter</td>
        <td>
            <time datetime="{{ event.event_end|date:"c" }}">
                {{ event.event_end|naturalday }} kl. {{ event.event_end|date:"G:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <!-- Sted -->
    <tr><td>Sted</td><td>{{ event.location }}</td></tr>

    <!-- Registrering åpner -->
    {% if event.registration_start %}
    <tr>
        <td>Registrering åpner</td>
        <td>
            <time datetime="{{ event.registration_start|date:"c" }}">
                {{ event.registration_start|naturalday }} kl. {{ event.registration_start|date:"G:i" }}
            </time>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td style="text-align: center;" colspan="2">
            {% if event.registration_required %}
                {% if is_registered %}
                    {% if is_attending %}
                       Du er påmeldt
                    {% else %}
                       Du står på venteliste
                    {% endif %}
                {% else %}
                    Påmelding kreves
                {% endif %}
            {% else %}
                Påmelding unødvendig
            {% endif %}
        </td>


    </tr>

    <tr><td colspan="2" style="text-align: center;">
        {% if not is_registered %}
            <a href="{% url nablaweb.bedpres.views.register_user event.id %}" class="btn btn-primary">Meld deg på</a>
        {% else %}
            <a href="{% url nablaweb.bedpres.views.deregister_user event.id %}" class="btn btn-primary">Meld deg av</a>
        {% endif %}
        <a href="#notimplemented" class="btn"><span class="icon-custom icon-facebook"></span> Vis på Facebook</a>
    </td></tr>

</table>

{% if event.registration_required %}
<h3>{{ event.users_attending }} påmeldt av {{ event.places }} plasser</h3>
<div class="progress{% if event.percent_full > 90 %} danger{% endif %}">
    <div class="bar" style="width: {{ event.percent_full }}%;"></div>
</div>


{% endif %}
