{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Endre bruker {% endblock %}

{% block content %} 
<div class="row">
    <div class="span2 centertext">
        <div class="thumbnail">
            <img alt="avatar" src="{% thumbnail user.userprofile.avatar 150x150 %}" width = "150" height ="150" >
        </div>
    </div>

    <div class="span6">
        <form action="" method="post">{% csrf_token %}

            <table>
                {{ userForm.as_table }}
                {{ profileForm.as_table }}
            </table>

            <button type="submit" class="btn primary">Lagre endringer</button>

        </form>
    </div>

</div>
{% endblock %}

