{% extends "base.html" %}

{% block content %}

<h2>Komponenter og nullvektorer</h2>
<br />

{# TODO: Fjern hardkoding av action #}
<form class="input-append" method="post" action="/brukere/search/" id="user-search">
    {% csrf_token %}
    <input class="span5" placeholder="Søk i listen" name="searchstring" id="searchstring" type="text">
    <button class="btn">
        <i class="icon-search"></i>
    </button>
</form>

{% if searchquery %}
<p>Du søkte etter <b>{{ searchquery }}</b>. <a href="{% url accounts.views.list %}">Vis alle brukere</a>
{% endif %}

{% if users %}
    <table id="user_list" class="table table-condensed table-striped table-bordered" width="100%">
        <tr>
            <th>Brukernavn</th>
            <th>Navn</th>
            <th>Grupper</th>
        </tr>
    {% for user in users %}
        <tr>
            <td >
            {# Brukernavn med lenke til profilen #}
                <a href="{% url accounts.views.view_member_profile user.username %}">
                    {{ user.username }}
                </a>
            </td>

            <td class="cell_name">
                {{ user.first_name }}
                {{ user.last_name }}
            </td>

            <td class="cell_groups"> 
            {# Grupper brukeren er med i #}
                {% for group in user.groups.all %}
                <img alt="{{ group.name }}" src="{{ STATIC_URL }}img/komite-ikon/{{ group.name|lower }}.png" />
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Vi fant ingen brukere som matchet søket ditt :(</p>
{% endif %}

{% comment %}
<div class="pagination">
	<span class="step-links">
		{% if users.has_previous %}
			<a href="?side={{ users.previous_page_number }}">forrige</a>
		{% endif %}

		<span class="current">
			Side {{ users.number }} av {{ users.paginator.num_pages }}.
		</span>

		{% if users.has_next %}
			<a href="?side={{ users.next_page_number }}">neste</a>
		{% endif %}
	</span>
</div>
{% endcomment %}

{%endblock%}
