{% extends "base.html" %}
{% load avatar_tags %}
{% load bbcode %}

{% block title %}Medlem: {{member.get_full_name }} {% endblock %}



{% block content %}

<h2>{{member.get_full_name}}</h2>
<br />
<table>
    <tr>
      <td rowspan=4 >{% avatar member 100 %}</td>
        <td>Epost: </td>
        <td>{{member.email}}</td>
    </tr>

    <tr>
        <td>Hjemmeside: </td>
        <td><a href="{{member.get_profile.web_page}}" target="_blank" >{{member.get_profile.web_page}}</a></td>
    </tr>

    <tr>
        <td>Bursdag: </td>
        <td>{{member.get_profile.birthday}}</td>
    </tr>

    <tr>
        <td>Medlem av: </td>
        <td>
            <ul>
            {% for group in member.groups.all %}
                <li>{{ group.name }}</li>
            {% empty %}
                Ingenting
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<div id="user_about">{{ member.get_profile.about|bbcode }}</div>

{% endblock %}
