{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load mediawiki_links %}

{% block title %}Gullkorn{% endblock %}
<h2>Gullkorn</h2>
<p>Her finner du en liste over artige sitat som er blitt ytret av personer med tilknytning til NTNU eller Nabla.</p>
<hr>
{% block content %}
{% for quote in quote_list %}
    <div class="row">
        <div class="col-md-8">
            {{ quote.quote|markdown|wikilinks}}
            <p><em>-- {{ quote.author }}</em></p>
        </div>
    </div>
    <hr>
{% empty %}
    <p>Men ingen sitater er lagt til enda.</p>
{% endfor %}
{% endblock content %}
