{% load comments i18n %}


<form action="{% comment_form_target %}" method="post" class="add-comment well row">
    {% csrf_token %}
    <fieldset>

        <legend>Legg til en kommentar</legend>

        {% comment %}
        Hvis vi er på den originale siden, hent nåværende URL.  Hvis noe gikk
        galt, og vi havnet på forhåndsvisningen, bruk URL fra den originale
        siden, som ble POSTet via next-feltet
        {% endcomment %}
        <input type="hidden" name="next" 
               value="{% if request.POST.next %}{{ request.POST.next }}{% else %}{{ request.get_full_path }}{% endif %}">

        {% for field in form %}
           
            {% if field.is_hidden %}

                {{ field }}

            {% else %}

                {# Fjern uønskede felt, ved å sjekke svartliste feltnavn #}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}

                    {# Vis feltet hvis det er godkjent #}
                    <div class="form-group {% if field.errors %}error {% endif %}"
                         {% if field.name == 'honeypot' %}style="display:none;"{% endif %}>
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                        {{ field }}
                        {{ field.size }}

                        <div class="help-block">
                            {{ field.help_text }}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endif %}

            {% endif %}

        {% endfor %}

        <div class="form-actions">
            <button type="submit" name="post" class="btn btn-primary">Lagre</button>
            <button type="submit" name="preview" class="btn btn-default">Forhåndsvis</button>
        </div>

    </fieldset>

    <div id="comment-help-buttons">
        <div class="col-md-8">
            <p>Kommentarene bruker Markdown og MathJax. HTML blir fjernet. [[Ord]] i doble hakeparenteser lenker til wikien.</p>
        </div>
        <div class="col-md-4">
            <button style="display:none;" class="btn btn-default comment-help-btn">Vis hjelp</button>
            <button style="display:none;" class="btn btn-default comment-help-btn">Gjem hjelp</button>
        </div>
    </div>

    <div id="comment-help-text">
        <div class="row">
            <div class="col-md-7"><pre class="tex2jax_ignore">Heisann, [Lenketekst](http://google.com), 
**bold**, _kursiv_. 
Og litt `kode`.
            </pre></div>
            <div class="col-md-5">
                <p>Heisann, <a href="http://google.com">Lenketekst.com</a>, <strong>bold</strong>, <em>kursiv</em>. Og litt <code>kode</code>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7"><pre class="tex2jax_ignore">Jeg kan skrive store ligninger:

`$$ \int_0^\infty \frac1{x^2}\, dx = y. $$`
Og små ligninger `$ \int\,som\ dette$`.
            </pre></div>
            <div class="col-md-5">
                <p>Jeg kan skrive store ligninger:</p>

                <p><code>$$ \int_0^\infty \frac1{x^2}\, dx = y. $$</code></p>

                <p>Og små ligninger <code>$ \int x^5\, dx$</code>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7"><pre class="tex2jax_ignore">Liste:

* Ein
* To
* Tri

Numerert liste:

1. Ein
2. To
    * Fire
    * Fem
3. Tre
            </pre></div>
            <div class="col-md-5">
                <p>Liste:</p>

                <ul>
                    <li>Ein</li>
                    <li>To</li>
                    <li>Tri</li>
                </ul>

                <p>Numerert liste:</p>

                <ol>
                    <li>Ein</li>
                    <li>To
                        <ul>
                            <li>Fire</li>
                            <li>Fem</li>
                        </ul>
                    </li>
                    <li>Tre</li>
                </ol>


            </div>
        </div>

        <div class="row">
            <div class="col-md-7"><pre class="tex2jax_ignore">&gt; Slik som dette siterer jeg noen. Du trenger kun en &gt; i starten av hver paragraf. 
            </pre></div>
            <div class="col-md-5">

                <blockquote>
                  <p>Slik som dette siterer jeg noen. Du trenger kun en &gt; i starten av hver paragraf.</p>
                </blockquote>

            </div>
        </div>

    </div>

    <script>
        var commentHelp   = $("div#comment-help-text").hide();
        var commentHelpButtons = $("button.comment-help-btn").show();
        commentHelpButtons.last().hide();

        $("button.comment-help-btn").on("click", function( e ) {
            commentHelpButtons.toggle();
            commentHelp.slideToggle();
            e.preventDefault();
        });
        
    </script>

</form>
