{% load humanize %}
{% load thumbnail %}
{% load markdown_deux_tags %}
{% load mediawiki_links %}

{% for comment in comment_list %}

<hr>

<div class="row comment" id="c{{ comment.id }}">

    <img class="col-xs-2 thumbnail img-responsive" alt="avatar" width="150" height="150" src=
        {% if comment.user.userprofile.avatar %}
            "{% thumbnail comment.user.userprofile.avatar 150x150 %}"
        {% else %}
            "{{ STATIC_URL }}img/default_avatar.png"
        {%endif %}>

    <div class="col-xs-10 text">
        <div class="info">
            <span class="author">
                <a href="{% url "accounts.views.view_member_profile" comment.user.username %}">
                    {% firstof comment.user.get_full_name comment.user.username %}
                </a>
            </span>
            <span class="date">{{ comment.submit_date|naturalday }}</span>
            {% if user.is_staff %}
                (<a href="{% url "comments-delete" comment.id %}">fjern</a>)
            {% endif %}
        </div>
        {# Urlize er en extension som gjør linker klikkbare. Failer silently #}
        {{ comment.comment|striptags|markdown:"safe,urlize"|wikilinks }}
    </div>
</div>

{% endfor %}
