{% extends "comments/base.html" %}
{% load i18n %}
{% load mediawiki_links %}
{% load thumbnail %}
{% load markdown_deux_tags %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    <h2>{% trans "Forhåndsvisning av kommentar" %}</h2>
    {% if form.errors %} 
        <h3>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
    {% else %}

        <div class="row comment" id="c{{ comment.id }}">
            <img class="col-xs-2 thumbnail img-responsive" alt="avatar" width="150" height="150" src=
                {% if comment.user.userprofile.avatar %}
                    "{% thumbnail user.userprofile.avatar 150x150 %}"
                {% else %}
                    "{{ STATIC_URL }}img/default_avatar.png"
                {%endif %}>

            <div class="col-xs-10 text">
                <div class="info">
                    <span class="author">
                        <a href="{% url "accounts.views.view_member_profile" user.username %}">
                            {{ user.get_full_name }} 
                        </a>
                    </span>
                    <span class="date">i dag</span>
                </div>

                {# Urlize er en extension som gjør linker klikkbare. Failer silently #}
                {{ form.data.comment|markdown:"safe,urlize"|wikilinks }}
            </div>
        </div>
    {% endif %}

    {% include "comments/form.html" %}
{% endblock %}
