{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    <h2>{% trans "Forhåndsvisning av kommentar" %}</h2>
    {% if form.errors %}
        <h3>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
    {% else %}
        <div class="comment">
            <div class="avatar">
                {% load avatar_tags %}
                {% avatar user.username 60 %}
            </div>

            <div class="bubble_container">
                <div class="bubble_arrow"></div>
                <div class="bubble">
                    <div class="text">
                        {% load markup %}
                        {# Urlize er en extension som gjør linker klikkbare. Failer silently #}
                        {{ form.data.comment|markdown:"safe,urlize" }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include "comments/form.html" %}
{% endblock %}
