{% extends "base.html" %}
{% load static %}
{% load sekizai_tags %}


{% addtoblock "css" %}
    <link href="{% static "css/about.css" %}" rel="stylesheet">
{% endaddtoblock %}


{% block main %}

<div class="main-grid-container">
    <div class="navbar navbar-container">
        {% block navbar %}
            <h1 style="text-align: center">Om Nabla</h1>
            <ul class="nav-list">
                <a><li>Undergrupper</li></a>
                <a><li>Styret</li></a>
                <a><li>Nablashop</li></a>
                <a><li>Nablas lover</li></a>
                <a><li>Nablas forskrifter</li></a>
            </ul>
        {% endblock navbar %}
    </div>
    <div class="content content-container">
        {% block content %}
        {% endblock content %}
    </div>
</div>

{% endblock main %}


