{% comment %}
Django template for the main design of nabla.no.
This should be extended by all other templates which wants
to look like the rest of the site.

For readability the template includes the navbar and the footer from other templates
{% endcomment %}
{% load sekizai_tags %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <title>
            Nabla - {% block title %}linjeforeningen for Fysikk og matematikk ved NTNU{% endblock title %}
        </title>
        <meta name="description"
              content="Hjemmesiden til linjeforeningen Nabla, for studentene på
                       fysikk og matematikk-masterprogrammet på NTNU.">
        <meta name="author" content="Nabla">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/default.css" %}">
        {% render_block "css" %}

        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">

        {% addtoblock "js" %}
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "wiki/js/core.js" %}"></script>
        <script src="{% static "js/base.js" %}"></script>
        {% endaddtoblock %}

        {% render_block "js-head" %}

        {% block more_head %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include "base_navbar_inc.html" %}
        <div class="container">
            {% bootstrap_messages %}
            {% block main %}
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="col-md-4">
                    {% block sidebar %}
                    {% endblock sidebar %}
                </div>
            </div>
            {% endblock main %}
        </div>
        {% include "base_footer_inc.html" %}
        {% render_block "js" %}
    </body>
</html>

{% addtoblock "js-head" %}
<!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endaddtoblock %}

{# Obligatory jQuery #}
{% addtoblock "js-head" %}
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
{% endaddtoblock %}

{# Google Analytics #}
{% addtoblock "js" %}
<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-30407973-1']);
 _gaq.push(['_setDomainName', 'nabla.no']);
 _gaq.push(['_trackPageview']);

 (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
{% endaddtoblock %}

{# MathJax for LaTeX rendering #}
{% addtoblock "js" %}
<script type="text/x-mathjax-config">
 // Differences from standard config:
 //  - $tex$ is allowed.
 //  - LaTeX inside <code> tags now works.
 MathJax.Hub.Config({
     tex2jax: {
         skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
         inlineMath: [ ['$','$'], ["\\(","\\)"] ]
     }
 });

 // Hooks the event which is triggered when a Latex equation is rendered, and
 // adds the class .equation to the parent <code> element. This is because
 // Markdown creates code elements around equations.
 MathJax.Hub.Register.MessageHook("New Math", function( message ) {
     var script = MathJax.Hub.getJaxFor( message[1]).SourceElement();
     $(script).parent("code").addClass("jax");
 })
</script>

<script type="text/javascript"
	      async
	      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endaddtoblock %}
