{% load cache %}
{% load flatpages %}
{% load sekizai_tags %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="no">
   <!--
                                                      ,,
                                                      ;c.
                                                       ;d;
                                                      ..,ko.
                                                      :c 'kk,
                                                     .dk. .xKd;.
                                                     ;XNc  .lXWKc.
                                                    ,0MMx.   ;xKWO;
                                                   ;0MMMX;     'kWNk,
                                                 .oXMMMMWo      .lXMNx,
                                               .lKWMMMMMMO.       ,OWMNk;.                                ..
                                            .;dXWMMMMK0WMN:        .lKMMW0l'                             .,.
                                         .:dKWMMMMMNd.,0MMd          .dNMMMXxc.                         ,:.
                                    .,cdONWMMMMMN0o'  .kMMO.           ,xNMMMWXkl,.                 . .cl.
                             ..,:ldOXWMMMMMWN0xc,.    ,KMMX;             ,xXMMMMMWKkoc;'........,cll,'od.
                   ..',;cloxOKXWMMMWWNK0kdl;'.       'OWMMWl               .lONMMMMMMMWNXKKKKKXNN0c..xx.
     ...'';;::cclodxkOO00Okkkxdolc:;,..            .lKMMMMMd                  ,lkKWMMMMMMMMMMMW0c. 'OO'
       .......,;,.......                         ,oKWWXkxXMk. ..                 .,:lo0WMMMMNk:.  'OK;
              .,lxkdl:,.                     .;oONN0xc. .kMk. .'cc,.                .oKWMWXd,    ,0Nl
                 'dXMMWX0xo:'.         ..,cdk00ko:'.     oWx.   .cdkxo:'..     ..,ckXWMNkc.     ,0Wx.
                   ,OWMMMMMMNKkl;.  .',:clc:,..          cNo       .:ok0K00OkkO0XWMMNOl'       '0M0,
                    .xWMMMMWNWMMWXko:.                   :x.           .':lkNMMMWKkc;.        'OMNl
                     .kWMMMNd;:okXWMWKd;.   ..           .            ..,cd0XKxl;. .;.       .kWMO.
                      ,KMMMMO.   .cOWMMWKd,..',;clooddooollllooooddxkOkOkxl:,.    .ol       .oWMNc
                       dWMMMNc     .lXMWKOKOc.   .',:cloodddddddoolc:,..  .,'     cO,       :XMMO.
                       :NMMMMo       ;KMx.'l00l.  ..                    .:o;     '0k.      .OMMMd
                       ,KMMMWo        :XX;  .l00c..,:'                 ;kd.      oWo       oWMMN:
                       ,KMMMNc        .xWo    .xXO, 'oo.             'x0l.      'OWl      '0MMMK,
                       ;KMMM0'         :Nx.     cKXl. ck:          .cK0;        ;XWl      cNMMMO.
                       :NMMWd.         '0x.      ,ONd. ;kc        .xNk'         cWWo      dMMMMO.
                       oWMMK,          .ko        .xNk. ,k:      'ONx. .,.      oWMO.    .xMMMMK,
                      .OMMWl           .o,    .,,. .dNx. :o.    'ONd.   :kxo:'. lWMNo     oMMMMNc
                      :NMWk.            ..'cdOkd:.  .dXd. ;'   .ONo.     .:xKX0k0WMMNo.   :XMMMMx.
                     .kWM0'            ,lONNk:.      .oKc .. .'dNd.         .;oOXWMMMW0o,..dWMMMNc
                     :NMK;          'lONMWO;          .oO'   cKNk.      .;:;.   .:okKNMMWKO0NMMMMK;
                    .OMX:        .:kXMMMMWXOo;.        .dl  .OMK;    ,lkko;.        .':okKNWMMMMMMXc
                    oWXc       'oKWMWNK000XNWWKd;.      .c' cNMx. .cOKk:.                .':lxOXWMMNx'
                   :XXc     .;kNMW0o;... ..';lkKN0o.     ...xWWd,oKXx,                         .,:lxOOo,.
                  '0Xc    .l0WMMW0:..          .;o0Kd'     'OMWNNW0;                                 .','.
                 .xK:   'dKWMMMMMWNX0ko:.         .;dOo.   ;XMMMWk.                  ...',;::ccllllllolllc:;,'....
                .d0;  ,xXMMMMMMMMMMMMMMWXkc.         .cd;  ;XMMM0'          ..,:loxO0KXNWWWWNK0kxolc:;,,'.....
                lk,.,oxdlcc:::cloxOKWMMMMMMXx,         .;,.;XMMWo       .;lx0XWMMMMMWX0kol:,..
               cd...'.             .,cd0NMMMMNk;           ;XMMWo    'lkXWMMMMMWKOdc,.
              ;c.                      .,lONMMMNk,         ,KMMMx. ,xNMMMMMWXkl,.
             ,,                            'o0WMMNd.       .OMMMXdxNMMMMWXx:.
            ..                               .:kNMMK:.     .dMMMMMMMMMWOc.
                                                ,xXMNx'     cNMMMMMMW0:.
                                                  'dXWK:    '0MMMMMNd.
                                                    ,xNNo.   oNWMMXc
            .'..     .'..     .'.                .'.  ;ONk'  ,dKMNl      .''.
            :KNo    ,0NNd.   'ONx.              'ONo   .cK0;  .oWk.    ,xXKd'
            .xMK,  .dWWWX:   oWNc      ...      '0Md.... .x0c  'Ol   ,xNNx,        ...           ...   ...
             ;XWd  ;XNxOMk. '0Mk.   'oO000Od,   '0MXO000kc.:ko'.;' ,xNXd'       ;d0000Oo'   ,kOkk0K0dcd0KKk;
             .dWK,.xMk.:XN: oWX:   :XWx;';xNXc  '0MXo,'lXWx..d0o..cXMMO'      .oNNd,':OWK;  :NM0c,lKMXd;;OMK,
              ,KWdlXX: .xMkc0Md.  .OMNOxxxONMO. '0Mx.   dMX;  .:l.'coKW0;     ,KMx.   ,KMx. :NWc  .kMk.  lWN:
               oWNNWx.  ;KWNWK,   .OMXxccccll:. '0Md    dMX;    ':.  'kWNd.   ,KMd.   ,KMx. :NNc  .kMk.  lWN:
               '0MMK;    oWMWo     cXWk;.'lxx,  '0M0:''lKWd.   ;c',.  .lXW0;  .dNXo'.;kWX;  :NNc  .kMk.  lWN:
                c00l     'kKx'      ,d0K000x;   .xK000KKk:.    c0o'.    ,kKO:  .:x0K0K0d'   ;O0;  .oKo.  :0O;
                 ..        .           ....      .......        ..        ...     ....       ..     .     ..

         Hvis du er her, så er du kanskje interessert i å bli med i WebKom?
         Vi gjør masse kule ting - visste du at WebKom drifter flere servere på NTNU, at vi har ukentlige møter med sosial koding, og at dette er en super arena for å lære masse om data?
         Søk neste opptak, send oss en mail på webkom@nabla.no eller send en melding til noen i WebKom hvis du er interessert!
    -->

    <head>

        <meta charset="utf-8">
        <title>
            Nabla - {% block title %}linjeforeningen for Fysikk og matematikk ved NTNU{% endblock title %}
        </title>
        <meta name="description"
              content="Hjemmesiden til linjeforeningen Nabla, for studentene på
                    fysikk og matematikk-masterprogrammet på NTNU.">
        <meta name="author" content="Nabla">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Standarised image for Facebooksharing etc -->
        {% block meta_image %}
        <meta property="og:image" content="https://nabla.no/media/thumbnails/uploads/news_pictures/forsidenyhet.png.570x200_q95_box-0%2C0%2C770%2C300_crop-smart_detail_upscale.jpg"/>
        <meta property="og:image:width" content="570"/>
        <meta property="og:image:height" content="200"/>
        {% endblock meta_image %}

        <meta property="og:url" content="https://nabla.no/">
        <meta property="og:site_name" content="Nabla"/>
        <meta property="og:title" content="Nabla - Fysikk og matematikk"/>
        <meta property="og:description" content="Hjemmesiden til linjeforeningen Nabla, for studentene på
                      fysikk og matematikk-masterprogrammet på NTNU."/>
        <meta property="og:type" content="website"/>

        <!-- Used by Google to verify that we own the domain. -->
        <meta name="google-site-verification" content="lfXfxPU7wQGV0Sd87zCnA_3v0rQlDVQdth3kH_1fzIM" />

        <!-- Bootstrap Core CSS -->
        {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/v4-shims.min.css" %}">
        <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/fontawesome.min.css" %}">
        <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/brands.min.css" %}">
        <link rel="stylesheet" href="{% static "@fortawesome/fontawesome-free/css/solid.min.css" %}">

        <link href="{% static "css/default.css" %}" rel="stylesheet">

        {% if custom_color %}
        <style>
         nav.navbar {
             background: {{ custom_color }};
         }
        </style>
        {% endif %}
        {% endaddtoblock %}
        <!-- css-block -->
        {% render_block "css" %}

        <!-- Fav and touch icons, for screen and mobile -->
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">

        {% addtoblock "js" %}
                <!-- Bootstrap 4 og popper javascript  -->
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

        <script src="{% static "js/base.js" %}"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
            });
        </script>

        {% endaddtoblock %}

        {% render_block "js-head" %}

        {% block more_head %}
        {% endblock %}


    </head>

    <body>
    {% block body%}
    <!-- Pop up window displaying important information about the 'fadderperiode' -->
    {% if newuser_popup %}
        <!-- Show the modal on page load-->
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#exampleModalLong').modal('show');
            });
        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ny student?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Nabla er linjeforeningen for alle studenter ved sivilingeniørprogrammet i fysikk og matematikk.
                            Vi har et heidundranes fadderopplegg som vi håper du vil ta del i!
                            Det er derfor veldig viktig at du trykker på knappen under og melder deg på!
                        </p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7rw05t8pVeb8MvBAW5QXTrHj2Zdr9PfSZoDGYNr380-V9oQ/viewform?usp=sf_link"
                           class="btn btn-primary btn-lg btn-block my-1"
                           style="white-space:normal">
                            Trykk her for påmelding til fadderperioden - <b>2021!</b>
                        </a>
                        <p>
                            Påmeldingen tar 10 sekunder, og vi understreker igjen at det er viktig at du gjør dette!
                            Gjør dette nå, og så kan du lese resten av informasjonen senere.
                        </p>
                        <a href="https://nabla.no/brukere/registrer/"
                           class="btn btn-warning btn-lg btn-block my-1"
                           style="white-space:normal">
                            Trykk her for å registrere deg en bruker på <b>Nabla.no</b>
                        </a>
                        <div class="list-group">
                            <a href="nystudent" class="list-group-item list-group-item-action" style="color:black">
                                Mer informasjon om fadderopplegget finner du ved å trykke her.
                            </a>
                            <a href="https://www.facebook.com/groups/938284966740165/about" class="list-group-item list-group-item-action"style="color:black">
                                Meld deg også inn i facebook-gruppen for fadderperioden 2021 ved å trykke her.
                            </a>
                            <a href="english" class="list-group-item list-group-item-action"style="color:black">
                                <b>New international student?</b> Read more about Nabla on our english pages by clicking here.
                            </a>
                        </div>
                        <br>

                        <img src="https://nabla.no/media/uploads/content/fadderuka21_juni.png" style="width: 100%;">

                        <small>
                            Grunnet nye personvernsregler i EU, GDPR, kan ikke universitetet gi ut lister over nye studenter til Nabla.
                            Derfor må du som ny student oppgi kontaktopplysninger selv.
                        </small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk </button>
                    </div>
                </div>
            </div>
        </div>
	{% endif %}

    <div  id = "content">
        <!-- Navigation -->
        <header>
            <nav class="navbar navbar-dark navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="/">
                    {% block header_logo %}
                    <img width="125" src="{% static "img/nabla_logo_white.svg" %}" alt="Nabla">
                    {% endblock header_logo %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nabla-navbar-collapse-1" aria-controls="nabla-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="nabla-navbar-collapse-1">
                {% block navbar_container %}
                {# navigasjonslenker #}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-1 ">
                        <a class="nav-link text-light" href="{% url "event_main_page" %}">Kalender</a>
                    </li>
                    <li class="nav-item mr-1 ">
                        <a class="nav-link text-light" href="{% url "jobs_list" %}">Karriere</a>
                    </li>
                    <li class="nav-item mr-1 dropdown ">
                        <a href="#ting" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdown1" role="button"  aria-haspopup="true" aria-expanded="false">
                            Nablamedia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            {# Faste lenker om Nabla #}
                            <a class="dropdown-item" href="{% url "nablad_list" %}">Nabladet</a>
                            <a class="dropdown-item" href="{% url "season_view" %}">Skråttcast</a>
                            <a class="dropdown-item" href="/referater/{% now "Y" %}">Styremøtereferater</a>
                            <a class="dropdown-item" href="{% url "albums" %}">Bildealbum</a>
                            <a class="dropdown-item" href="{% url "code_golf_menu" %}">Kodegolf</a>
                            <a class="dropdown-item" href="{% url "wiki:root" %}">NablaWiki</a>
                            <a class="dropdown-item" href="{% url "news_list" %}">Nyheter</a>
                            <a class="dropdown-item" href="{% url "blog" %}">Blogg</a>
                            <a class="dropdown-item" href="/julekalender/2020/">Julekalender 2020</a>
{% comment %}
                            <a class="dropdown-item" href="{% url "advent_calendar" "2020" %}">Julekalender 2020</a>
{% endcomment %}
                    <li class="nav-item mr-1">
                        <a class="nav-link text-light" href="{% url "om-nabla" %}">Om Nabla</a></li>
                    <li class="nav-item mr-1 dropdown ">

                        <a href="#Om" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdown2" role="button"  aria-haspopup="true" aria-expanded="false">
                            Kontakt og varsling
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="/contact/">Kontakt oss</a>
                            <a class="dropdown-item" href="/varsling/">Varsling</a>
                        </div>
                    </li>
                    <li class="nav-item mr-1 dropdown">
                        <a href="#ting" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdown5" role="button"  aria-haspopup="true" aria-expanded="false">
                            Diverse
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                            {# Lenker under Diverse #}
                            <a class="dropdown-item" href="{% url 'nablashop:index' %}">Nablashop</a>
                            <a class="dropdown-item" href="/nystudent/">For nye studenter</a>
                            <a class="dropdown-item" href="http://bokskap.nabla.no/">Bokskap</a>
                            <a class="dropdown-item" href="{% url "ex_frontpage" %}">Utveksling</a>
                            <a class="dropdown-item" href="https://drive.google.com/drive/u/0/folders/0AIfT2N9gx5wOUk9PVA">Nablabanken</a>
                        </div>
                    </li>
                </ul>
                
                {# end navigasjonslenker #}
{#                <form class="form-inline mr-5" id="searchtop" method="get" action="{% url "haystack_search" %}">#}
{#                    <input name="q" placeholder="Søk..." type="search" class="form-control mr-sm-2">#}
{#                </form>#}
                <ul class="nav navbar-nav ">
                    <li class="nav-item mr-1 ">
                        <a class="nav-link text-light" href="/search/">Søk</a>
                    </li>
                    {% if user.is_authenticated %}
                    {# bruker-dropdown #}
                    <li class="nav-item mr-1 dropdown">
                        <a href="#bruker " class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdown3" role="button"  aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-user"></span>
                            {% firstof user.get_full_name user.username %}
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="{% url "member_profile" user.username %}">Vis profil</a>
                            <a class="dropdown-item" href="{% url "edit_profile" %}">Endre profil</a>
                            <a class="dropdown-item" href="{% url "password_change" %}">Endre passord</a>
                            <a class="dropdown-item" href="{% url "view_user_events" %}">Påmeldte arrangementer</a>
                            <a class="dropdown-item" href="{% url "auth_logout" %}">Logg ut</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "forum-main" channel_id=1 thread_id=0 %}" style="color: black">Nablaforum</a>

                            <a class="dropdown-item" href="{% url "user_polls" %}">Brukeravstemninger</a>
                            <a class="dropdown-item" href="{% url "officebeer_account" %}">Office Beer</a>
                            <a class="dropdown-item" href="{% url "users_birthday" %}">Bursdag</a>
                            <a class="dropdown-item" href="{% url "quiz_list" %}">Quiz</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "user_list" %}">Medlemsliste</a>
                            {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url "admin:index" %}">Admin</a>
                            <a class="dropdown-item" href="/admin/filebrowser/browse">Filer</a>
                            {% endif %}

                            {# Kan wære den ikke denne varselimplementeringen ikke fungerer #}
                            {% load i18n sekizai_tags static %}
                                  <div class="dropdown-divider"></div>
                                  <a class=" dropdown-item" href="#"><em>{% trans "No notifications" %}</em></a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#" onclick="notify_mark_read()">
                                      <i class="fa fa-check-square-o"></i>
                                      {% trans "Clear notifications list" %}
                                  </a>
                                    <a class="dropdown-item" href="{% url 'wiki:notification_settings' %}">
                                      <i class="fa fa-wrench"></i>
                                      {% trans "Notification settings" %}
                                    </a>
                                {% addtoblock "js" %}
                                <script type="text/javascript">
                                  URL_NOTIFY_GET_NEW = "{% url "nyt:json_get" %}";
                                  URL_NOTIFY_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
                                  URL_NOTIFY_GOTO = "{% url "nyt:goto_base" %}";
                                </script>
                                {% endaddtoblock %}
    {#                               {% addtoblock "js" %}<script type="text/javascript" src="{% static "wiki/plugins/notifications/js/ui.js" %}"></script>{% endaddtoblock %}#}
                        </div>
                    </li>
                    {# end bruker-dropdown #}
                    {% else %}

                    <li class="nav-item mr-1 ">
                        <a class="nav-link text-light" href="{% url "user_registration" %}">Registrer deg</a>
                    </li>
                    <li class="nav-item mr-1 dropdown">
                        <a href="{% url "auth_login" %}?next={{ request.path }}" class="nav-link dropdown-toggle text-light" data-toggle="dropdown" id="navbarDropdown4" role="button"  aria-haspopup="true" aria-expanded="false">
                            Logg inn
                        </a>
                        <form class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown4" action="{% url "auth_login" %}" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='next' value='{{ request.path }}' />
                            <input class="form-control" type="text" placeholder="Brukernavn" name="username" />
                            <input class="form-control" type="password"  placeholder="Passord" name="password" />
                            <button class="submit btn btn-primary btn-block" type="submit">Logg inn</button>
                        </form>
                    </li>
                {% endif %}
                {% block flag %}
                    <li class="nav-item" >
                        <a class="navbar-brand " href="/english/">
                            <img width="30" src="{% static "img/GB_flag.svg" %}" alt="Eng">
                        </a>
                    </li>
                {% endblock %}
                </ul>
                {% endblock navbar_container %}
            </div>
            <!-- /.navbar-collapse -->
            </nav>

        </header>
        <!-- Hvis du ikke har med full-body vil ikke footer alltid være på bunnen -->
        <div id="full-body">
        <!-- Page Content -->

        {% block full-content-body %}
        <div class="container" id = "mainContent">
        {% bootstrap_messages %}

        {% block main-blank %}
        <style>
            #mainContent {
                padding: 1rem;
                background-color: var(--white);
                border-left-style: solid;
                border-left-width: thin;
                border-left-color: lightgray;
                border-right-style: solid;
                border-right-width: thin;
                border-right-color: lightgray;
            }
        </style>

        {% block main %}
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-lg-8">
            {% block content %}{% endblock content %}
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-lg-4">
            {% block sidebar %}
            {% endblock sidebar %}
            </div>
        </div>
        <!-- /.row -->
        {% endblock main %}

        {% endblock main-blank %}

        </div> <!-- id="mainContent" -->
        {% endblock full-content-body %}

        </div>
        <!-- Footer -->
        <footer class="nabla-footer" >

            <div class="container">
            <div class="row pb-4">

                {# kontakt #}

                {# end kontakt #}

                {# om nabla #}
                <div class="col-lg-3 ">
                <h2>Informasjon</h2>
{#                   <p >Se <a href="/contact/">kontaktsiden</a></p>#}

                <p>
                Organisasjonsnr.: <span class="float-right">992168544</span><br />
                Hovedkonto: <span class="float-right">1503.13.57338</span><br />
                Arrkomkonto: <span class="float-right">1503.13.57400</span><br />
                ProKom-konto: <span class="float-right">1503.13.57338</span><br />
                Gravitoneskonto: <span class="float-right">1503.65.97965</span><br />
                </p>


                </div>
                 <div class="col-lg-3 text-center ">
                    <h2>Kontakt</h2>
{#                        <a class="email" href="mailto:nabla@nabla.no">nabla@nabla.no</a>#}
                        <p > <a href="/contact/">Kontaktside</a> <br>
                        Nabla <br>
                        NV-Fakultetet, Realfagsbygget <br>
                        Høgskoleringen 5, NTNU <br>
                        7034 Trondheim <br>
                        Norway
                    </p>
                </div>

                <div class="col-lg-3 ">

                <h2>Tilbakemelding</h2>
                    <p>
                    Har du funnet en feil, får du ikke logget på, eller er det noe som burde forbedres? <br>
                    Fyll ut <a href="/contact/feedback/">tilbakemeldingskjema</a> eller kontakt webkom:<br>
                    <a class="email" href="mailto:webkom@nabla.no">webkom@nabla.no</a>
                    </p>
                </div>

                {# end om nabla #}

                {# nablalogo #}
                <div class="col-lg-3 center" id="nablafooter">
                    <img src="{% static "img/nabla-white.svg" %}" alt="nabla logo">
                    <br />
                    <br />
                    <a href="https://www.facebook.com/nablantnu/" class="fab fa-facebook-f fa-2x social-icon"></a>
                    <a href="https://www.youtube.com/user/LinjeforeningenNabla" class="fab fa-youtube fa-2x social-icon"></a>
                    <a href="https://www.instagram.com/nablalinjeforening/" class="fab fa-instagram fa-2x social-icon"></a>
                    <a href="https://nablantnu.slack.com/" class="fab fa-slack fa-2x social-icon"></a>
                    <a href="https://github.com/Nabla-NTNU/nablaweb" class="fab fa-github fa-2x social-icon"></a>
                    <a href="https://nabla.no/media/uploads/content/snapcode.png" class="fab fa-snapchat fa-2x social-icon"></a>
                </div>
            </div>
            </div>
        </footer>
        <!-- /.container -->
    </div>
    {% endblock body%}
    </body>
    {% render_block "js" %}
</html>


{# Obligatory jQuery #}
{% addtoblock "js-head" %}
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
{% endaddtoblock %}
