{% comment %}
The navigation bar of nabla.no.
It is meant to be included in base.html.
{% endcomment %}
{% load flatpages %}
{% load static %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="logo pull-left" href="/">
            {% block header_logo %}
            <img src="{% static "img/nabla_logo_white.png" %}" alt="Nabla">
            {% endblock header_logo %}
        </a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {# navigasjonslenker #}
                <ul class="nav navbar-nav">
                    <li><a href="/">Hjem</a></li>
                    <li><a href="{% url "event_list" %}">Arrangementer</a></li>
                    <li><a href="{% url "jobs_list" %}">Karriere</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Wiki
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="{% url "wiki:root" %}">Internwiki</a></li>
                            <li><a href="{% url "ex_list" %}">Utveksling</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#ting" class="dropdown-toggle" data-toggle="dropdown">
                            Nablamedia
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            {# Faste lenker om Nabla #}
                            <li><a href="{% url "nablad_list" %}">Nabladet</a></li>
                            <li><a href="{% url "season_view" %}">Skråttcast</a></li>
                            <li><a href="{% url "meeting_record_list" %}">Styremøtereferater</a></li>
                            <li><a href="{% url "albums" %}">Bilder</a></li>
                            <li><a href="{% url "blog" %}">Blogg</a></li>
                            <li><a href="{% url "advent_calendar" "2017" %}">Julekalender 2017</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#om" class="dropdown-toggle" data-toggle="dropdown">
                            Om Nabla
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <a href="{% url "committee_overview" %}" >
                                    Undergrupper
                                </a>
                            </li>
                            <li><a href="{% url 'show_com_page' slug="styret"%}">Styret</a></li>
                            <li><a href="{% url 'nablashop:index' %}" >Nablashop</a></li>
                            {# Hent alle sider som starter på /om/ #}
                            {% get_flatpages '/om/' as about_pages %}
                            {% for page in about_pages %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {# end navigasjonslenker #}
            <form class="form-inline" id="searchtop" method="get" action="{% url "haystack_search" %}">
                <div class="input-group">
                    <input name="q" placeholder="Søk..." type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {# bruker-dropdown #}
                    <li class="dropdown">
                        <a href="#bruker" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {% firstof user.get_full_name user.username %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "member_profile" user.username %}">Vis profil</a></li>
                            <li><a href="{% url "edit_profile" %}">Endre profil</a></li>
                            <li><a href="{% url "password_change" %}">Endre passord</a></li>
                            <li><a href="{% url "view_user_events" %}">Påmeldte arrangementer</a></li>
                            <li><a href="{% url "auth_logout" %}">Logg ut</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "user_polls" %}">Brukeravstemninger</a></li>
                            <li><a href="{% url "users_birthday" %}">Bursdag</a></li>
                            <li><a href="{% url "quiz_list" %}">Quiz</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "user_list" %}">Medlemsliste</a></li>
                            {% if user.is_staff %}
                                <li><a href="{% url "admin:index" %}">Admin</a></li>
                                <li><a href="/admin/filebrowser/browse">Filer</a></li>
                            {% endif %}
                            {% include "wiki/plugins/notifications/menubaritem.html" %}
                        </ul>
                    </li>
                    {# end bruker-dropdown #}
                {% else %}
                    <li><a href="{% url "user_registration" %}">Registrer deg</a></li>
                    <li class="dropdown">
                        <a href="{% url "auth_login" %}?next={{ request.path }}" class="dropdown-toggle" data-toggle="dropdown">
                            Logg inn
                            <span class="caret"></span>
                        </a>
                        <form class="dropdown-menu" action="{% url "auth_login" %}" method="post">
                            {% csrf_token %}
                            <input type='hidden' name='next' value='{{ request.path }}' />
                            <input class="form-control" type="text" placeholder="Brukernavn" name="username" />
                            <input class="form-control" type="password"  placeholder="Passord" name="password" />
                            <button class="submit btn btn-primary btn-block" type="submit">Logg inn</button>
                        </form>
                    </li>
                {% endif %}
                {% block flag %}
                    <li>
                        <a class="logo" href="/english/">
                            <img src="{% static "img/GB_flag.png" %}" alt="Eng">
                        </a>
                    </li>
                {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
</header>
