{% extends "base.html" %}
{% load markdown %}
{% load listutil %}
{% load thumbnail %}
{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block content %}
<h3>Nyheter</h3>
{% for row in news_list|row_split:2 %}

<div class="row">
{% for news in row %}
<article class="col-md-6">
    <div class="box {{ news.content_type.model }}">
    {% if news.as_child_class.correct_cropping and news.as_child_class.correct_picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt="" class="news-picture" src="{% thumbnail news.as_child_class.correct_picture 360x200 box=news.as_child_class.correct_cropping upscale quality=95 detail %}">
        </a>
    {% elif news.as_child_class.correct_picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt="" class="news-picture" src="{% thumbnail news.as_child_class.correct_picture 360x200 quality=95 upscale crop="smart" detail %}">
        </a>
    {% endif %}
    <header>
    <h2>
        <a href="{{ news.get_absolute_url }}">{{ news.headline }}</a>
    </h2>
    </header>
    <p>{{ news.lead_paragraph}}</p>
    </div>
</article>
{% endfor %}
</div>

{% endfor %}
<div class="row">
    <div class="col-md-6">
        <h3>Arrangementer</h3>
        {% include "includes/upcoming_events.html" with upcomming=upcomming_events class="c-event" %}
    </div>
    <div class="col-md-6">
        <h3>Bedpres</h3>
        {% include "includes/upcoming_events.html" with upcomming=upcomming_bedpreses class="c-bedpres"%}
    </div>
</div>

<h3>Siste Nablad</h3>
<div class="row">
    {% for nablad in new_nablad %}
            <div class="col-md-3">
                <a class="thumbnail" href="{{ nablad.get_absolute_url }}">
                    <img src="{% thumbnail nablad.thumbnail 280x400 %}">
                </a>
            </div>
    {% endfor %}
</div>

{% endblock content %}


{% block sidebar %}
    {% if sidebarinfo %}
        <h2>{{ sidebarinfo.title }}</h2>
        <p>
            {{ sidebarinfo.content | markdown:"unsafe" }}
        </p>
    {% endif %}
    {% include "poll/poll_include.html" %}

    <h2>Nyeste Skråttcast</h2>
    {% if new_podcast %}
        <a href="{{ new_podcast.get_absolute_url }}">
          {% if new_podcast.image %}
          <img src="{{ new_podcast.image.url }}" alt="{{ new_podcast.title }}" style="max-width: 100%;"/>
          {% endif %}
        </a>
          <p><i>Dato: {{ new_podcast.pub_date | date:"d.m.Y" }}. Antall visninger: ca. {{ new_podcast.view_counter }}</i></p>
    {% endif %}

{% endblock sidebar %}

