{% extends "base.html" %}
{% load markdown %}
{% load listutil %}
{% load easy_thumbnails %}
{% load hitcount_tags %}
{% load static %}
{% load sekizai_tags %}

{% block more_head %}
<link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS feed">
{% endblock %}

{% block main %}
{% addtoblock "css" %}
    <link  rel="stylesheet" href="{% static "css/front_page.css" %}">
{% endaddtoblock %}

<div class="maingrid-container{% if not newuser_message %}-authenticated{% endif  %}"><!--main grid container open tag-->
<!--main content begin-->

    <article class="main-article box {{ news.content_type.model }}">
        <!--main article-->
        {% with main_news as news %}
        {% if news.cropping and news.picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt="" class="img-fluid"
                 src="{% thumbnail news.picture 760x300 box=news.cropping upscale=True quality=95 detail=True %}" height="100%" width="100%">
        </a>
        {% elif news.picture %}
        <a href="{{ news.get_absolute_url }}">
            <img alt="" class="img-fluid"
                 src="{% thumbnail news.picture 760x300 quality=95 upscale=True crop="smart" detail=True %}" height="100%" width="100%">
        </a>
        {% endif %}
        <header>
            <h2>
                <a href="{{ news.get_absolute_url }}">{{ news.headline }}</a>
            </h2>
        </header>
        <p>{{ news.lead_paragraph}}</p>
        {% endwith %}
    </article>

    <div class="upcoming-events card card-body card-body-overline bg-light">
        <!--upcoming event widget-->
        {% include "includes/event_widget.html" %}
    </div>

    <!-- Front page news -->
    {% for news in news_list %}
    {% include "includes/article_widget.html" with number=forloop.counter margin="mb-0" %}
    {% endfor %}{# news_list #}

    <button onclick="location.href='{% url "news_list" %}'" type="button" class="more-news-btn btn btn-outline-secondary btn-block">Flere nyheter</button>

    <div class="latest-nablad card card-body card-body-overline bg-light">
        <!--Siste Nablad-->
        {% if new_nablad %}
            <div height=300px>
                <h3><a href="{% url "nablad_list" %}">Siste Nablad</a></h3>
                <div class="row text-center">
                    {% for nablad in new_nablad %}
                        <div class="col-md-3{% if not forloop.first %} d-none d-md-block {% endif %}">
                            <a class="thumbnail" href="{{ nablad.get_absolute_url }}">
                                <img class="rounded mw-100" src="{% thumbnail nablad.thumbnail 730x200 %}">
                            </a>
                        </div >
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h1>Siste utgave av Nabladet</h1>
            <h4>...vil dukke opp her når det kommer!</h4>
        {% endif %}
    </div>

    <div class="sponsors">
        <!--Sponsorer-->
        {% if frontpageinfo %}
            <p>
                {{ frontpageinfo.content | markdown:"unsafe" }}
            </p>
        {% endif %}
    </div>
<!--main content-->

<!--Sidebar begin-->
    {% if newuser_message %}
    <div class="welcome card card-body card-body-overline bg-light">
        <h1>Velkommen til Nabla</h1>
        <p>
            Nabla er linjeforeningen for studenter ved sivilingeniørstudiet Fysikk og Matematikk ved NTNU, og har 
            som formål å være en sosial arena, i tillegg til å fremme studentenes faglige interesser. Gjennom året
            arrangerer Nabla et mangfold av ulike arrangementer, og har 25 ulike undergrupper som studentene kan
            engasjere seg i.
        </p>
        <h4>Ny student?</h4>
        <p>
            Les vår informasjon for nye studenter <a href="/nystudent/">her.</a>
        </p>
        <h4>Bedrift?</h4>
        <p>
            Ta kontakt med bedriftskontakten på <a href="mailto:bedkom@nabla.ntnu.no">bedkom@nabla.ntnu.no.</a>
        </p>
    </div>
    {% else %}
        {% include "nablaforum/includes/forum_widget.html" %}
    {% endif  %}
    <div class="office">
        <!--Kontoret-->
        {% include "officeCalendar/includes/list.html" %}
    </div>

    <div class="poll ">
        <!--Poll-->
        {% include "poll/poll_include.html" %}
    </div>

    <div class="latest-podcast card card-body card-body-overline bg-light ">
        <!--Siste Skråttcast-->
        {% if new_podcast %}
            <div height=300px>
                <h3><a href="{{new_podcast.get_absolute_url }}">Siste Skråttcast</a></h3>
                <a class="thumbnail" href="{{ new_podcast.get_absolute_url }}">
                     <img class="rounded mw-100" src="{{ new_podcast.image.url }}" alt="{{ new_podcast.title }}" style="max-width: 100%;"/>
                </a>
            </div>
        {% else %}
            <h1>Siste Skråttcast</h1>
            <h4>...vil dukke opp her når den kommer!</h4>
        {% endif %}
    </div>

    <div class="suggestions">
        <!--Send inn ellernoe?-->
        {% if sidebarinfo %}
            <p>
                {{ sidebarinfo.content | markdown:"unsafe" }}
            </p>
        {% endif %}
    </div>
<!--sidebar end-->

</div><!--main grid container close tag-->
{% endblock main %}





