{% extends "base.html" %}
{% load sekizai_tags %}
{% load static %}

{% block full-content-body %}

{% addtoblock "css" %}
    <link  rel="stylesheet" href="{% static "nablaforum/forum.css" %}">
{% endaddtoblock %}

<div class="main-container">
    <header>
        <div>
            <h1>Nablaforum</h1>
        </div>

        <div>
            <h1>{{ chosen_channel }}</h1>
            <p>{{ chosen_channel.description }}</p>
        </div>

        <div>
            {% if chosen_thread %}
                <h1>{{ chosen_thread }}</h1>
            {% else %}
                <h1>Valgt tråd</h1>
            {% endif %}
        </div>
    </header>

    <div class="main-grid">
        <div class="grid-item channel-menu">

            <a href={% url "browse-channels" %}><button>Finn nye kanaler</button></a>
            <a href="{% url "create-channel" %}"><button>Opprett en ny kanal</button></a>

            <h4> "Feeds" </h4> 
            {% for channel in feeds %}
                <a href="{% url "forum-main" channel_id=channel.pk thread_id=0 %}">
                {% include "nablaforum/includes/tiles.html" with object=channel thread_id=1nel %}
                </a>
            {% endfor %}

            <h4>Kullgruppe</h4>
            {% for channel in class_channel %}
                <a href="{% url "forum-main" channel_id=channel.pk thread_id=0 %}">
                {% include "nablaforum/includes/tiles.html" with object=channel %}
                </a>
            {% endfor %}

            <h4> Gruppekanaler </h4> 
            {% for channel in group_channels %}
                <a href="{% url "forum-main" channel_id=channel.pk thread_id=0 %}">
                {% include "nablaforum/includes/tiles.html" with object=channel %}
                </a>
            {% endfor %}

            <h4> Ordinære kanaler </h4> 
            {% for channel in common_channels %}
                <a href="{% url "forum-main" channel_id=channel.pk thread_id=0 %}">
                {% include "nablaforum/includes/tiles.html" with object=channel %}
                </a>
            {% endfor %}

        </div>


        <div class="grid-item channel-threads" id="viewed-threads">
            {% if is_paginated %}
                <span class="current">
                    side {{ threads.number }} av {{ threads.paginator.num_pages }}
                </span>
            {% endif %}
            <br>

            {% if threads.has_next %}
                <a href="?page={{ threads.next_page_number }}">Hent eldre</a>
            {% endif %}

            {% if threads %}
                {% for thread in threads reversed %}
                    <a href="{% url "forum-main" channel_id=chosen_channel_id thread_id=thread.pk %}?page={{ threads.number }}">
                    {% include "nablaforum/includes/tiles.html" with object=thread %}
                    </a>
                {% endfor %}
            {% else %}
                <div class="well">
                    <h1>Opprett en tråd!</h1>
                </div>
            {% endif %}

            {% if threads.has_previous %}
                <a href="?page={{ threads.previous_page_number }}">Hent nyere</a>
            {% endif %}

            
             
            {% if not chosen_channel.is_feed %}
            <form method="POST">
                {% csrf_token %}
                <h4>Ny tråd:</h4>
            
                {{ thread_form.as_p }}
                <button type="submit">Opprett en ny tråd</button>
            </form>
            {% endif %}
        </div>


        <div class="grid-item thread-messages">
            <style>
                 .thread{
                     list-style: none;
                     padding: 10px;
                 }
             </style>
             
             {% if chosen_thread %} 

             
             <h4>{{ chosen_thread.threadstarter.get_full_name }} skriver:</h4>
             <div class="des">
                 {{ chosen_thread.text }}
                 <br>
                 <br>
                 <div style="text-align: right; margin-bottom: 5px">{{ chosen_thread.created }}</div>
                 <div style="text-align: right;" onclick="show_readers()" id="toggle_seen">Trykk for å vise seere</div>
                 <div id="readers" style="display: none">
                     {% for read in first_message.read_by_user.all %}
                     {{ read.get_full_name }}
                     {% endfor %}
                 </div>
             </div>
             
             {% for message in messages %}
                 <div class="well">
                     <h4>{{ message.user.get_full_name }}</h4>
                     <p>{{ message.message }}</p>
                     <div style="text-align: right;">{{ message.created }}</div>
                 </div>
             {% endfor %}
             
             <h4>Ny medling:</h4>
             <form method="POST">
                 {% csrf_token %}
                 {{ message_form.as_p }}
                 <button type="submit">send</button>
             </form>
             {% else %}
             <div class="well">
                <h1>Trykk på en tråd for å lese meldinger</h1>
             </div>
             {% endif %}
        </div>
    </div>
</div>

<script>
    var d = $('#viewed-threads');
    d.scrollTop(d.prop("scrollHeight"));

    function show_readers() {
        var readers = document.getElementById("readers");
        var toggle = document.getElementById("toggle_seen");
        if (readers.style.display == "none") {
            readers.style.display = "block"
            toggle_seen.innerHTML = "Trykk for å skjule seere"
        }
        else {
            readers.style.display = "none";
            toggle_seen.innerHTML = "Trykk for å hvise seere"
        }
    }
</script>

{% endblock full-content-body %}



