{% extends "base.html" %}
{% load sekizai_tags %}
{% load static %}

{% block main %}

{% addtoblock "css" %}
    <link  rel="stylesheet" href="{% static "nablaforum/forum.css" %}">
{% endaddtoblock %}


<h1>Nablaforum</h1>

<h4>Velkommen til Nablas interforum! Nedenfor finner du kanalene du med i. Det er kanaler tilhørende dine grupper, felleskanaler, samt kullgruppe og "feeds".</h4>

<a href={% url "browse-channels" %}><button style="font-size: 20px">Finn nye kanaler</button></a>

{# List all channels in the different types of channels #}
{% for channel_type, channel_list in channel_types.items %}
<h4>{{ channel_type }}</h4>
{% for channel in channel_list %}
    <a href="{% url "channel-index" channel_id=channel.pk %}">
    {% include "nablaforum/includes/tiles.html" with object=channel %}
    </a>
{% endfor %}
{% endfor %}


<h4>Opprett en ny kanal:</h4>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Opprett ny kanal</button>
</form>


{% if is_paginated %}
    <span class="step-links">
        {% if channels.has_previous %}
            <a href="?page={{ channels.previous_page_number }}">forrige</a>
        {% endif %}
        <span class="current">
            side {{ channels.number }} av {{ channels.paginator.num_pages }}
        </span>
        {% if channels.has_next %}
            <a href="?page={{ channels.next_page_number }}">neste</a>
        {% endif %}
    </span>
{% endif %}

{% endblock main %}
