{% extends "base.html" %}


{% block main %}

<style>
    .thread{
        list-style: none;
        padding: 10px;
    }
</style>


<h1>Dine kanaler:</h1>

<ul>
{% for channel in channels %}
    <a href="{% url "channel-index" channel_id=channel.pk %}"><li class="thread box"><h4>{{ channel.name }}</h4></li></a>
{% endfor %}
</ul>

<h4>Opprett en ny kanal:</h4>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Opprett ny kanal</button>
</form>

{% if is_paginated %}
    <span class="step-links">
        {% if channels.has_previous %}
            <a href="?page={{ channels.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ channels.number }} of {{ channels.paginator.num_pages }}.
        </span>

        {% if channels.has_next %}
            <a href="?page={{ channels.next_page_number }}">next</a>
        {% endif %}
    </span>

{% endif %}

{% endblock main %}
