{% extends "base.html" %}


{% block main %}

<style>
    .thread{
        list-style: none;
        padding: 10px;
    }
</style>


<h1>Tittel: {{ thread }}</h1>
<a href={% url "channel-index" channel_id=channel_id %}>Tilbake til kanal</a>

<h4>{{ thread.threadstarter }} skriver:</h4>
<p>{{ thread.text }}</p>

{% for message in thread_messages %}
    <div class="well">
        <h4>{{ message.user }}</h4>
        <p>{{ message.message }}</p>
    </div>
{% endfor %}

<h4>Ny medling:</h4>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">send</button>
</form>


{% if is_paginated %}
    <span class="step-links">
        {% if thread_messages.has_previous %}
            <a href="?page={{ thread_messages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ thread_messages.number }} of {{ thread_messages.paginator.num_pages }}.
        </span>

        {% if thread_messages.has_next %}
            <a href="?page={{ thread_messages.next_page_number }}">next</a>
        {% endif %}
    </span>

{% endif %}


{% endblock main %}
