{% extends "base.html" %}

{% block title %}{{ event.headline }}{% endblock %}

{% block content %}

{% include "news/includes/text_content.html" with news=event%}

{# Vis påmeldte #}
{% if user.is_authenticated %}
    {% if event.eventregistration_set.all %}
        <h3>Påmeldte</h3>
    {% endif %}
    <div class="registrations">
        {% for registration in event.eventregistration_set.all %}
        {% with user=registration.user %}
        <span class="label label-default
            {% if registration.waiting %} 
                waiting-place
            {% endif %}" style="display: inline-block;">

            {% if user.get_full_name %}
                 {{ user.get_full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </span>
        {% endwith %}
        {% endfor %}
    </div>
{% endif %}

{% include "content/includes/comments.html" with content=event %}

{% endblock %}


{% block sidebar %}

{% include "events/includes/info.html" with event=event %}
{% include "content/includes/meta.html" with content=event %}
{% include "events/includes/sidebar-admin.html" %}

{% endblock %}
