{% if form.errors %}
<p>
  Vennligst rett opp i feilene under.
</p>
{% endif %}

<p>
<form action="" method="post">{% csrf_token %}
  <input type="hidden" name="event_type" value="{{ event_type }}">
  <div class="field">
    {{ form.title.errors }}
    <label for="id_title">Tittel:</label>
    {{ form.title }}
  </div>
  <div class="field">
    {{ form.summary.errors }}
    <label for="id_summary">Ingress:</label>
    {{ form.summary }}
  </div>
  <div class="field">
    {{ form.body.errors }}
    <label for="id_body">Brodtekst:</Label>
    {{ form.body }}
  </div>
  <div class="field">
    {{ form.location.errors }}
    <label for="id_location">Sted:</label>
    {{ form.location }}
  </div>
  <div class="field">
    {{ form.event_start.errors }}
    <label for="id_event_start">Start:</label>
    {{ form.event_start }}
  </div>
  <div class="field">
    {{ form.event_end.errors }}
    <label for="id_event_end">Slutt:</label>
    {{ form.event_end }}
  </div>
  {% if options.alternative_id %}
  <div class="field">
    {{ form.alternative_id.errors }}
    <label for="id_alternative_id">Alternativ id:</label>
    {{ form.alternative_id }}
  </div>
  {% endif %}
  {% if options.registration %}
  <div class="field">
    {{ form.places.errors }}
    <label for="id_places">Plasser:</label>
    {{ form.places }}
  </div>
  <div class="field">
    {{ form.has_registration_deadline.errors }}
    <label for="id_has_registration_deadline">Registreringsfrist:</label>
    {{ form.has_registration_deadline }}
  </div>
  <div class="field">
    {{ form.registration_deadline.errors }}
    <label for="id_registration_deadline">Frist:</label>
    {{ form.registration_deadline }}
  </div>
  <div class="field">
    {{ form.allow_deregistration.errors }}
    <label for="id_allow_deregistration">Tillat avmelding:</label>
    {{ form.allow_deregistration }}
  </div>
  <div class="field">
    {{ form.deregistration_deadline.errors }}
    <label for="id_deregistration_deadline">Avmeldingsfrist:</label>
    {{ form.deregistration_deadline }}
  </div>
  {% endif %}
  {% if options.FOO %}
  <div class="field">
    {{ form.FOO.errors }}
    <label for="id_FOO">FOO:</label>
    {{ form.FOO }}
  </div>
  {% endif %}
  <input type="submit" value="Opprett">
</form>
</p>
