{% extends "innhold/create_content.html" %}

{% block title %}Nytt arrangement{% endblock %}

{% block form_fields %}
  <div class="field">
    {{ form.alternative_id.errors }}
    <label for="id_alternative_id">Alternativ id:</label>
    {{ form.alternative_id }}
  </div>

  <div class="field">
    {{ form.location.errors }}
    <label for="id_location">Sted:</label>
    {{ form.location }}
  </div>
  <div class="field">
    {{ form.event_start.errors }}
    <label for="id_event_start">Start:</label>
    {{ form.event_start }}
  </div>
  <div class="field">
    {{ form.event_end.errors }}
    <label for="id_event_end">Slutt:</label>
    {{ form.event_end }}
  </div>

  <div class="field">
    {{ form.places.errors }}
    <label for="id_places">Plasser:</label>
    {{ form.places }}
  </div>
  <div class="field">
    {{ form.has_registration_deadline.errors }}
    <label for="id_has_registration_deadline">Registreringsfrist:</label>
    {{ form.has_registration_deadline }}
  </div>
  <div class="field">
    {{ form.registration_deadline.errors }}
    <label for="id_registration_deadline">Frist:</label>
    {{ form.registration_deadline }}
  </div>
  <div class="field">
    {{ form.allow_deregistration.errors }}
    <label for="id_allow_deregistration">Tillat avmelding:</label>
    {{ form.allow_deregistration }}
  </div>
  <div class="field">
    {{ form.deregistration_deadline.errors }}
    <label for="id_deregistration_deadline">Avmeldingsfrist:</label>
    {{ form.deregistration_deadline }}
  </div>
  <div class="field">
    {{ form.has_queue.errors }}
    <label for="id_has_queue">Venteliste:</label>
    {{ form.has_queue }}
  </div>


{% endblock %}
