{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Remove a comment" %}{% endblock %}

{% block content %}
<h2>{% trans "Really remove this comment?" %}</h2>
  <blockquote>{{ comment|linebreaks }}</blockquote>
  <form action="." method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ comment.content_object.get_absolute_url }}">
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
    <p class="submit">
    <input type="submit" name="submit" value="{% trans "Remove" %}" /> eller <a href="{{ comment.get_absolute_url }}">Avbryt</a>
    </p>
  </form>
{% endblock %}
