{% extends "comments/base.html" %}
{% load i18n %}
{% load easy_thumbnails %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    <h2>{% trans "Forhåndsvisning av kommentar" %}</h2>
    {% if form.errors %} 
        <h3>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
        {% for field in form %}
          {% if field.is_hidden %}
            <div>{{ field }}</div>
          {% else %}
            {% if field.errors %}
            <p  {% if field.errors %} class="error"{% endif %}
                    {% if field.name == "honeypot" %} style="display:none;"{% endif %}>
              {{ field.label_tag }}
              {{ field.errors }}
            </p>
            {% endif %}
      {% endif %}
    {% endfor %}
    {% else %}
    <br>
    {%  include "comments/comment_line.html" with is_preview=True comment_content=form.data.comment %}
    {% endif %}

    {% include "comments/form.html" %}
{% endblock %}
