{% extends "apply_committee/application_list.html" %}

{% block warning %}
<b>NB! Du er nå i gruppeledermodus. Det vil si at du kan se anonyme søknader.<br />
    With great power comes great responsiblity!</b>
<div><a href="nabla.no/application/list/admin/export.csv"><button class="csv">Eksporter til regneark</button></a></div>
{% endblock warning %}

{% block com_mail_list %}
<textarea rows="3" readonly>{{ committee.get_mailinglist }}</textarea>
{% endblock %}

{% block applicant_info %}
<style>
 .application_text {

     margin-left: 10px;
     border-left: 4px solid #989898;
     padding-left: 3px;
 }
</style>
<tr>
    <td>{{ application.applicant.get_full_name }} ({{ application.applicant.get_class_number }}. klasse){% if application.anonymous %} <i>(Anonym søknad)</i>{% endif %}</td>
    <td>{{ application.applicant.email }} </td>
    <td>;Prioritet: {{ application.priority }}</td>
    <td>
        {% if application.application_text %}<div class="application_text">{{ application.application_text }}</div>{% endif %}
    </td>
</tr>
{% endblock %}
