{% extends "base.html" %}

{% block main %}
{% block warning %}{% endblock warning %}
<h1>Liste over søknader for søknadsrunde {{ application_round.name }}</h1><hr />
{% for committee, applications in application_list.items %}
<h2>{{ committee.name }}</h2>
{% block com_mail_list %}{% endblock %}
<ul>
    {% for application in applications %}
    {% block applicant_info %}
    <li>{% if application.anonymous %} Anonym {% else %} {{ application.applicant.get_full_name }}{% endif %}</li>
    {% endblock %}
    {% endfor %}
</ul>
<hr />
{% endfor %}
{% endblock %}
