{% extends "base.html" %}

{% block main %}
<h1>Liste over søknader for søknadsrunde {{ application_round.name }}</h1><hr />
<ul>
    {% for application in application_list %}
    {% with applicant=application.applicant %}
    {% ifchanged application.committee %}
    <h2>{{ application.committee.name }} {{ cycle }}</h2>
    <hr />
    {% endifchanged %}

    <li>{% if application.anonymous %} Anonym {% else %} {{ applicant.get_full_name }}{% endif %}</li>
    {% endwith %}
    {% endfor %}
</ul>
{% endblock %}
