{% extends "base.html"%}

{% block content %}
<h1>{{ object.title }}</h1>
<h4>
    Status: 
    {% if object.is_active %}
        Aktiv - Åpen for stemming
    {% else %}
        Inaktiv - Stengt for stemming
    {% endif %}
</h4>
{% if object.is_active %}
    <a href="{% url "deactivate-votation" pk=object.pk %}">Deaktiver avstemningen</a>
{% else %}
    <a href="{% url "activate-votation" pk=object.pk %}">Aktiver avstemningen</a>
{% endif %}
<p>{{ object.description }}</p>
{% for alternative in object.alternatives.all %}
<p>{{ alternative }}, votes: {{ alternative.votes }}, andel: {{ alternative.get_vote_percentage }}%</p>
{% endfor %}
<a href="{% url "votation-list" %}">Tilbake til liste over avstemninger</a>
{% endblock %}

