{% extends "base.html"%}
{% load markdown %}

{% block main %}
<h1>{{ object.title }}</h1>
<h4>
    Status: 
    {% if object.is_active %}
        Aktiv - Åpen for stemming
    {% else %}
        Inaktiv - Stengt for stemming
    {% endif %}
</h4>
{% if is_admin %}
    {% if object.is_active %}
        <a href="{% url "deactivate-voting" pk=object.pk redirect_to=request.path %}">Deaktiver avstemningen</a>
    {% else %}
        <a href="{% url "activate-voting" pk=object.pk redirect_to=request.path %}">Aktiver avstemningen</a>
    {% endif %}
{% endif %}
<p>{{ object.description|markdown }}</p>
<b>Totalt antall stemmer: {{ object.get_total_votes }}</b>
{% for alternative in object.alternatives.all %}
    {% if object.num_winners > 1 %}
        <h2>{{ alternative }}</h2>
        {% for entry in alternative.priority_dict.entries.all %}
        {{ entry.priority }} : {{ entry.count }} <br>
        {% endfor %}
    {% else %}
        <p>{{ alternative }}, votes: {{ alternative.votes }}, andel: {{ alternative.get_vote_percentage }}%</p>
    {% endif %}
{% endfor %}
{% if is_admin %}
    <a href="{% url "voting-edit" pk=object.pk %}"><i class="fas fa-pencil-alt"></i> Endre avstemning</a><br>
{% endif %}
<a href="{% url "voting-list" pk=object.event.pk %}"><i class="fas fa-arrow-left"></i> Tilbake til liste over avstemninger</a>

<h4> Brukere som har stemt </h4>
<ul>
{% for user in object.users_voted.all %}
    <li>{{ user.get_full_name }}</li>
{% endfor %}
</ul>
{% endblock %}
