{% extends "base.html"%}
{% load markdown %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description|markdown }}</p>

{% if not has_voted %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% firstof next request.path %}#{{ object.pk }}">
    {% if object.num_winners > 1 %}
        <h1>TODO: JS magic to hide already selected alternatives</h1>
        {% for priority in priorities %}
        <h3>Prioritet nr {{ priority }}:</h3>
            {% for alternative in object.alternatives.all %}
                <div class="radio">
                    <label>
                        <input type="radio" name="priority{{priority}}" value="{{ alternative.pk }}">
                        <span class="alternative">{{ alternative.text }}</span>
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for alternative in randomized_alternatives %}
            <div class="radio">
                <label>
                    <input type="radio" name="alternative" value="{{ alternative.pk }}">
                    <span class="alternative">{{ alternative.text }}</span>
                </label>
            </div>
        {% endfor %}
    {% endif  %}
    <button class="btn btn-primary btn-block" type="submit">Stem</button>
</form>
{% else %}
<p class="alert alert-warning">Du har allerede stemt!</p>
{% endif %}

<a href="{% url "active-voting-list" %}"><i class="fas fa-arrow-left"></i> Tilbake til liste over aktive avstemninger</a>
{% endblock %}
