{% extends "base.html"%}

{% block content %}
<h1>Avstemninger</h1>
<a href="{% url "voting-event-list" %}">Tilbake til avstemningsarrangementer<a>
<br>
<a href="{% url "create-voting" pk=object.pk %}">Opprett ny avstemning<a>
    <table>
        {% for vote in object.votings.all %}
        <tr>
            <td>
                {% if vote.is_active %}
                <i class="text-success fas fa-toggle-on"></i>
                {% else %}
                <i class="text-danger fas fa-toggle-off"></i>
                {% endif %}
            </td>
            <td><a href="{% url "voting-detail" pk=vote.pk %}">{{ vote.title }}<a></td>
            <td>
                {% if vote.is_active %}
                <a href="{% url "deactivate-voting" pk=vote.pk redirect_to=request.path %}">(Deaktiver)</a>
                {% else %}
                <a href="{% url "activate-voting" pk=vote.pk redirect_to=request.path %}">(Aktiver)</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

