{% extends "base.html" %}
{% load mediawiki_links %}
{% load markup %}
{% load thumbnail %}
{% block title %}{{ com.com.name }}{% endblock %}

{% block content %}
<h2>{{ com.com.name }}</h2>
<p>{{ com.description|markdown|wikilinks}}</p>

<br>

{# List of memberships #}
{% for membership in members %}

<div class="row">
    {# Avatar #}
    <div class="span2"> 
        <div class="thumbnail">

              {% if membership.user.userprofile.avatar %}
              <img alt="avatar" src="{% thumbnail membership.user.userprofile.avatar 150x150 %}" width="150" height="150" >
              {% else %}
              <img alt="avatar" src="{{ STATIC_URL }}img/default_avatar.png" width="150" height="150" >
              {%endif %}

              <p class="center">
                  <b>Medlem siden</b>:
                  <span class="label label-info">{{ membership.joined_date|date:"d. F Y" }}</span>
              </p>
        </div>
    </div>
    
    {# Navn og story #}
    <div class="span6">
      <h3><a href="{% url profile_link membership.user.username %}" >{% if membership.user.get_full_name %}{{ membership.user.get_full_name }}{% else %}Medlem uten navn{% endif %}</a> </h3>
        {{ membership.story|markdown|wikilinks }}
    </div>
</div>
<br>

{% empty %}

<p>Denne komiteen har ingen medlemmer. Det var rart.</p>

{% endfor %}

{% endblock content %}


{% block sidebar %}

<h3>Nablas komiteer</h3>
<ul class="nav nav-pills nav-stacked">
{% for c in compages %}
    {% if c == com %}
    <li class="active"><a href="{{ c.get_absolute_url }}">{{ c.com.name }}</a></li>
    {% else %}
    <li><a href="{{ c.get_absolute_url }}">{{ c.com.name }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock sidebar %}
