{% extends "base.html" %}
{% load markdown %}
{% load flatpages %}

{% block title %}
    {{ block.super }} - {{ flatpage.title }}
{% endblock %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    {{ flatpage.content|markdown:"unsafe"}}
{% endblock %}

{% block sidebar %}
    {% get_flatpages primary_dir_slashes as about_pages %}
    <ul class="nav flex-column">
    {% for page in about_pages %}
        {% if page.url == flatpage.url %}
            <li class="nav-item"><a class="nav-link active" href="{{ page.url }}">{{ page.title }}</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link"  href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}

        <li class="nav-item" ><a class="nav-item" href="https://nabla.no/englishcom/">Subgroups of Nabla</a></li>

    </ul>
{% endblock %}