{% extends "base.html" %}
{% load markdown %}
{% load flatpages %}

{% block more_head %}
{{ block.super }}
<style>
  .col-md-8 img {
     display: block;
     margin: 10px auto;
     border: 3px solid black;
 }

 .col-md-8 .img_text {
     text-align: center;
     display: block;
     margin-top: -8px; // Reverse img-margin
 }

 .infobox {
     background: #e2e2ff;
     border: 4px solid pink;
     padding: 5px;
     border-radius: 5px; 
 }
</style>
{% endblock %}

{% block title %}
    {{ block.super }} - {{ flatpage.title }}
{% endblock %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    {{ flatpage.content|markdown:"unsafe"}}
{% endblock %}
