{% extends "content/content_detail.html" %}
{% load bbcode %}

{% block readmore %}
    <a href="{% url jobs_detail content.company content.id %}">Les mer og meld deg på her</a>
{% endblock %}

{# over ingress #}
{% block after_headline %}
    {% if content.relevant_for %}
        Denne stillingsannonsen er rettet mot studenter ved {{ content.get_relevant_for_display }}.<br />
    {% endif %}
{% endblock %}


{# etter ingress #}
{% block after_lead_paragraph %}
    <p>
        {% if content.deadline_date %}
            <strong>Søkefrist: {{ content.deadline_date }}</strong>
            {% if content.expiry_date %}
                {% if content.show_expiry_date %}
                    <br />
                {% endif %}
            {% endif %}
        {% endif %}

        {% if content.expiry_date %}
            {% if content.show_expiry_date %}
                <strong>Stillingannonsen forsvinner {{ content.expiry_date }}</strong>
            {% endif %}
        {% endif %}
    </p>
    {% if content.info_file %}
        <p><strong>Vedlagt fil: {{ content.info_file.open }} </strong></p>
    {% endif %}
{% endblock %}
