{% load mediawiki_links %}
{% load markup %}
{% load classname %}
{% load humanize %}
{% load jobs_filters %}

<div class="span4 news_item advert">
	<h2>{{ job.headline }} (<a href="{{job.company.get_absolute_url }}">{{ job.company.name }}</a>)</h2>
	{{ job.lead_paragraph|markdown }}
        <div class="advert_footer"><p><a class="btn" href="{{ job.get_absolute_url }}">Les mer &raquo;</a></p>
	<p><small>Relevant for {{ job.relevant_for_group.all|commas_no }} (årskull: 
                {{ job.relevant_for_year.all|commas_no }}). {% if job.deadline_date %}<br>Søknadsfrist 
                {{ job.deadline_date|naturalday }} kl. {{ job.deadline_date|date:"H:i" }}.{% endif %}</small><br></p></div>
</div>
