{% extends "base.html" %}
{% load markup %}
{% load humanize %}
{% load comments %}
{% load mediawiki_links %}
{% load thumbnail %}

{% block title %}{{ job.headline }}{% endblock %}

{% block content %}

<div class="row"><div class="span8">

    {% if event.picture %}
        <img alt="" width="100%" src="{% thumbnail event.picture 770x250 box=event.cropping %}">
    {% endif %}        

<h2>{{ job.headline }}</h2>
{{ job.lead_paragraph|markdown|wikilinks}}
{{ job.body|markdown|wikilinks}}
</div></div>
<hr>

{% include "content/includes/comments.html" with content=job %}

{% endblock %}

{% block sidebar %}

{% include "content/includes/meta.html" with content=job %}
{% include "jobs/info_include.html" with job=job %}

{% if user.is_staff %}

<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Admin</li>
        <li><a href="#endre"><i class="icon-pencil"></i> Endre</a></li>
        <li><a href="#slett"><i class="icon-trash"></i> Slett</a></li>
    </ul>
</div>

{% endif %}

{% endblock %}
