{% extends "content/content_detail.html" %}
{% load bbcode %}
{% load jobs_filters %}

{% block headline %}
{{ content.headline }} ved {{ content.company.headline }}
{% endblock %}

{% block readmore %}
    <a href="{% url "jobs_detail" content.company content.id %}">Les mer</a>
{% endblock %}

{# over ingress #}
{% block after_headline %}
    {% comment %}
    {% if content.relevant_for_group %}
        Denne stillingsannonsen er rettet mot studenter ved {% for i in content.relevant_for_group.all %}{{ i.studieretning }}, {% endfor %}.<br />
    {% endif %}
    {% endcomment %}
    Denne stillingsannonsen er rettet mot studenter ved {{ content.relevant_for_group.all|commas }}.
{% endblock %}


{# etter ingress #}
{% block after_lead_paragraph %}
    <p>
        {% if content.deadline_date %}
            <strong>Søkefrist: {{ content.deadline_date }}</strong>
            {% if content.expiry_date %}
                {% if content.show_expiry_date %}
                    <br />
                {% endif %}
            {% endif %}
        {% endif %}

        {% if content.expiry_date %}
            {% if content.show_expiry_date %}
                <strong>Stillingannonsen forsvinner {{ content.expiry_date }}</strong>
            {% endif %}
        {% endif %}
    </p>
    {% if content.info_file %}
        <p><strong>Vedlagt fil: {{ content.info_file.open }} </strong></p>
    {% endif %}
{% endblock %}
