.list-container {
  display: block;
}

.list-container h2 {
  font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-container li {
  display: block;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
//  border-bottom: 1px solid #ccc;
  overflow: hidden;
  height: 150px;
  overflow: hide;
  margin-bottom: 8px;
}

.list-container li img {
  float: left;
  margin-right: 10px;
  height: 150px;
}

.list-container li:last-child {
  border: none;
}

.list-container li a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  display: block;
  height: 150px;
  overflow: hide;

  -webkit-transition: color 0.6s ease, background-color 0.3s ease;
  -moz-transition: color 0.6s ease, background-color 0.3s ease;
  -o-transition: color 0.6s ease, background-color 0.3s ease;
  -ms-transition: color 0.6s ease, background-color 0.3s ease;
  transition: color 0.6s ease, background-color 0.3s ease;
}

.list-container li a:hover {
  background: #f6f6f6;
}

.list-container li a .date-text {
    font-size: 12px;
    color: #888;
    position: relative;
    bottom: 15px;
    float: right;
}

.opt{
    border-radius: 15px;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid rgb(221,221,221);
    padding: 7px;
    text-align: center;
    align-items: center;
    display: inline;
    margin-right: 0.28em
}

select{
    border:0px;
    outline:0px;
    padding: 5px 14px;
}

select-items{

}