{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block title %}Endre bruker {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-md-3">
        <img class="thumbnail" alt="avatar"
            {% if user.avatar %}
                src="{% thumbnail user.avatar 150x150 %}"
            {% else %}
                src="{{ STATIC_URL }}img/default_avatar.png"
            {%endif %}>
    </div>

    <form class="col-md-9" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-lg btn-primary">Lagre endringer</button>
    </form>
</div>
{% endblock %}

