{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Endre bruker {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-md-2 centertext">
        <div class="thumbnail">
            {% if user.userprofile.avatar %}
                <img alt="avatar" src="{% thumbnail user.userprofile.avatar 150x150 %}" width = "150" height ="150" >
            {% else %}
                <img alt="avatar" src="{{ STATIC_URL }}img/default_avatar.png" width = "150" height ="150" >
            {%endif %}
        </div>
    </div>

    <div class="col-md-6">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

            <table>
                {{ userForm.as_table }}
                {{ profileForm.as_table }}
            </table>

            <button type="submit" class="btn primary">Lagre endringer</button>

        </form>
    </div>

</div>
{% endblock %}

