{% load humanize %}
{% load jobs_filters %}

<h3>Informasjon</h3>
<table class="table table-bordered table-striped content-info">

    <!-- Fra -->
    {% if job.info_website or job.info_file %}
    <tr>
        <td colspan=2>
            Søk/mer informasjon
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul style="margin-bottom:0;">
                {% if job.info_website %}<li><a href="{{ job.info_website }}">Nettside</a></li>{% endif %}
                {% if job.info_file %}<li><a href="{{MEDIA_URL}}{{ job.info_file.url }}">Vedlagt dokument</a></li>{% endif %}
            </ul>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td style="width:35%;">Bedrift</td>
        <td>
            {{ job.company.name }}
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <ul style="margin-bottom:0;">
                {% if job.company.website %}
                <li><a href="{{ job.company.website }}">Nettside</a></li>
                {% endif %}
                <li><a href="{% url "company_detail" pk=job.company.id slug=job.company.slug %}">Alle stillingsannonser</a></li>
            </ul>
        </td>
    </tr>

    {% if job.relevant_for_group and job.relevant_for_year %}
    <tr>
        <td>Relevant for</td>
        <td>
          {% for group_choice in job.relevant_for_group.all %}
            {{ group_choice.studieretning }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
             (årskull {% for year_choice in job.relevant_for_year.all %}{{ year_choice.year }}{% if not forloop.last %}, {% endif %}{% endfor %})

        </td>
    </tr>
    {% endif %}

    {% if job.deadline_date %}
    <tr>
        <td>Søknadsfrist</td>
        <td>
            <time datetime="{{ job.deadline_date|date:"c" }}">
                <strong>{{ job.deadline_date|naturalday }} kl. {{ job.deadline_date|date:"H:i" }}</strong>
            </time>
        </td>
    </tr>
    {% endif %}

</table>
